[2020-03-28 14:27] eviL-ivan commented on #1612
Hey!

Gogogo Manrope!

[2020-03-28 14:43] bghryct commented on #1612
@lucbas @eviL-ivan Manrope is in for review.

[2020-03-28 15:06] gsbhasin123 commented on #51
Yayy!

[2020-03-28 19:18] arrowtype commented on #2400
I recently made a set of browser tests for `slnt` and `ital` axes, which is relavent here:

https://arrowtype.github.io/vf-slnt-test/slnt-ital-tests/index.html

Once browsers support these, I _think_ Google Fonts won't have to really do anything special to also support it ... but it's still probably important for the team to keep this possible case in mind so they don't design something that _can'

[2020-03-28 21:14] tiroj commented on #1029
Dave and I had a conversation a couple of months ago re. a possible Noto Old Slavonic font* , which is something I'd be keen to make.

There is, of course, a question of style, preferences of which may differ between scholarly and liturgical publishing. Personally, I'd favour a polu-ustav (semi-uncial) based closely on historic manuscript models, which I think would satisfy scholars, but religious

[2020-03-28 21:22] tiroj commented on #2400
I wonder how a bi-directional slant axis for different scripts would work in terms of nomimal 'Italic' named instances? We don't have a mechanism to differentiate left and right slant as a feature of italic for, respectively, Arabic and Latin in the same font. There's one slant axis, applying to both scripts, and only one concept of Italic as a style in applications.

Now wondering if we should ha

[2020-03-28 21:44] arrowtype commented on #2400
@tiroj This gets at the meaningful difference between `slnt` and `ital` axes, beyond just their different names and possible values.

A family that slants different scripts differently should probably use the `ital` axis, where `0` is "normal" and `1` is fully "italic" (a more apt name for this style in multi-script typefaces would probably be "cursive" or perhaps "secondary"). The value of `1` co

[2020-03-29 00:06] Evertype commented on #2400
Maybe you can make text slant both this way / and that way \ but practically speaking in any setting where a RTL like Latin or Cyrillic and LTR like Hebrew or Arabic co-occur (and do remember the formerly-Soviet Turkic languages) the italic slope really does have to be the same for both types of script. If you are quoting, for instance, both Latin and Hebrew italics/obliques in a paragraph of Hebr

[2020-03-29 00:27] tiroj commented on #2400
@arrowtype Consider the possibility of a font that contains both ital and slnt axes, and in which the ital axis 1 setting produces a left leaning Arabic and a right leaning Latin. That still leaves open the question of how the slant axis might apply to each of those italics, and how the notion of slant should be interpreted. As currently spec'd movement on the slnt axis would make the Arabic itali

[2020-03-29 01:31] arrowtype commented on #2400
Caveat: you both probably know more than me about the things I'm about to say, but I'm also trying to be clear for others who may come along and read this later on. :)

@Evertype my knowledge of multi-script graphic design is pretty lacking, so thanks for giving that perspective. How common would you say it is for a paragraph to actually mix RTL and LTR text inline? My vague notion was that multi-

[2020-03-29 09:24] typiconman commented on #1029
An Old Slavonic Noto font might be nice, although what is going to be the target audience? For liturgical publishing, you need something that faithfully represents the Synodal style. For academic use, are you going to put in the work to support all the diacritical marks and ligatures needed for OCS?

We offer two academic fonts: Monomakh and Shafarik (the latter also includes both Round and Angula

[2020-03-29 13:51] ArpanSriv commented on #1412
Please let me know if I can help @marcologous.

I tried running the Google Fonts > QA Script on the glpyhs in the GlyphsApp from @marcologous's repo . (Specifically on the 'sources/Hansenk Grotesk.glpyhs' file since there are two glyph files.)

I got the following output:

`Start
Traceback (most recent call last):
  File "qa.py", line 817, in <module>
    TestProgram(argv=['--verbose'], exit=False

[2020-03-29 13:58] ArpanSriv commented on #1412
I also tried the [Fonts Inspection step](https://github.com/googlefonts/gf-docs/tree/master/MasteringNewFamiliesForGF#design-inspection) and found this:

<img width="370" alt="Screen Shot 2020-03-29 at 7 26 42 PM" src="https://user-images.githubusercontent.com/19208765/77850906-3b0e3580-71f3-11ea-8299-48b8217a91d4.png">

As per my inspection, it looked fine. Anything I had to do here that I'm miss

[2020-03-29 14:11] ArpanSriv commented on #1412
I also ran the fonts through fontbakery @bghryct. Seems like there are a lot of errors to fix. @marcologous

<img width="807" alt="Screen Shot 2020-03-29 at 7 41 07 PM" src="https://user-images.githubusercontent.com/19208765/77851187-3e0a2580-71f5-11ea-87f0-6efca12099af.png">

[2020-03-29 19:29] bghryct commented on #1412
My understanding is that basically all of those fails need to be addressed before gf will consider merging it into the collection.

[2020-03-29 19:31] ArpanSriv commented on #1412
Yes so @marcologous  I'll (try) start fixing these errors and submit Pull Request to your repo? Or you will do them?

[2020-03-29 23:45] tiroj commented on #1029
I have academic publisher clients who expressed interest in kicking in some money to fund development of suitable Old Slavonic fonts, which would include support for all diacritical marks and other features of OCS texts. But as you note, for liturgical publishing one would need something in Synodal style, and I don't know whether the palaeographers and textual scholars in the academic field would

[2020-03-30 07:16] antonija-nosto commented on #1412
I have very basic knowledge about creating fonts but if somebody wants me to help I am available.

[2020-03-30 09:07] typiconman opened #2403 "Add fonts for Church Slavonic support"
Add Ponomar Unicode font, which would provide the necessary glyphs for Church Slavonic.

* The repository is here: https://github.com/typiconman/fonts-cu
* The binary fonts are here: https://sci.ponomar.net/fonts.html

It would be nice to add some of the other fonts as well, but at least Ponomar Unicode is needed for proper support of Church Slavonic.

[2020-03-30 09:08] typiconman commented on #1029
I created the issue here: https://github.com/google/fonts/issues/2403

[2020-03-31 08:17] marcologous commented on #1412
Hi @ArpanSriv , it would be great to get some help in doing the fixes!

[2020-03-31 08:19] marcologous commented on #1412
@antonija-nosto I think of myself as a type designer in progress as well! Hanken Grotesk is one of my first typefaces and over the years I did not get a great opportunity to do a practical assessment of it. But your help will be greatly appreciated!

[2020-03-31 17:53] gitfib opened #2404 "Incorrect character in Acme font"
Character ^ (U+005E) appears as = (U+003D). It can be reproduced in the [Google Fonts website](https://fonts.google.com/specimen/Acme)
I'm also not sure about ˆ (U+02C6) but I'm not an expert

[2020-04-02 14:30] nattri opened #2406 "PT font displaying Russian Ruble symbol (₽) instead of Rupee symbol (₹)"
PT font displaying Russian Ruble symbol (₽) instead of Rupee symbol(₹) in almost all latest browsers like chrome / Firefox / Edge in window 10.
I could find an old similar bug - https://bugzilla.redhat.com/show_bug.cgi?id=1192818.
I have added an image where i am putting rupee symbol from inspect tool which is displaying as Ruble on webpage.

<img width="1680" alt="Incorrect-rupee-symbol" src="htt

[2020-04-02 14:55] ctrlcctrlv commented on #2071
Update: While working on another font I do believe I've solved the problem of determinism

[2020-04-02 15:12] eliheuer commented on #2071
@ctrlcctrlv Would you have time to work on this with me next week? I want to clean up the outlines as much as possible to reduce file size and work well with interpolation. Would you be open to the idea of working with UFO sources in FontForge?

[2020-04-02 15:15] eliheuer commented on #2071
I have nothing to do this weekend, so I think I'm going to try working on a PR to GoogleFonts for Chomsky on Twitch.

[2020-04-02 15:20] ctrlcctrlv commented on #2071
Wish I could buddy but I'm working on a commission.

UFO is not totally usable for my fonts. It needs to be an intermediary format. Reason being UFO can't hold Spiros. Perhaps I could patch a UFO format extension into FontForge. @frank-trampe needs to weigh in though for that to get off the ground.

[2020-04-02 15:25] eliheuer commented on #2071
Ok thanks, let's try to make sfd work. It would be interesting to see Spiro support in UFO.

[2020-04-02 15:28] eliheuer commented on #2071
@ctrlcctrlv I might need to just clean up the outlines in UFO to make this pull request to GF work, would you be open to me making a pull request that adds cleaned up UFO sources to your upstream repository?

[2020-04-02 15:52] ctrlcctrlv commented on #2071
I'm not sure that "clean" and "interpolatable" necessarily coexist in this case :-)

Interpolatable yes, clean as in "not having extra points", unfortunately no.

You can increase determinism by checking if both splines are interpolatable. If they're not, add more points than would normally be necessary in Spiro more to both splines. In my experience doing this right leads to complex outlines whic

[2020-04-02 16:02] frank-trampe commented on #2071
@ctrlcctrlv, I have a few ideas for adding Spiro support to UFO. Open an issue back in FontForge land when you have some time, and we can discuss further and perhaps draw Glyphs George in too.

[2020-04-02 16:06] eliheuer commented on #2071
Ok, so would you be open to a PR that adds secondary UFO sources to the upstream repo as a temporary fix just to get this issue moving forward @ctrlcctrlv? It's ok if you aren't interested in doing that, I'm just wondering if you would be open to accepting a PR.

I'm sure the [Norad](https://github.com/linebender/norad) project would be interested in Spiro support for UFO as well.

[2020-04-02 16:09] ctrlcctrlv commented on #2071
I would prefer you add a new layer to the SFD and draw them there. Then to export to UFO use FontForge's `Copy Layer to Layer` function.

I might be willing to throw away the Spiros entirely if you did that. This font doesn't really need them, I just draw all my fonts with them because that's the way I learned.

[2020-04-02 16:12] eliheuer commented on #2071
Awesome thanks, that's a good idea, I didn't think of that! I will start on this today.

[2020-04-02 16:16] ctrlcctrlv commented on #2071
Sure :)

Chomsky's build scripts can be easily hacked to do the copy layer or not. If you redraw everything I can deprecate the Spiro build, I'm fine with that

[2020-04-02 16:37] virgofx commented on #2386
Version 3.12 includes the italic variable font. @m4rc1e Anyway to get this included?

[2020-04-04 15:04] estaub opened #2407 "Add IBM Plex Sans Var Italic, IBM Plex Sans Var Roman"
These variable fonts were added to the Plex family a year ago.  They provide a much more efficient way to download a variety of weights.

Source: https://github.com/IBM/plex/tree/master/IBM-Plex-Sans-Variable/fonts/complete/ttf
Demo: https://www.axis-praxis.org/specimens/ibmplex

[2020-04-04 20:59] malkhuzayyim opened #2408 "Issue in Arabic Font: Aref Ruqaa"
Hi,

Using this font: https://fonts.google.com/specimen/Aref+Ruqaa?subset=arabic

On iOS latest version has a certain issue in one of the forms of the letter ك
Check the codepen link on any iphone to see what I'm talking about: https://codepen.io/malkhuzayyim/pen/ExjBKwy?editors=1100

Not sure if this is the correct place to report such issues, if not please let me know who to contact about this.

[2020-04-06 08:00] thlinard commented on #2408
Hi,

You can report this issue here: https://github.com/alif-type/aref-ruqaa/issues

[2020-04-06 10:14] antonija-nosto commented on #1412
I am unsure of what to do to help. If you would give me a task I would do anything in my power to make this typeface appear on google fonts.

[2020-04-07 03:01] KiwiBird97 commented on #6
This is affecting Canvas LMS on platforms other than macOS. Lato is one of my favorite fonts!

[2020-04-07 08:46] avatarFilip opened #2411 "Fredoka one missing Latin Extended"
Hello,
I have created some Latin Extended characters to Fredoka One font - This beautifull font is useless in my native language without it. Is it possible to make it official? What should I do to get these characters to google fonts?
Thank you
F.

![image](https://user-images.githubusercontent.com/63286371/78648785-c99e4900-78bc-11ea-9b40-1db4354db981.png)

[FredokaOneCZ.zip](https://github.com/g

[2020-04-07 09:49] thlinard commented on #2411
Unfortunately, issue #1677 is still pending, but maybe you could contact @hafontia to offer your additions to its version (which is much more advanced than the version currently distributed by Google Fonts).

His repo is here:
https://github.com/hafontia/Fredoka-One

[2020-04-07 10:24] thlinard commented on #2400
Alongside Greta Text for Hebrew, FF Amman is an example of a Arabic typeface with a real Italic (as opposed to slanted uprights): the upright contains a Naskh script, the italic contains a Ruqʿah script (see one of the last illustrations on https://yanone.de/fonts/amman/: the same Arabic text in Naskh style and in Ruqʿah style).
![FF Amman ](https://yanone.de/2015/data/UIimages/UIimages_109_svgz_f

[2020-04-07 10:47] yosiasz commented on #2373
Hello @laerm0 hope all is well where you are at. Any update on this font?

[2020-04-07 17:39] laerm0 commented on #2373
Oh haha, I got back to you on your repo before I even saw this message. 😁

[2020-04-07 17:41] laerm0 commented on #2400
(Ooh, that's a fine Ruq'ah, @yanone .)

[2020-04-08 01:22] malkhuzayyim commented on #2408
Awesome thank you.

[2020-04-08 01:22] #2408 closed

[2020-04-08 12:56] monmonja opened #2413 "css2 not valid with ampjs"
Got this error
```External stylesheets not supported, except for whitelisted font providers. Use the document inline 'style amp-custom' tag instead.```

i copied paste from the google fonts website
```<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap" rel="stylesheet">```

but when i change it back to css instead of css2, amp validates it
```<link hre

[2020-04-08 13:03] monmonja commented on #2385
have you tried preload as style at the top of header, before your scripts, then just before you close the header you link rel="stylesheet" the same url

[2020-04-09 01:03] davelab6 commented on #2413
Thanks for pointing this out. We'll connect with the amp team :)

[2020-04-09 06:16] leafac opened #2415 "PT Mono is missing bold"
It’s available [elsewhere on the internet](https://www.1001fonts.com/pt-mono-font.html).

Can you please help me add it?

[2020-04-13 05:52] bettergui opened #2419 "Update Viaodalibre font family (1.000 -> 2.000)"
We would like to update this font family. Thanks to your helps launching earlier this year, we have achieved 100K+ font served and 900 sites featured within 3 months. Since then, we have collected and addressed user inputs, including your feedback in #2241.

Pull request: https://github.com/google/fonts/pull/2418
Repo & changelog: https://github.com/bettergui/ViaodaLibre

Changes summary:
- The nu

[2020-04-13 08:46] RimeOCRLIB opened #2420 "Yagpo Tibetan Unicode font upload to Google Fonts request."
Good day.
Pease consider opportunity add Yagpo Tibetan Unicode and Yagpo Tibetan Sambhota Unicode  font to Google Font project.
[YagpoFont.zip](http://www.buddism.ru/YagpoFont/YagpoFont.zip)
Main information about this 2 fonts:
1. Yagpo Tibetan Uni and Yagpo Tibetan Sambhota Uni it is Tibetan Unicode OpenType font which support full 0x0F00 and GB18030 code table and additional 4400 ligatures. It c

[2020-04-13 14:33] davelab6 commented on #610
@Gue3bara was this fixed in your update?

[2020-04-13 21:48] cssobral2013 opened #2421 "Add Open Sauce Sans to Google Fonts"

[2020-04-14 11:01] Gue3bara commented on #610
Yes

[2020-04-14 23:13] bazzadp commented on #2385
Duplicate of #2315 ?

[2020-04-16 11:30] brosahay opened #2424 "Quicksand missing semibold ttf"
Hi,
When I download Quicksand from https://fonts.google.com/specimen/Quicksand
I get an additional Semi Bold ttf which has a weight for 600. I do not see that in the repository here. Is there something I am missing ?

[2020-04-16 12:20] m4rc1e commented on #1612
Family is now available on Google Fonts, https://fonts.google.com/specimen/Manrope

[2020-04-16 12:20] #1612 closed

[2020-04-16 14:06] aashutoshrathi commented on #1612
I have been following this issue since May 2019.
Today I finally removed `.ttf, .otf` from my personal website.
Thanks.

[2020-04-16 15:38] thejulianw opened #2425 "Inter character rendering issue when exporting GSlides to PDF"
Using **Inter** in Google Slides and exporting the deck to PDF renders the capital A character wrongly when viewing the PDF in Preview (macOS). Opening it in Google Drive's preview works fine.
This is said to be an issue on Googles side, since the font works flawlessly everywhere else.

<img width="221" alt="EVuFIUrWoAA-RiS" src="https://user-images.githubusercontent.com/63803032/79476135-e3503680

[2020-04-16 15:47] sladen commented on #2425
Julian: Root cause is handling of overlaps.  However to allow please provide the exact PDF.   (Or a self-contained example PDF also exhibiting the problem).

[2020-04-16 16:21] thejulianw commented on #2425
Hi sladen,

thank you, I attached an example PDF and a screenshot of how it looks on my Mac when opened in Preview.
The PDF was created by building a slide in Google Slides, then exported to PDF by going "File" -> "Download" -> "PDF Document (.pdf)"

Some of my colleagues have the same issue, whereas others report it looks normal on their machine (all running latest macOS).

<img width="946" alt="

[2020-04-16 16:35] fanninpm commented on #13
For those of you tired of waiting for it to show up on Google Fonts, it's available on [brick.im](https://brick.im/).

[2020-04-16 18:34] lucbas commented on #1612
Fantastic news!
Thanks to everyone to make this happen.

Will it also be available in Google Docs?

[2020-04-17 20:32] psb1558 commented on #2370
Well, I think I'm going to retire this issue, as it seems to be going nowhere.

[2020-04-18 00:22] xotypeco opened #2426 "Update Big Shoulders from v1.0 to v1.1"
https://github.com/xotypeco/big_shoulders

this updates Big Shoulders from 1.0 to 1.1, and adds Big Shoulders Inline and Big Shoulders Stencil

some notes from fontbakery results

1) in Big Shoulders Inline: fail because the UPM is set to 4000. this is a detailed typeface with several outlines per glyph, so 4000 was the smallest grid I could use. 2048 was pointed out as largest allowed grid.

2) i

[2020-04-19 09:27] winstondaffon commented on #1612
Looking forward to this in Google Slides! Any update? It's already a Google Font but I can't seem to find it within Slides whenever I browse through the fonts list.

[2020-04-19 17:56] citizenkade opened #2427 "Colon character displaying incorrectly in Merriweather at Bold 700 font weight"
Reproduction:
1. Link to the Merriweather font-family via Google API.
2. Set any text element containing a colon character ( : ) to font-family "Merriweather" and font-weight "700".

<img width="1440" alt="Screen Shot 2020-04-19 at 12 46 36 PM" src="https://user-images.githubusercontent.com/9668003/79695501-d3209d00-823c-11ea-8dd9-a7898374b63a.png">

Note that this problem does not show up on the

[2020-04-20 07:27] alirezaazami commented on #1457
hi now your font has problem in italic weight with Persian text and show squire

[2020-04-20 09:04] thlinard commented on #2425
The PDF looks fine in Adobe Acrobat, but wrong in Apple Preview.

[2020-04-20 20:37] MasterKelli commented on #610
Where is the fixed font available? Google Fonts and https://github.com/Gue3bara/fonts still have the bugged colon Teko Medium.

[2020-04-21 01:15] Alexufo commented on #565
Any news?

[2020-04-21 07:13] tsmwa opened #2428 "Can’t add my downloaded fonts to slides"
I have downloaded a font onto my iPad from google fonts and saved it to my Dropbox because there seems to be nowhere else to put it. So when I go to put the font in my slides there is no button to do this. I’ve looked it up and it says that in the fonts dropdown there should be a more fonts option but there isn’t can someone help me?

[2020-04-21 18:36] chandanndeep opened #2429 "What is different between"
Hello to all,

Please help me. Which one is correct.
Baloo Paaji in Single quote or Double quote.

Single Quote
`font-family: 'Baloo Paaji', Arial, Helvetica, sans-serif;`

Double Quote
`font-family: "Baloo Paaji", Arial, Helvetica, sans-serif;`

Thanks,
Chandan

[2020-04-21 21:42] davelab6 opened #2430 "Maven Pro name tables"
https://github.com/google/fonts/tree/master/ofl/mavenpro is a VF, but a user is reporting a problem with the static instances in MS Office:

[2020-04-21 21:42] davelab6 commented on #2430
@felipesanches could you reproduce this?

[2020-04-21 22:13] davelab6 commented on #2430
A different user said, with no specific family issue:

Would be good to understand which families this happens to, if not all

[2020-04-21 22:38] c-tanner opened #2431 "Semicolon delimiter between font weights breaks Webpack-compiled CSS"
The semicolon delimiter used for multiple font weight selections breaks the compiled CSS when using SCSS / Webpack.

SCSS:
[code]

Compiled CSS:
[code]

I'm assuming Webpack sees the semicolon as a line-ending character and puts the following text on a new line. This causes the import to fail.

[2020-04-21 23:38] graphicore commented on #2431
It would be interesting to hear what the Webpack developers think about this. It looks to me like the url parsing of the `@import` rule is broken and should be fixed. I.e. the (single) quotes in `@import url('{the url}')` seem to be ignored. But the quotes make a big difference in how to parse the url.

[2020-04-22 16:28] davelab6 commented on #2426
That check result need to be improved further; I filed https://github.com/googlefonts/fontbakery/issues/2827#issuecomment-617885734 to address this, and you can ignore it for now.

@m4rc1e please add instructions on how to resolve this to the FB check result text and let @xotypeco know here :)

Please post the exact FB result on your repo as an issue, so we can investigate it there :)

[2020-04-22 16:37] xotypeco commented on #2426
thanks @davelab. didn’t see that comment on FB, the increased UPM worried me since Big Shoulders Inline is such a weird edge case. will post fb results on the repo.

[2020-04-22 19:43] thlinard commented on #2430
Hi @davelab6

The name table is fine, the problem comes from the STAT table. Remove it from the static files (only those generated on https://fonts.google.com, the statics here are good) and Word will be happy.

[2020-04-23 08:13] m4rc1e commented on #2426
Please don't generate the fonts using glyphsapp. Use fontmake and you'll get the HVAR and avar tables.

I've been writing some [documentation](https://github.com/googlefonts/gf-docs/tree/master/Spec) which should clear some of these issues.

[2020-04-23 10:31] thejulianw commented on #2425
That is true, it also looks fine when viewing in Google Drive for instance.
Some of my colleagues even say it looks good in Preview for them, however, another colleague and I can't get it to work for us in macOS Preview.

[2020-04-23 18:12] thlinard commented on #2391
Update on the latest VF released:

- Exo and Exo Italic: no `AxisValue`.
- Jost: no `AxisValue`.
- Manrope: no `AxisValue`.
- Inconsolata: the first VF Google Fonts with a correct `STAT` table!! There is different entries in the `name` table for `fvar` and for `STAT`, and ` Flags value="2"` for the Regular. No range provided, which is a shame for the user experience, but it's a big improvement non

[2020-04-23 19:01] Lorp commented on #2391
Great to hear that Inconsolata is fixed – the build of April 1 looks perfect, except for the addition of Format 2 ranges which might be nice as @thlinard mentions. Nice work, @m4rc1e.

Since I last posted on this thread, Samsa has been updated to handle Format 4 axisValueTables, so the old and new versions of Inconsolata can be usefully compared.

[2020-04-23 19:07] rexdesigndk opened #2433 "Inter Line Height Issues (Firefox)"
**Describe the bug**
For some reason Inter from Google fonts have line height inconsistencies on Firefox. I've tested on multiple pc's and the issues consist.

Other fonts doesn't have this issue. The issues only appears to happen in Firefox with Inter.

**To Reproduce**
1. Go to [Example 1](https://shop.rexdigital.group/ ) using Firefox.
2. Inspect the buttons with the dev tool. You can clearly s

[2020-04-23 19:36] tiroj commented on #2391
On the subject of range definition in the STAT table, this format was initially targeted at the opsz axis, to enable the STAT table to define the range of intermediate sizes at which an opsz named instance should be used, since this isn't derivable from the names of the instances and is design-specific.

I noted when examining the STAT table in Adobe's Source Serif Pro that it defines ranges for t

[2020-04-23 20:46] xotypeco commented on #2426
fontmake still pukes on the brace layers. to verify: is that an expected result?

you & @yanone worked around that with a script he'd made, back in the fall, but I thought I remembered it was to be a nonissue by now.

if the failure is an expected result I’ll just grab his script and proceed per your notes from back then.

[2020-04-23 20:56] Krishnanandkg commented on #1717
1. i downloaded Noto Sans pack from :
https://www.google.com/get/noto/

2. Opened :
https://www.fontsquirrel.com/tools/webfont-generator.

3. Uploaded only the fonts that i need.,

4. Got the generated webfonts, which can be used in your web app.

[2020-04-23 21:58] laerm0 commented on #2426
There's a script to fix brace layers? Huh. Didn't know that. I've just been doing them in a .designspace like so:

[code]

This would swap the `e` with `e.bold` at weights greater than 330 (and that's not _user_ weight space, that's _design_ weight space, in case your stem weights aren't at the even 400 Regular/500 Medium/etc weight break points).

This goes in after the `</instances>` stuff is cl

[2020-04-24 06:37] Lorp commented on #2391
BTW @m4rc1e is there any reason that the variable versions of Source Serif, Source Sans and Source Code are not on Google Fonts?

[2020-04-24 07:14] m4rc1e commented on #2391
@Lorp lack of time mainly. It takes a while to diff a VF against statics to ensure there are no regressions.

[2020-04-24 09:25] thlinard commented on #2433
The example you give uses Archivo…

[2020-04-24 09:27] #2433 closed

[2020-04-24 09:28] rexdesigndk commented on #2433
Ye sorry i just switched font. Didn't wanna leave it as it was on a live website.

[2020-04-24 09:57] thlinard commented on #2391
Hi @tiroj

Well, I presume the same result could be achieved by algorithmic methods. The goal here is to provide a more meaningful composed name.

For example, for wght=600 and for wght=539, "Source Serif Variable Semibold" and "Source Serif Variable Semibold[529]" are seen as more desirable outcomes (for a UI based on the `STAT` table) than "Source Serif Variable Semibold" and "Source Serif Varia

[2020-04-24 12:45] yanone commented on #2426
These are the scripts that I wrote: https://github.com/yanone/Yanone-GlyphsApp-Scripts

[2020-04-24 12:52] xotypeco commented on #2426
perf. thanks much; I had completely forgotten about the flattening step.

[2020-04-24 16:48] tiroj commented on #2391
But do you need _ranges_  to obtain those results? I'm questioning whether a format 2 axis value table is necessary for the purposes you describe, or if a format 1 table would always be adequate for the wght axis (and probably the width axis), since the axis scales are so clearly defined and not design-specific in the same way that opsz is. If the wght scale were not mapped to the CSS weight class

[2020-04-24 17:03] tiroj commented on #2391
But in that case, I'd argue that the default value should actually be ‘Source Serif Variable Medium 529’, because Medium is the default for the nearest standard weight class value (500). The STAT table axis value record is providing a record of relationships between named instances, but composed names for arbitrary instances on standardised scales could derive from the scales rather than the, as i

[2020-04-24 17:35] Lorp commented on #2391
In principle, absolutely. When a non-linear formula is expressed in piecewise linear steps, the “half way” points between the mappings must also be mapped non-linearly to be mathematically correct. Aesthetic or pragmatic judgement might take precedence over the linear or non-linear mid-points in any case.

Regarding “nearest value mapping”, it would be a useful heuristic for composing names in the

[2020-04-24 20:54] thlinard commented on #2391
This debate reminds me a bit of the debate "nameID 16-17 vs. nameID 21-22". Well, Adobe chooses for Source Serif Variable:

- Regular: `RangeMinValue value = "350.0"`, `RangeMaxValue value = "500.0"`
- Semibold: `RangeMinValue value = "500.0"`, `RangeMaxValue value = "650.0"`

We would have wished that Adobe (or Frank Grießhammer) used their freedom a little less and conform to a predefined set of

[2020-04-25 08:48] markus-hsk opened #2436 "ASAP-Font Strikethrough issue in Firefox"
I stumpled upon an issue with the ASAP-Font in Firefox, if the text should be striked through. No problem with other browsers. But in firefox the striking line is not centered over the text, it is placed under the text (like an underline). Cannot really explain the behaviour, so some screenshots:

### How it looks using Firefox:
![firefox](https://user-images.githubusercontent.com/13730463/8027543

[2020-04-25 19:09] thlinard commented on #2436
I'm using Firefox 75 on macOS and I don't see the problem on the exemple you're giving.

But perhaps there is a version of Firefox (Windows version?) which depends on the yStrikeoutPosition property of the OS_2 table, which is indeed 0 with Asap (which is incorrect, but this property is rarely checked these days).

[2020-04-25 19:23] tiroj commented on #2391
See, my reading of the Source Serif Pro variable STAT table is that Adobe _did_ conform to the predefined set of weights; they just opted not to define a _named_ instance for every weight in the set. Based on the format 2 wght ranges specified, the implied but unnamed Medium weight is at 500. So what the STAT table is saying is that _non-variable environments_ should use the Regular for everything

[2020-04-25 19:24] thlinard commented on #2436
Useful information:
https://www.harbortype.com/blog/the-state-of-underlines-and-strikethroughs/

[2020-04-25 19:36] thlinard commented on #2436
Btw, Asap VF Beta has `yStrikeoutPosition value="314"`, which seems good.

[2020-04-25 20:45] markus-hsk commented on #2436
Okay, weird stuff. Not completly understanding the contents of you given link. A font specifies the position of the striketrough line. A bunch of applications handles them correctly (like Firefox), others does not (Chrome). Did i get it right?

I'm using FF 75.0 on Win10 (added these informations to the first entry too).

Am i able to affect the position value? Is there a special css attribute, i

[2020-04-25 21:52] thlinard commented on #2436
Yes, you get it right.

Until a fix is published, you can specify the height by a CSS property. For example, try something like:

[code]

[2020-04-26 14:42] volkanalkilic commented on #2199
same here

[2020-04-26 19:27] xotypeco commented on #2426
I have all these files generating correctly; a few questions for @m4rc1e, @yanone and possibly @davelab6 before re-committing finals. mostly about outputting as variable.

1) what stood in the way of hosting variable Big Shoulders on Google Fonts in its initial release? there's not one there, despite the project being specifically made for that purpose.

2) I want to upload these font files with s

[2020-04-27 08:45] m4rc1e commented on #2426
Time. It takes longer to produce a VF which conforms to our spec. We also didn't support variable fonts with multiple axes when we released v1 of the family.

For VFs with an "opsz" axis, we expect the instance names to use point sizes e.g

`32pt Bold Italic` or `12pt Regular`

https://github.com/googlefonts/gf-docs/tree/master/Spec#instances

Once we have a single VF with the correct instance nam

[2020-04-27 10:20] sodongit commented on #399
Is there any news about when this bug is going to be fixed yet?

[2020-04-27 13:57] Lorp commented on #2391
@tiroj: Your description of STAT Format 2 is interesting, and helps me understand how older apps can make best use of variable fonts, and also how static fonts such as Sitka can make best use of STAT. One clarification would be useful: are you saying that the process in Windows non-variable environments is to use STAT to compose the subfamily name (based on the point size, weight and style), then

[2020-04-27 14:14] xotypeco commented on #2426
thanks @m4rc1e I had forgotten.

making sure I’ve got this right:

in the case of Big Shoulders, since it's 2 axes, names would be

10pt Thin, 72pt Thin
10pt Light, 72pt Light
10pt Regular, 72pt Regular

and then statics would remain broken into two families, Text and Display, to correspond with existing statics, e.g.

Big Shoulders Text-Thin, Big Shoulders Display-Thin
Big Shoulders Text-Light, B

[2020-04-28 00:36] tiroj commented on #2391
I mean Named Instance in the fvar sense; I'll try to remember to capitalise it like this to avoid ambiguity. A Named Instance has a specific axis location in the design space, but by specifying a range using a format 2 STAT axis record, one can associate a Named Instance with a larger area of the design space. But that seems to me primarily relevant to non-variable environments, because in a varia

[2020-04-28 08:53] m4rc1e commented on #2426
@davelab6 I'm not too sure what we should do in this situation.

We currently have Big Shoulders released as two families, Big Shoulders Text and Big Shoulders Display. If we release a VF which contains an opsz axis, we won't need both families anymore. Can we safely deprecate the V1 family and serve v2 as a single family? I'm concerned that we may break existing docs on gsuite.

[2020-04-28 14:34] xotypeco commented on #2426
@m4rc1e that'll break everything in all the city government offices and all the city websites, which we can't do right now. the web and social is basically running the city's COVID-19 operations, and that is critically important to the community.

is it a problem to you to make variable family weight names different from statics? changing variables and web-served fonts to different names might be

[2020-04-28 15:25] khaledhosny commented on #1426
Can you please please update the font? I’m regularly getting reports about bugs I fixed years ago. There have been 3 releases, roughly one per year since the font was last updated on Google Fonts, my release rate is not that overwhelming.

[2020-04-28 15:52] m4rc1e commented on #1426
@khaledhosny feel free to submit a pr and we can review it.

[2020-04-28 16:02] m4rc1e commented on #1426
Would it be possible to rename the "Slanted" styles to "Italic"? AFAIK, our api doesn't accept slanted.

[2020-04-28 16:14] m4rc1e commented on #1426
Alright, pr sent https://github.com/google/fonts/pull/2437. I'll get back to you if we need anything fixed.

[2020-04-28 16:28] tiroj commented on #2391
cc. @PeterConstable

[2020-04-28 17:01] davelab6 commented on #2391
Where is the script to reproduce the test? :)

[2020-04-28 17:13] xotypeco commented on #2426
city response: just tell us what new files are and we can adjust. but not now.

we need to pause this process until the pandemic calms down, since this will generate a change in files. T needs to install files on laptops for people without admin access—and most are away from the office right now.

additionally, the communications office is doing a couple new public pieces every day, so we can't di

[2020-04-28 22:09] thlinard commented on #2391
Hi @davelab6

You're welcome! 😆 It was a very manual test (ttx the fonts, and I simply looked at the result with my very eyes), so, sorry, no script.

But I can give the specifications of such a script:

- Fail when there is no `Axis` or no `AxisValue` in the STAT table.
- Fail when `namerecord` `nameID` are shared between the `fvar` and the `STAT` tables.
- Fail when `namerecord` value for `STAT`

[2020-04-29 15:27] PeterConstable commented on #2391
"Also worth considering and, as the table shows, implemented in the Source* fonts, is the use of Format 3 axisValues for an additional elidable Regular (400) record in Weight that declares Bold (700) as stylistically related."

IIRC, Adobe brought up the idea of an additional AxisValue format that defines both a range and a style-linked value. I forget now if it hasn't been pursued because they ju

[2020-04-29 15:47] PeterConstable commented on #2391
"On the subject of range definition in the STAT table, this format was initially targeted at the opsz axis, to enable the STAT table to define the range of intermediate sizes at which an opsz named instance should be used, since this isn't derivable from the names of the instances and is design-specific."

IIRC, format 3 was originally designed having in mind opsz _in static-instance fonts_, not i

[2020-04-29 16:25] PeterConstable commented on #2391
OK, read through the thread.

I think it's fair to say that the original design intent for format 2 ranges was for non-variable scenarios. That first of all meant non-variable fonts, to supersede the OS/2 format 5 usLowerOpticalPointSize and usUpperOpticalPointSize fields and the 'size' feature. (I'm sure neither of those would have even been considered if a STAT table had existed.) But clearly th

[2020-04-29 16:35] tiroj commented on #2391
To clarify, is the fallback font in this example a variable font? If the environment supports variations, surely what should be used is wght=500, since that is what is specified for the content, regardless of whether wght=500  is also a Named Instance and regardless of any STAT table wght axis record range for such an instance.

[2020-04-29 16:46] PeterConstable commented on #2391
Yes, that makes sense for the example I gave.

[2020-04-30 10:25] typiconman commented on #2403
Any chance this can get resolved some time soon?

[2020-05-02 23:17] iNoSec commented on #937
For those who use any jetbrains IDE, you will have this same message

The root cause is using the Live Edit function of your IDE, after turn off this feature (very useful sadly) all is ok.

Just to help some guys like me who dont want to add some request header to change CORS policy

[2020-05-03 02:59] #2420 closed

[2020-05-03 15:51] xconsau opened #2442 "Add new font - Kumbh Sans"
Hello,

Please find my submission "Kumbh Sans" to be considered for the Google Fonts Collection.

Project URL: https://github.com/xconsau/KumbhSans

The font has been tested from my side as per Google Fonts [Project Specification](https://github.com/googlefonts/gf-docs/tree/master/Spec).

I would like to get design assistance, suggestions and refinement feedback from the staff and the community. I

[2020-05-03 18:16] xotypeco commented on #2426
@m4rc1e @davelab6 I’ve added revised vfs and ttfs per the above conversation. I named statics with human-readable names so they don't break for city employees replacing their existing files.

fontbakery reports are attached to the 1.1 files

the only fails are

1) pertaining to the weights of the fonts, complaining that they're not at 100-unit increments, but it's looking at the interpolation valu

[2020-05-03 18:53] obskyr commented on #1629
Is this issue what lies behind the issue I'm having, perhaps?

The following simple page ([live demo](https://codepen.io/opensesam/pen/MWaOrNx)) renders differently on mobile and PC:

[code]

On Chrome on Windows:
![High baseline on PC](https://user-images.githubusercontent.com/4363779/80922664-92d32a00-8db9-11ea-842a-66f15e2e61b1.png)

On Chrome on Android:
![Low baseline on mobile](https://user-

[2020-05-03 19:37] obskyr commented on #1629
Alright, I managed to "fix" this by using [FontSquirrel's webfont generator](https://www.fontsquirrel.com/tools/webfont-generator) with its "auto-adjust vertical metrics" option. It seems, then, that the version of Coiny that Google Fonts hosts (and perhaps even the upstream font?) has broken vertical metrics that act differently across platforms.

[2020-05-04 10:15] m4rc1e commented on #1040
Jost has landed, https://fonts.google.com/specimen/Jost?vfonly

Thanks @EwonRael and @bghryct for your hard work on this.

[2020-05-04 10:15] #1040 closed

[2020-05-04 11:29] EwonRael commented on #1040
Looks Great! My name is in all caps though which looks a little funny.

Is it possible to include link to indestructible type* website when foundry is mentioned in description?

Thanks for all the help and support this is very exciting!

[2020-05-04 11:32] m4rc1e commented on #1040
We'll roll and update in a week or two. Thanks.

[2020-05-04 13:01] VasilikiLoukoumi commented on #2298
I have found that unicode range fixes the issue. But, I wish there was a 'global' unicode range that works for this font. (Is there?) I found unicode ranges in here [(https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400;700;800;900&display=swap)] but with each font weight come many different unicode ranges. It seems like we have to include many font files, each with its own unicode

[2020-05-04 13:16] markus-hsk commented on #2436
@thlinard Thank you for the workaround. Now it looks pretty equal under all tested browsers. Now i can sit back and wait if something happens here ;-)

[2020-05-04 13:35] textarea commented on #2298
Hello @VasilikiLoukoumi, which is the unicode range you found that fixes the issue?

[2020-05-04 13:42] ddamato opened #2445 "Jost doesn't allow italics along with regular weights"
Here's a [codepen](https://codepen.io/fauxserious/pen/ExVbzGN?editors=0100) outlining the issue.

In an attempt to have the variable font Jost load with a range of weights between 300 and 800 along with an (or any) italic weight. The italic glyphs don't render along with the regular font. If I swap this out for Muli, everything works as expected (italics are applied to `<em>` elements, for example

[2020-05-04 13:50] VasilikiLoukoumi commented on #2298
Hello, you have to use many, not one. If for example you have to use the Gothic A1 Thin font ,
you have to copy the css shown in this google fonts url ->[]( https://fonts.googleapis.com/css2?family=Gothic+A1) As you can see it contains many woff2 files and different unicode ranges for each one of them.

[2020-05-04 14:00] m4rc1e commented on #2445
Thanks for the testcase.

Ok, I've worked out what's happened. We were meant to [push](https://github.com/google/fonts/pull/2338#issuecomment-611392662) this family without the italic instances enabled since Chrome doesn't handle the "ital" font axis yet. You'll notice that your codepen does work in Safari.

We'll re-enable the Italic instances once Chrome has better support.

[2020-05-04 14:07] textarea commented on #2298
Ok @VasilikiLoukoumi, but I didn't understand how to fix the issue. Which is the right unicode range for the Thin font (for example)?

[2020-05-04 14:20] VasilikiLoukoumi commented on #2298
If you place this <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap" rel="stylesheet"> on your html head tag, the ellipsis will work.
If you want to self host the files you have to download **all** the provided links (eg 1 -> https://fonts.gstatic.com/s/gothica1/v8/CSR94z5ZnPydRjlCCwl6ac0oQNM8ru4reAXaTlFCBXrC-se62sS-fg.0.woff2, 2 -> https://fonts.gstatic.com/s/go

[2020-05-04 14:35] textarea commented on #2298
@VasilikiLoukoumi it doesn't work, https://jsfiddle.net/textarea/o1f3dp2j/35/

[2020-05-04 14:41] VasilikiLoukoumi commented on #2298
I can see it working in my browser. If you care about older browsers this does not work, you need a woff file as well. [](url)
![Screenshot 2020-05-04 at 17 38 54](https://user-images.githubusercontent.com/24655237/80978106-4a098880-8e2e-11ea-867a-211f2db05709.png)

[2020-05-04 14:44] textarea commented on #2298
I'm with Chrome 81 on MacOS.

![Schermata 2020-05-04 alle 16 43 17](https://user-images.githubusercontent.com/1927403/80978490-69041c80-8e26-11ea-9a6b-edbc8c24eea3.jpg)

[2020-05-04 14:59] thlinard commented on #2298
Works correctly on macOS 10.15.4 with

- Chrome 81
- Firefox 75
- Safari 13.1

[2020-05-04 20:40] soar commented on #2308
It would be great!

[2020-05-06 07:59] m4rc1e commented on #2430
I'm not able to replicate any of these issues. I'm running Word 18.2001.1241.0 and Win 10 17763.737

[2020-05-06 15:51] #2445 closed

[2020-05-06 18:36] xotypeco commented on #2426
these files are all ready to go. fontbakery reports included in the release files.

[2020-05-07 18:22] cheffley opened #2447 "Noto Sans - Alphanumeric Kerning Issue (GID:20, #1)"
Kerning fix proposed for DIGIT ONE, GID:20, Unicode: 0031

Glyph space to the right too large when used in alphanumerical sequence.
Try: "1C0" as an example.

[2020-05-07 19:35] davelab6 commented on #23
The glyphset difference between Roman and Italic was blocking this issue since 2015.

Since the v3 release last summer we've been focused on VF onboarding, and there's a major VF update to this family coming with an optical size axis, so I'd left this family for that.

Not that's nearly ready, I rethought this and we should prioritize shipping the static v3 fonts now, then look at how to do the VF

[2020-05-07 19:50] thlinard commented on #23
Hi @davelab6

Glyphset difference or charset difference? I was under the impression that it was the charset difference that counted. Anyway, for the charset difference, the problem is solved with the version 3 (for Source Sans too, by the way).

[2020-05-08 20:17] fireattack commented on #1137
As far as I can tell, the version currently shows on [Google Fonts](https://fonts.google.com/specimen/Rubik) works fine on Win 7.

But there are some distributors are still using old/broken versions, such as [Adobe Fonts](https://fonts.adobe.com/fonts/rubik).

SO questions are:

1. Should we close this issue as it should have been solved?
2. Is there a way to notify distributor to update their fon

[2020-05-08 22:19] applemonkey496 commented on #676
Any updates on this?

[2020-05-09 23:54] davelab6 opened #2448 "API: text parameter per family?"
https://twitter.com/sam_mck/status/1259266309092712451?s=19

[2020-05-10 12:30] sharanda commented on #1612
Hi @m4rc1e could you take a look into this issue https://github.com/sharanda/manrope/issues/44 ? Some users reported about a problem with TTF format downloaded from Google Fonts. Looks like this issue happens specifically on Windows platform, I couldn’t replicate it on Mac.

[2020-05-10 15:14] thlinard commented on #1612
Hi @sharanda

I was able to reproduce the problem with Word 2019 for Mac (same issue as issue #2430). In the case of Manrope, the problem was resolved once I corrected the nameID 3.

[2020-05-11 19:28] c-tanner commented on #2431
@graphicore I've created an issue in the Webpack repo, we'll see what they say.

[2020-05-11 20:11] graphicore commented on #2431
Thanks @c-tanner!

Issue is: webpack/webpack#10873

[2020-05-12 20:11] davelab6 commented on #23
Yep, good point, I did mean char set in this case :)

[2020-05-12 21:21] cssobral2013 opened #2451 "Add Recursive to this repository"
Link: https://github.com/arrowtype/recursive/

[2020-05-13 07:19] kontur commented on #2354
Hey all (&cc @Ancymonic), after completed design and refactored production above the first iteration PR for you to review.

The static files' fontbakery results are:
<details>
<summary><b>[14] Family checks</b></summary>
<details>
<summary>ℹ <b>INFO:</b> Do we have the latest version of FontBakery installed?</summary>

* [com.google.fonts/check/fontbakery_version](https://font-bakery.readthedocs.i

[2020-05-13 12:57] davelab6 commented on #2426
It remains undetermined what the process of deprecation of 'sibling' or 'sub' families will be (such as `Open Sans Condensed` into `Open Sans` itself, when Open Sans has a Width axis.) Certainly a key principle will be not to break any existing usage; once a font enters the API, it is very unlikely to be removed.

If we release a VF which contains an opsz axis, the 'legacy' sibling families are st

[2020-05-13 15:46] xotypeco commented on #2426
to add: Big Shoulders, big Shoulders Inline, and Big Shoulders Stencil are organized as three separate families because my testing during development showed that combining them into one family was counterintuitive to ease of use, an important factor in developing a suite of typefaces usable by non-designers. (Big Shoulders is primarily intended to be used by anyone who wants to express themselves

[2020-05-13 22:59] RubenKelevra commented on #1137
The AUR-package for ArchLinux which builds from git, still reverts a commit based on this bug.

Is it safe to remove the revert?

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ttf-google-fonts-git

[2020-05-14 01:16] davelab6 commented on #2370
@psb1558 I apologies that things move slowly around here. With Font Bakery (which I see you are already using well) then things can move faster, but the crisis has put everything in slow motion. I'll see about prioritizing this request, as we have a few families with optical size axes and I'd love to include this in that set :)

[2020-05-14 02:24] psb1558 commented on #2370
I figured ya'll were nearly out of business--as many of us are. I've done one or two things that probably broke Font Bakery, but they can be put back. Again, though, I'd say that I have questions about FB's recommendation re: the scale for Optical Size, which appears to me not to match [the spec](https://docs.microsoft.com/en-us/typography/opentype/spec/dvaraxistag_opsz), which says "Values must b

[2020-05-14 04:46] richardhsueh opened #2453 "Heebo font has some missing characters"
https://fonts.google.com/specimen/Heebo?preview.text=,+_+%60&preview.text_type=custom&sort=popularity&query=heebo

all these character will display a square block, please take a look
![Screenshot 2020-05-14 at 12 45 36 PM](https://user-images.githubusercontent.com/33024986/81893759-dbbc8700-95e0-11ea-9bd0-e719dee60d6f.png)

[2020-05-14 07:52] FabianRohr commented on #2453
Same here. The characters appear in the middle of the words for some reason: https://stackoverflow.com/questions/61791348/heebo-google-font-special-characters-appearing-strangely

<img width="595" alt="Screenshot 2020-05-14 at 09 51 44" src="https://user-images.githubusercontent.com/51318890/81907808-a146f000-95c8-11ea-9c66-3c034949d746.png">

[2020-05-14 07:54] Hillcow commented on #2453
Same here. Also the missing characters are displayed in the middle of the words:

<img width="595" alt="Screenshot 2020-05-14 at 09 51 44" src="https://user-images.githubusercontent.com/20979750/81907988-e10dd780-95c8-11ea-9342-7d2553b4c427.png">

Thread on StackOverflow: https://stackoverflow.com/questions/61791348/heebo-google-font-special-characters-appearing-strangely

[2020-05-14 08:13] mike-roberts-ps commented on #2453
Bump on this. We are experiencing the same issue in various environments.

[2020-05-14 08:20] Peuge commented on #2453
We are experiencing the same issue
![image](https://user-images.githubusercontent.com/52314048/81910560-6777e880-95cc-11ea-9c17-1af13e2b3bda.png)

[2020-05-14 08:42] richardhsueh commented on #2453
https://github.com/google/fonts/pull/2444
I suspect the recent update on Heebo is related to this problem, so I have commented on the pull request, hopes the developer can help to take a look. 🤞

[2020-05-14 08:58] m4rc1e commented on #2453
Can confirm the issue. Will request a roll back asap.

[2020-05-14 09:43] martin-christensen commented on #2453
@m4rc1e do you know when this will happen? We are also seeing major issues on sites using Heebo.

[2020-05-14 09:45] aleehedl commented on #2453
We are also experiencing this in production.

[2020-05-14 09:48] m4rc1e commented on #2453
We're working on the rollback. I'll keep you all updated. Apologies for the inconvenience.

[2020-05-14 09:50] martin-christensen commented on #2453
Thanks @m4rc1e, much appreciated!

[2020-05-14 10:10] mike-roberts-ps commented on #2453
Thanks @m4rc1e !

[2020-05-14 10:49] jordanrolph commented on #2453
Thanks @m4rc1e

[2020-05-14 11:18] davelab6 opened #2454 "Asap TTFs downloaded from Google Fonts print umlauts offset to the left"
I see there are a few other issues reported here with the Asap family, and https://github.com/Omnibus-Type/Asap/issues is otherwise clean :)

https://github.com/google/fonts/issues/240

https://github.com/google/fonts/issues/2436

https://github.com/google/fonts/issues/1190

And likely related closely, https://github.com/google/fonts/issues/1370

[2020-05-14 11:28] tarrinw opened #2455 "Noto Sans: Latin Extended-C-D-E characters required"
There are a large number of research and related projects working on medieval texts that require characters found in the Unicode Latin Extended D range (also C and E and various other codecharts). The MUFI project (https://mufi.info) has worked over a number of years to get these characters into the Unicode standard.

The Cardo font covers a lot but not all Unicode additions, and in any case web a

[2020-05-14 11:29] davelab6 commented on #2453
Roll back underway, should take up to 12 hours to complete.

[2020-05-14 11:52] thlinard commented on #2455
Perhaps the best place for such a request is https://github.com/googlefonts/noto-fonts (otherwise, this issue is a duplicate of #1717).

Also worth checking is #2370.

[2020-05-14 11:58] yhilcenko commented on #2453
We are also facing the same problem. Thanks @m4rc1e

[2020-05-14 12:04] tarrinw commented on #2455
Thanks - #1717 seems to be mostly about font variants rather than character coverage. #2370 is interesting — I've asked Peter previously if he would get his Junicode font in here. I'll add something there and post the original request to the noto repo as you suggest.

[2020-05-14 12:35] thlinard commented on #2455
#1717 is more generally about getting the latest release of Noto Sans on Google Fonts. There is no point in having improvements made to Noto Sans if they never get here.

[2020-05-14 13:36] m4rc1e commented on #2453
Issue has been diagnosed and apologies for letting this slip through. We'll write a unit test to catch this issue so it doesn't happen in future font pushes.

I really appreciate everyone's kind words as well.

[2020-05-14 13:37] dymond commented on #2453
@m4rc1e @davelab6 Thanks for the quick update!

[2020-05-14 13:59] richardhsueh commented on #2453
@m4rc1e Thank you very much !

[2020-05-14 15:02] jazzyclimber commented on #2453
I am not quite sure where we are in the process of rollbacks. But It looks like there is still and issue with the commas

![2020-05-14_09-39-36](https://user-images.githubusercontent.com/39243773/81950727-f5060900-95c9-11ea-93f4-a927c451d42b.png)

[2020-05-14 15:11] jameshoftonspd commented on #2453
I am also getting the same problem in Chrome, but seems ok in IE 11

[2020-05-14 15:23] m4rc1e commented on #2453
@jazzyclimber rollback still hasn't finished. I'll post here once it's done.

[2020-05-14 15:36] jazzyclimber commented on #2453
@m4rc1e As with everyone else - The fast response on this one is really appreciated!

[2020-05-14 18:19] garretrieger commented on #2453
The rollback is complete now. You may need to clear your browser cache to get updated CSS as the CSS caches for a day by default.

[2020-05-15 00:08] davelab6 commented on #2426
Thanks for explaining. We can all hope the general state of font picking UX
improves such that a single "Big Shoulders" would be easier. Until then,
I'm fine with this :)

[2020-05-15 00:13] davelab6 commented on #2370
That is definitely a bug in fontbakery, then.

I see
https://github.com/googlefonts/fontbakery/blob/7e5988af0e152026c79a4779b7d745d23177d2ac/Lib/fontbakery/profiles/googlefonts.py#L4362-L4389
but
this simply says GF isn't yet ready for opsz axes (which is currently true,
but soon to change.)

[2020-05-15 00:19] vv-monsalve commented on #2426
Could it be possible to handle all of this with a scalable approach? Otherwise, it would be managing more than one objective and at least one risk factor at the same time.

**Step 1. Update the statics font.**
This would permit us to test the new fixes performed on the font first, to ensure everything is performing well on key factors like the [vertical metrics](https://github.com/xotypeco/big_sho

[2020-05-15 00:29] #2453 closed

[2020-05-15 00:31] lukehutch opened #2456 "Roboto Mono has wrong metrics for box drawing character U+2500"
The following table

[code]

Renders as follows in Chrome:

![image](https://user-images.githubusercontent.com/811305/81998955-00305780-9611-11ea-8bde-c3976c8d7d84.png)

The horizontal box-drawing character U+2500 seems to have wider metrics than it should have.

[2020-05-15 00:32] lukehutch commented on #2456
Actually whatever font GitHub uses to render monospaced fonts has the same issue, in the monospaced text region above, and it's not just the horizontal line in that case.

[2020-05-15 00:57] psb1558 commented on #2455
I mentioned in [#2080](https://github.com/google/fonts/issues/2080) that Junicode needed a lot of work before it would pass the QA and other tests required here. That work is underway (now that, in lockdown, I've not got a lot else to do!). Tarrin, I'd like very much to get your impression of Elstob [#2370](https://github.com/google/fonts/issues/2370), the idea of which is not comprehensive covera

[2020-05-15 01:00] psb1558 commented on #2370
Interesting. opsz seems to be working work well in Chrome (for Mac--I haven't tested in Chrome for Windows lately), so maybe it's time.

[2020-05-15 03:12] davelab6 commented on #2426
I see now that my mistake was in approving BOTH `Text` and `Display` name particles in the initial release :) Ideally, I would have approved only `Big Shoulders` and `Big Shoulders Display`, although perhaps `Big Shoulders Text` and `Big Shoulders` might make more sense, but I have a bias for smaller 'text' sizes as default :) It depends which is the 'default' in the opsz VFs. @xotypeco how did yo

[2020-05-15 09:05] m4rc1e commented on #2445
Fixed fonts are live, https://fonts.google.com/specimen/Jost?vfonly

[2020-05-15 09:11] m4rc1e commented on #2454
cc @moyogo

[2020-05-15 14:32] arrowtype opened #2457 "Add font: Charter and/or Charis"
Charter is a classic, highly-respected screen font made by Matthew Carter in 1987. Amazingly, it is licensed to be used freely and without restriction. More details at https://practicaltypography.com/charter.html.

[code]

However, Charter [doesn’t seem to be pre-installed on Windows 10](https://docs.microsoft.com/en-us/typography/fonts/windows_10_font_list). So, it seems like a no-brainer to incl

[2020-05-15 15:04] laerm0 commented on #2457
Charis is used for the Latin in the Inku project by @josiasz so here's a +1 for the idea. Charter, of course, is a solid upgrade if possible.

[2020-05-15 15:35] xotypeco commented on #2426
I agree with your bias towards text.

I haven't manually set a default, so it's the first master, meaning Text Thin.

_however!_

I didn't set a default only because it needs to be a master & not instance, which was impossible in design files. but I'm generating from a file with {300,10} flattened into a master—meaning Text Regular can be a default. (that's my preference.) cool?

[2020-05-15 19:18] Cogli commented on #2457
https://www.ctan.org/tex-archive/fonts/xcharter

Extension of Bitstream Charter, under same license.

[2020-05-16 09:47] MichaelRobbs opened #2458 "Add New Font: Approxima"
https://github.com/MichaelRobbs/approxima

Approxima has been designed as a display font, and is ideal for large text, headings, headlines or introductory paragraphs. With a modern technical feel, Approxima aims to disrupt rather than quietly blend in to its surroundings, there is a juxtaposition between conformity and eccentricity.

Approxima is covered by the SIL Open Font License 1.1

I have do

[2020-05-16 18:14] AbreezaSaleem opened #2459 "Loading all google fonts"
I need to provide the user the option to choose a google font from a list but I don't want to load all the fonts at once as that'll be inefficient. The call for fetching all the fonts has a size `77.8 kB`.

Ideally, I would like to implement pagination in which I can provide the user with a dropdown of font types (`monospace`, `serif`, `sans-serif` etc) and after the user selects a type I can load

[2020-05-16 20:01] readingtype commented on #2346
This is not a solution to the problem, but note that the bold here is synthetic; there is no Bentham Bold so the font renderer has to invent something. There are different ways to make a bold-looking font and one is to overlay offset copies of the outlines. It is not hard to imagine this going wrong occasionally. Here the result looks like a path direction error. It could be that the P has an erro

[2020-05-16 20:23] readingtype commented on #2346
Looks like P is fine. Here is is in FontForge -- if I select the outline and delete it, there isn't another one concealed underneath. This is Bentham-Regular.ttf downloaded from fonts.google.com just now.

![image](https://user-images.githubusercontent.com/89967/82129355-eda55200-97b9-11ea-8ff3-a9d48a47bdb0.png)

[2020-05-17 22:08] moyogo commented on #2454
This is probably a bug in printer’s TrueType implementation triggered by the nested components.

/idieresis is composed of /dotlessi and /dieresiscomb, while /dieresiscomb is composed of /dieresis which has an outline.

Flattening the nested components may fix this, meaning having /idieresis composed of /dotlessi and /dieresis directly. Ufo2ft has a filter for this.

We need a Fontbakery check for

[2020-05-18 08:14] martin-christensen commented on #2453
@m4rc1e still seeing problems with the Open Sans font. On mobile devices, it doesn't show hyphens right, but rather show them as underscores. Here is an example and make sure you check it on an actual mobile device: https://www.nyhavn.dk/mexico/rejser/all-inclusive-og-snorkling-i-skildpaddebugten

Also here is an image of the problem,
![IMG_D4290A870898-1](https://user-images.githubusercontent.com

[2020-05-18 08:17] martin-christensen opened #2460 "Open Sans, hyphens rendered as underscores on mobile devices"
Seems there are still some problems with character placements which could relate to #2453. Still seeing problems with the Open Sans font. On mobile devices, it doesn't show hyphens right, but rather show them as underscores. Here is an example and make sure you check it on an actual mobile device: https://www.nyhavn.dk/mexico/rejser/all-inclusive-og-snorkling-i-skildpaddebugten

Also here is an im

[2020-05-18 09:33] Davidrobla opened #2462 "frescobaldi qt.qpa.fonts: Populating font family aliases took 2291 ms. Replace uses of missing font family "Monospace" with one that exists to avoid this cos"

[2020-05-18 09:59] m4rc1e opened #2463 "Use github actions to run QA checks"
We're currently using Travis to run QA checks on a PR. I'd like us to use Github Actions instead. By migrating, we'll get the following benefits:

- 72 hour time limit for builds (Travis give you 50 minutes).
- Ability to PR from forked repos
- Much much faster. AFAIK, we can cache the repo better

The ability to PR from forked repos is a big win. Currently, if a 3rd party submits a PR, I have to

[2020-05-18 17:05] BenjaminGalliot opened #2464 "Ligatures missing in several fonts"
Hello,

When I import a font with embedded code, it works well, except for ligatures, especially the CSS command `font-variant-ligatures` (and equivalent codes with `font-feature-settings`) which seems without effect. I try for `discretionary-ligatures` (`dlig`) for Cormorant fonts, it works flawlessly when I have the file locally, even when I downloaded it from Google Fonts, but if I use the styl

[2020-05-18 18:55] #2462 closed

[2020-05-19 00:02] smasher164 opened #2465 "Add Box Drawing block to Source Code Pro"
Box Drawing characters are not rendered correctly for Source Code Pro, when using `fonts.googleapis.com` for hosting. See https://github.com/golang/go/issues/38763, which encounters this issue when displaying documentation on pkg.go.dev. The stylesheet used for its `@font-face` definitions is https://fonts.googleapis.com/css?family=Work+Sans:600|Roboto:400,700|Source+Code+Pro.

Please consider add

[2020-05-19 08:15] bloemendal commented on #2331
Still happens for the `ttf` version (latest Chrome on MacOS):
<img width="1364" alt="Screenshot 2020-05-19 at 10 13 32" src="https://user-images.githubusercontent.com/1213240/82302294-b00f1780-99b9-11ea-996b-e7dbccd3491d.png">

[2020-05-19 08:27] vjeffz commented on #559
https://github.com/be5invis/Iosevka/releases

[2020-05-19 14:21] typiconman commented on #2403
Biweekly ping.

[2020-05-20 01:04] bludrop commented on #2395
This happens when both bolding and italics. Usually, I end up manually adjusting the paragraph spacing when I have lots of bold or italics, but that's not really an ideal solution.

Crimson Pro is good, but it has too many changes from the original Crimson Text. Post-release of Crimson Pro there was supposed to be a small tweak to Crimson Text to fix stuff like this, but I don't think it happened

[2020-05-20 05:08] martin-christensen commented on #2460
Ping @m4rc1e

[2020-05-20 10:06] m4rc1e commented on #2453
@martin-christensen I'm not able to replicate the issue with a minimal jsbin, https://jsbin.com/daviyuqaji/edit?html,output

[2020-05-20 19:50] xotypeco commented on #2464
from my own experience, Google Fonts doesn't serve ligated characters characters, or small caps, or really much of anything that could be considered discretionary. I may be incorrect in stating that so broadly, but @davelab6 or @m4rc1e can probably answer more definitively.

[2020-05-21 02:13] saward commented on #2314
I'm now also seeing this for another font I have been using:

`xdvipdfmx:fatal: Invalid TTC index (not TTC font): /usr/local/share/fonts/Inconsolata[wdth,wght].ttf`

[2020-05-22 03:17] davelab6 commented on #2426
You should not create masters out of instances, it bloats the filesize.

In this case, we just need you to say what you want the opsz default to be in the GF API when it is not specified; you can use any size in your range.

@vv-monsalve said today she thinks she may be able to prepare this within the next 2-3 weeks :) So next steps are to hear what she finds from her analysis of the project :)

[2020-05-22 07:05] mfranzs commented on #1564
Bumping this as well :)

[2020-05-22 09:10] huerlisi opened #2468 "OpenType Features missing in Roboto Mono that are available in Roboto"
OpenType supports many interesting font features like Small Capitals or Fractions. The `Roboto` font supports a wide range of these features, but the `Roboto Mono` font only provides the `Small Capitals` one.

I guess many features in `Roboto` like different Ligatures or Stylistic variants are not that relevant for a monospaced font. But some, like `Franctions` would be very cool to have.

[2020-05-22 09:21] DmitriyMK opened #2470 "Bug with 'Noto Serif JP' and small-caps"
When use font 'Noto Serif JP' and font-variant: small-caps,
Letter "n" in browser Firefox, Safari, Edge become broken;

https://prnt.sc/slkchy
https://codepen.io/alchimic/pen/YzyBJVW?fbclid=IwAR1OxgdSuwOWkQ5LLZ-sswCWSDHMWt6NVVmiOI-ke9KAz9qxJ--YQ_E7iwM

[2020-05-22 12:21] michael-angelozzi commented on #1832
Robotomono doesnt work with block chars for making borders:
In Neovim, Font: RobotoMono:
![image](https://user-images.githubusercontent.com/19764314/82666903-1d7bac00-9c37-11ea-9ed3-e3d9458ff07c.png)

In Neovim, Font: Consolas:
![image](https://user-images.githubusercontent.com/19764314/82667016-5287fe80-9c37-11ea-97c1-50db0b65a4e6.png)

[2020-05-22 21:04] vv-monsalve commented on #2426
Once defined the list of steps for the release of the project, the first thing needed would be the final version of source files to work from them.

I went back to the files and ran FB checks for the rest of the family (the first assessment was made on BigShouldersText only as a sample of the project). The main Fail is for Vertical Metrics to match across all the Font Families, solving this is a c

[2020-05-23 00:18] mark-otaris commented on #2120
[/TypeNetwork/RobotoMono/tree/master/sources](/TypeNetwork/RobotoMono/tree/master/sources)

[2020-05-23 04:13] marcologous commented on #1412
Hi all! I have updated the repo with the new fonts and hopefully will have better results. Question @ArpanSriv . How do I run FontBakery?

[2020-05-23 05:00] ArpanSriv commented on #1412
@marcologous Hey! Good to hear that.
You'll have to either:
1. Install [font-bakery](https://github.com/googlefonts/fontbakery) depending on your platform.
2. Or there's a website I just found today (never tried) where you can do it online as well. [Link to Website](https://fontbakery.graphicore.de/)

[2020-05-23 12:13] bazzadp commented on #2315
Interesting discussions on an alternative way of doing this here: https://twitter.com/scottjehl/status/1263951701188530177?s=20

Though takes a bit extra to support CSP and no-JS fallbacks: https://twitter.com/tunetheweb/status/1264117342738493440?s=20

[2020-05-23 17:26] psb1558 commented on #2080
A progress report, since revision of Junicode reached a landmark today, with the roman character set complete (that is all four masters complete and compatible, though many outlines still need to be neatened up). The font covers the complete Medieval Unicode Font Initiative specification, v. 4.0, and it retains all the stuff requested for Junicode over the years by phoneticians, Egyptologists, etc

[2020-05-24 02:09] adamgreenough commented on #2386
Absolutely love this font, really struggling without italics. Let's please get this in if possible! 😄

[2020-05-24 06:44] marcologous commented on #1412
Hey @ArpanSriv yeah just saw the website yesterday as well... I am working on some changes. I will let you all know regarding updates!

[2020-05-25 22:12] QuLogic opened #2471 "Fira Sans Thin has wrong weight"
On the [Fira Sans specimen page](https://fonts.google.com/specimen/Fira+Sans), Thin is listed as weight 100.

If you download from that page, and run fontconfig on it, i.e., `fc-scan FiraSansThin.ttf`, you get `weight: 45.5(f)(s)`. If you open it in FontForge, and go to Element->Font Info, the Weight is _Light_.

If instead, you grab the files from the [original creator's release](https://github.c

[2020-05-26 06:54] master-hax opened #2472 "add DSEG font"
add DSEG font (https://github.com/keshikan/DSEG) (SIL Open Font License v1.1)

I have the PR open already: https://github.com/google/fonts/pull/2469

[2020-05-26 11:51] davelab6 opened #2473 "Jaldi name table issue"
A user writes,

@felipesanches do the current fontbakery name table checks catch this?

[2020-05-26 15:26] riderx commented on #1665
same

[2020-05-26 21:54] pumano commented on #676
Would love to use very clear Metropolis font via Google Fonts :)

Hope it will be added soon!
@chrismsimpson thank you for beauty!

[2020-05-27 10:28] ngmtuan opened #2475 "Add new font - Iconique Sans"
Hello,

Please find my submission "Iconique Sans" to be considered for the Google Fonts Collection.
Project URL: https://github.com/ngmtuan/IconiqueSans

This is my second typeface. I want to make this typeface accessible and open-source for the public.

Thank you!

![Creative Market-03](https://user-images.githubusercontent.com/60652024/83008205-083fbc80-a03f-11ea-8e07-724eac23e788.png)

[2020-05-27 14:48] nt4f04uNd commented on #1612
Need it in gslides

[2020-05-28 14:24] LefebvreJil commented on #1612
Can this be added to Google Docs?

[2020-05-28 15:47] nt4f04uNd commented on #1612
For anyone who want to use Manrope in Google docs or slides, consider using Extensis Fonts extension

[2020-05-28 23:16] MichaelRobbs commented on #2458
![Screenshot 2020-05-16 at 10 51 40](https://user-images.githubusercontent.com/61361224/83203516-83899700-a141-11ea-83e1-7334d37f3373.png)

[2020-05-28 23:16] MichaelRobbs commented on #2458
![Screenshot 2020-05-16 at 10 50 16](https://user-images.githubusercontent.com/61361224/83203582-a87e0a00-a141-11ea-96a6-b03c81c771b2.png)

[2020-05-29 12:38] #2463 closed

[2020-05-29 12:41] AbreezaSaleem opened #2477 "A way to determine which fallback font to use"
I am fetching the list of all the fonts containing the meta-data but I notice that it doesn't contain which fallback values one should use for each font... Is there any way to make a good guess of what fallback font should be used? For example for `Akronim` the fallback in the googlefont page is `cursive` but in the API that fetches all the fonts, there is no mention of `cursive` in the `Akronim`

[2020-05-29 18:35] pandia-type opened #2479 "Add New Font - Espera"
Hello,

Please find below the link to my submission of the Espera typeface for your approval to the Google Fonts Collection.

Project URL: https://github.com/pandia-type/espera

Thank you :)

[2020-05-30 19:48] CodeExplore opened #2480 "Is subset parameter deprecated ?"
I am looking for subset parameter when added a font in https://fonts.google.com/ but can not see..

[code]

Do not we need that in this new css2 api ?

[2020-05-31 03:52] ddamato commented on #2445
I was expecting to handle this in a similar way to the [author's site](https://indestructibletype.com/Jost.html).
[code]

Works in Chrome just fine? I just wish a woff2 version of the variable font was offered. Any conversion of the .ttf file I try loses all the axes.

[2020-05-31 05:49] ddamato commented on #2445
Another possibility in my case is to just use the faux-italics. I didn't realize that Chrome (& Edge) don't display the browser rendered italics, but Firefox and Safari do.

Chrome: https://share.getcloudapp.com/RBuvoGL0
Firefox: https://share.getcloudapp.com/o0ugr2Pg
Safari: https://share.getcloudapp.com/wbu0RGbw

[2020-05-31 20:54] MizR commented on #1665
+1 for this.

[2020-06-01 01:48] ogxn commented on #2475
nice font 👍

[2020-06-01 15:55] WouterrV opened #2484 "'fijn' looks suboptimal in Niramit"
See:
https://fonts.google.com/specimen/Niramit?preview.text=Most+words+look+fine+(hijacked,+multijet)+but+this+dutch+word+not+so+much:+fijnstof&preview.text_type=custom

Is there anything you/I can do about this?

[2020-06-01 19:46] driehuis commented on #2484
You seem to be getting bitten by the f-i ligature. If you have control over the OpenType features you're using, you could consider disabling the "liga" feature (in CSS, you could try this:)

    .dutch {
        font-variant-ligatures: none !important;
        font-feature-settings: "liga" 0 !important;
    }

As usual, the vagaries of both CSS and OpenType implementation details can still throw a

[2020-06-01 22:28] WouterrV commented on #2484
Ah, thanks a bunch! That solves it, good idea on using it only for Dutch.

[2020-06-01 22:28] #2484 closed

[2020-06-01 22:46] arrowtype opened #2486 "Question about naming criteria: can a creator’s first name be used?"
I’m advising an artist on creating a handwriting-based font which will most likely be OFL, and they hope for it to eventually be on Google Fonts (though I also explained that there is no guarantee, and it takes time to happen when it does, and that I am merely stating my observations and can obviously not speak on behalf of Google Fonts or anyone else).

However, I have a question about one of the

[2020-06-01 22:50] felipesanches commented on #2486
I'd also mention Beth Ellen (https://fonts.google.com/specimen/Beth+Ellen) by Rob Jellinski (son of Beth)

[2020-06-01 22:51] arrowtype commented on #2486
Excellent example, Felipe! Thanks.

[2020-06-02 17:26] SMLVG commented on #2055
Old issue. I'm using Chrome now.

[2020-06-02 17:26] #2055 closed

[2020-06-02 17:50] davelab6 commented on #2486
Yes, that would be fine. There is also https://fonts.google.com/specimen/Patrick+Hand as a direct example.

The point is that we want projects to be open to contributions :)

[2020-06-03 00:15] ExtMike opened #2488 "Noto Family fonts are not previewing/printing in Docs/Slides"
Several Noto family fonts are not previewing in Docs and/or Slides. A doc or presentation with those fonts selected for any text do not load the print dialog. Noto Sans and Noto Serif appear to be working correctly, however other fonts such as Noto Sans TC, Noto Sans KR and Noto Serif TC do not. The issue is somewhat intermittent.

[2020-06-03 06:18] thanhnhan2tn commented on #2060
+1
Please also provide minify version to optimize [PageSpeed](https://web.dev/unminified-css/?utm_source=lighthouse&utm_medium=devtools)
I found 1 closed [issue ](https://github.com/google/fonts/issues/1164) here but quite old, now google lighthouse ask me to minify that CSS files

[2020-06-04 06:40] sergt-bilberrry commented on #2100
You can use https://transfonter.org/ and choose "Fix vertical metrics".

[2020-06-04 06:41] tryserg commented on #2100
You can use https://transfonter.org/ and choose "Fix vertical metrics".

[2020-06-04 12:39] o-t-w opened #2489 "Update Poppins"
Indian Type Foundry updated Poppins with various improvements a while ago but Google Fonts is still using the old version. Could you please update the font?

[2020-06-05 13:44] davelab6 commented on #1412
@marcologous please could you schedule a video call with @felipesanches who is in Sao Paulo, he can help you finalize all the details! :)

[2020-06-05 14:02] felipesanches commented on #1412
@marcologous I'm the maintainer and main developer of FontBakery. I will be glad to help give an overview of our methodology for font QA and onboarding of families into Google Fonts.

[2020-06-05 20:41] caluap opened #2490 "Inter's superscript font-feature-settings seems to be broken"
I've tried copying the CSS code as used in Inter's [lab website](https://rsms.me/inter/lab/?feat-sups=1), where superscript works:

`font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups", "tnum" 0, "zero" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10"

[2020-06-07 22:33] hyungtaecf commented on #362
It appears with the same bug for me. I was trying to use it in a Flutter application. But it seems I need to choose another font.

[2020-06-08 17:17] shash7 commented on #2477
The google fonts api gives extremely limited information. If you have spare time for this, you can parse all the fonts using opentype.js and parse the panose information from fonts.
Sidenote - not all fonts have complete panose information.

This link may be helpful:
https://medium.com/@getflourish/the-anatomy-of-a-thousand-typefaces-f7b9088eed1

[2020-06-08 23:22] emwadde commented on #1610
Hello @davelab6 ,
Is there any update on when this font will be available in Google Fonts Directory?. It is in great need during this pandemic lockdown. Our local subject teachers are eagerly waiting for this font to become available.
Thanks

[2020-06-10 03:04] marcologous commented on #1412
Awesome!!! That is great T_T

[2020-06-10 03:08] marcologous commented on #1412
Hi @felipesanches , I am currently in the UAE, what time would be convenient for you? Sorry for the late reply. Really appreciate it!

[2020-06-10 10:57] esedeerre opened #2491 "Crimson Text - SemiBold Italic Semicolon"
Semicolon seems to be broken in Crimson Text - Semibold Italic style.

You can check it here:

[https://fonts.google.com/specimen/Crimson+Text?preview.text=This+is+a+semicolon++;;;&preview.text_type=custom](url)

Thanks!

[2020-06-10 15:52] tiroj opened #2493 "Add new fonts : Castoro"
We've just released a two-font libre family derived from the Latin subset of our Indic fonts. Pan-European Latin character set plus diacritics for transliteration of South Asian languages, with smallcaps, ligating forms, assorted (non-tabular) numeral styles, etc.
![CastoroBannerSM](https://user-images.githubusercontent.com/5614500/84289721-b182ba00-aaf7-11ea-8fa5-6d38f9ffe973.jpg)

https://github

[2020-06-11 02:14] davelab6 commented on #2493
I wonder if it's better to have this as part of the indics, rather than a Latin only font. How will the integrated latins in those font(s) be different to this, if at all?

[2020-06-11 08:04] hybridherbst commented on #1753
I just had the same issue, started today.
It affected GMail, Hangouts, but also local Electron apps that are using Roboto!

Reinstalling Roboto from Google Fonts fixed the issue. Anyone got any clue about why this can happen? Seems really weird that a font goes corrupt overnight, I never experienced that issue before.

[2020-06-11 09:10] lindig commented on #2425
The A most likely is not the only issue. See the outlines below.

![inter-open-sores](https://user-images.githubusercontent.com/843617/84367126-b1ec8500-abcb-11ea-8e08-cff572d6bd83.png)

[2020-06-11 13:32] m4rc1e commented on #2391
I've been updating [gftools fix-vf-meta](https://github.com/googlefonts/gftools/blob/master/bin/gftools-fix-vf-meta.py) which is the tool that has been used to make our STAT tables. I think I'm almost there.

@thlinard would you be interested in reviewing the results of two families? Once we're happy, I'll run it on every family you reported.

[2020-06-11 14:47] thlinard commented on #2391
Yes, with pleasure.

No worries for the delay. I know you are all very busy.

[2020-06-11 16:02] m4rc1e commented on #2391
@thlinard could you check these two fonts https://github.com/google/fonts/tree/master/ofl/librecaslontext please?

[2020-06-11 17:46] tiroj commented on #2493
The Indics have a smaller Latin subset, basically just ANSI plus the diacritics for transliteraion of South Asian languages. The focus of the Indic fonts is really on the South Asian writing systems, as the names of the fonts suggest. Indeed, they really only contain Latin subsets for legacy technical reasons (needing to support at least one 8-bit codepage), and because we decided to match the gly

[2020-06-11 18:58] triblytree opened #2496 "Neuton font is again displaying &nbsp; much wider than a space"
This was discussed and fixed previously it looks like: https://github.com/google/fonts/issues/347

But seems to be happening again. Here's the old JS Fiddle which had the fix (but now shows the wide space):

https://jsfiddle.net/tg67akud/2/

![neutron-space](https://user-images.githubusercontent.com/5131905/84428160-ddc33700-abda-11ea-8580-dca00cbf9357.jpg)

[2020-06-11 20:55] thlinard commented on #2391
Hi @m4rc1e

The STAT table is fine, good work!

On the other hand, for the name table, I didn't understand why duplicate the nameID 256+ in the platformID 1, as the nameID 0-14 are only in the platformID 3?

I also tested under Photoshop 2020, Illustrator 2020, and InDesign 2020. Illustrator is fine, but Photoshop and InDesign don't handle correctly the fonts (InDesign is the worst).

I'm somewhat

[2020-06-11 22:01] felipesanches commented on #1412
hey, @marcologous! Sorry that it took a while for me to reply, I was a bit busy these past few days. Please join our gitter chat at https://gitter.im/fontbakery/Lobby and then we'll be able to setup a video call.

My intention is to give you an overview of what Font Bakery does and how to use it, and then review the github repo for this font family and suggest some procedures for our collaboration

[2020-06-12 07:50] m4rc1e commented on #2496
This family was last updated Nov 2019. It looks fine to me.

<img width="313" alt="Screenshot 2020-06-12 at 08 49 59" src="https://user-images.githubusercontent.com/7525512/84478773-c0997180-ac89-11ea-98f1-604f46d2f3c7.png">

Have you got a copy installed locally?

[2020-06-12 09:37] m4rc1e commented on #2391
Thanks for the review!

This is due to fontmake. Tbh, I don't think we even need platformID 1.

I may do further research and file some issues/prs to fontmake if I can replicate your findings. As far as I can tell, the STATs are now good but the nametables could be improved further.

[2020-06-12 09:57] thlinard commented on #2391
Yes, I don't think platformID 1 is necessary either.

The `AxisValue` format 2 is for the STAT table, but, like I said, I don't know if you want to bother with InDesign (this would be a way to settle the discussion we had here, but the principle of format 2 doesn't please @tiroj 😉). Otherwise, yes, the rest only concerns the name and fvar tables.

[2020-06-12 10:10] m4rc1e commented on #2430
Ok, I'm pretty sure I've worked out what's happening here.

The ttfs served on fonts.google.com are instantiated from the variable font using [fonttools.varLib.instancer](https://github.com/fonttools/fonttools/blob/master/Lib/fontTools/varLib/instancer.py). When you instantiate a static font using instancer, it will keep the STAT but prune the redundant stat AxisValueArrays. This means each instan

[2020-06-12 10:22] thlinard commented on #2430
In theory, no. In practice, Word for macOS doesn't like the STAT table.

Well, precisely: ID3 is `2.100;NONE;MavenPro-Regular` for **all** static fonts. Not very "Unique font identifier" (what the nameID 3 should be).

[2020-06-12 13:08] ElderTugBoat786 opened #2499 "Select multiple font weight broke link for css @import"
After updating [fonts.google.com](https://fonts.google.com ) when I try to use the link of a font in which there are multiple weights divided by ; within a css @import on google chrome the link is cut by returning 404 not found.
This does not happen on firefox

One possible solution is to replace the ; with %3B in this way the link is not cut

![image](https://user-images.githubusercontent.com/385

[2020-06-12 14:02] alm79 opened #2500 "Add Malenka font"
Please add Malenka to google fonts: https://github.com/alm79/malenka

[2020-06-12 16:22] triblytree commented on #2496
Here's an example:

https://www.mydarlingvegan.com/test-nbsp/

![nbsp](https://user-images.githubusercontent.com/5131905/84524041-24be3480-ac8e-11ea-8737-2aceee54eadd.jpg)

The font is included via Google Font's URL:

https://fonts.googleapis.com/css?family=Neuton%3Aregular%2Citalic%2C700%2C200%2C300|Open+Sans%3Aregular%2Citalic%2C700%2C200%2C300%2C300italic%2C900&display=swap&subset=latin

So it'

[2020-06-12 16:27] thlinard commented on #2496
Your test page looks fine on Firefox, Safari, Chrome. Perhaps you should check again a local installation.

[2020-06-12 16:41] triblytree commented on #2496
Ahh, I see. It was a version I had installed locally on my computer. My bad. Thanks for looking into it!

[2020-06-12 16:41] #2496 closed

[2020-06-13 05:50] marcologous commented on #1412
@felipesanches Thank you so much for this! I have joined the chat. I don't know the approach in there but maybe will wait when you are available? I also found the FontBakery website that @ArpanSriv mentioned earlier. I am making some improvements to the fonts and haven't updated the repo yet.

[2020-06-13 05:55] felipesanches commented on #1412
I'm there right now! LOL

[2020-06-13 10:24] Cogli opened #2501 "Neuton missing kerning table"
Noticed this a while ago. version 1.560 lacks kerning tables, present in v. 1.46

[2020-06-14 05:19] adamreisnz commented on #1495
Does anyone know if there have been any meaningful updates since end of 2018 in regards to this issue?

[2020-06-15 08:17] aristath commented on #1495
Nope, nothing meaningful.
Google is just as vague now as it was back then, so we were just forced to stop using it, or in the rare occasion where we do use it, we automate downloading the site-owner-selected fonts locally so visitors don't use the Google CDN.

[2020-06-15 09:04] clickwork-git commented on #1495
Nobody is forced to stop using it. You can declare the use in the privacy policy as the use of other tools.

There is still no legal case. And the question is rather if the GDPR is meaningfull. Two years and still collecting of data as ever.

[2020-06-15 09:21] m4rc1e commented on #2391
@thlinard can you send me a zip of the fonts that you fixed? I'd like to use them as a reference.

[2020-06-15 09:51] thlinard commented on #2391
@m4rc1e Sent!

[2020-06-15 11:09] aristath commented on #1495
_informing_ users is not the same as allowing users to choose if they want to or not. Informing them without asking permission is not OK. So yes, we are **forced to** stop using because we cannot - in good conscience - allow any company to collect our users data without their explicit consent.

That's only because as an individual none of us has  the resources to go against a giant.

That's only b

[2020-06-15 14:42] miclf commented on #1495
Using a _lack of enforcement_ (of the law) as an argument to question the _relevance_ of that law seems to be quite a questionable way of framing the issue. Especially when considering that, according to the separation of powers (which is still supposed to be a very central principle of democratic countries), the people writing the laws and the people doing the enforcement are supposed to be entir

[2020-06-15 14:47] garretthyder commented on #1495
Yes, @aristath's point on consent is very valid with any service collecting user information. Simply listing the tool doesn't suffice unless you have a site consent mechanism which takes the user through that policy to get their consent for sharing their data with that service.

Aside from abandoning the service, which is simplest, I've seen developers host the fonts locally to ensure there's no d

[2020-06-15 15:13] davelab6 commented on #1697
https://fonts.google.com/specimen/Balsamiq+Sans is live

[2020-06-15 15:13] #1697 closed

[2020-06-15 15:17] davelab6 commented on #1192
Closing as this is on https://fonts.google.com/specimen/Bebas+Neue

Thank you again @dharmatype

[2020-06-15 15:17] #1192 closed

[2020-06-15 20:08] adamreisnz commented on #1495
I was wondering about this when I read through this thread. By fallback font would you just use on of the standard "every computer has them" fonts like Arial or Helvetica, and then load the gfont if the user gives consent? Because it seemed redundant to serve a local copy of the gfont only to replace it with the CDN version afterwards. Might as well just serve locally then.

[2020-06-15 20:32] garretthyder commented on #1495
Yes exactly, you would use a [web safe font](https://www.w3schools.com/cssref/css_websafe_fonts.asp) that's similar enough to your gfont that upon consent the change isn't overly drastic.

[2020-06-15 21:41] davelab6 commented on #1412
I chatted to @felipesanches about this today and we expect this should be ready within a few weeks.

[2020-06-15 21:47] davelab6 commented on #2442
@xconsau thanks for submitting this, and preparing a repo that meets our latest Spec docs. I spoke to @graphicore today about it, and we hope to onboard the font in the next few weeks.

[2020-06-16 07:43] xconsau commented on #2442
Thanks very much, Dave. Appreciate your response and consideration.

[2020-06-16 09:32] thlinard commented on #2391
For the record: I tested the new version of Photoshop 2020 and InDesign 2020 released today (Photoshop 21.2.0, InDesign 15.1.0.25). Same behavior, nothing changed.

[2020-06-16 10:32] marcologous commented on #1412
Working on some issues right now @davelab6 !

[2020-06-16 15:10] conradleu opened #2502 "outlines/paths on Heebo broken"
As of the version 3.001 the Heebo font seems to be set up differently - and for our use broken. We're using the font in a web project with an outline made in css by using:
[code]
With an outline the letters now look like beeing different paths, rather than one path per letter:
![grafik](https://user-images.githubusercontent.com/493051/84792041-b530a800-aff3-11ea-8260-58d3c8d6457b.png)

[2020-06-16 16:51] davelab6 commented on #1297
Looks fixed :)

<img width="640" alt="Screen Shot 2020-06-16 at 12 51 24 PM" src="https://user-images.githubusercontent.com/261579/84803514-1b0b3880-afd0-11ea-82b9-93e71fbfd98a.png">

[2020-06-16 16:51] #1297 closed

[2020-06-16 16:52] #632 closed

[2020-06-16 16:53] #612 closed

[2020-06-16 17:07] davelab6 commented on #1901
This should have been fixed in https://github.com/google/fonts/pull/430 when the `latin-ext` subset was added to the METADATA file.

I see latin ext chars in the GF catalog specimen page:

<img width="940" alt="Screen Shot 2020-06-16 at 1 06 21 PM" src="https://user-images.githubusercontent.com/261579/84805403-34ad7f80-afd2-11ea-8a45-093e5c26ff17.png">

Therefore I'm going to close this as I can't

[2020-06-16 17:07] davelab6 commented on #528
I believe this was fixed when the family was upgraded to a weight axis variable font.

[2020-06-16 17:07] #528 closed

[2020-06-16 17:08] davelab6 commented on #1726
I'm closing as we have no active plans to do this.

[2020-06-16 18:00] marekjez86 opened #2505 "Update Spartan, fixing «» interpolation issues"
Spartan font has issues with the right angle quote (raquo) for wght=200,300,400, please see:
https://fonts.google.com/specimen/Spartan?preview.text=%C2%ABSample%C2%BB&preview.text_type=custom#standard-styles

<img width="270" alt="Screen Shot 2020-06-15 at 08 55 44" src="https://user-images.githubusercontent.com/13322623/84810649-7df4d380-afc0-11ea-9b0d-c8cbd14ebec0.png">

[2020-06-16 18:59] davelab6 commented on #1726
Ah, good news @wolftune! Turns out @fonthausen was aware of this issue and the next-generation of Nunito (with a range of optical size) has a slant axis up to 9°, as the original angle was 4.51° - the idea was to incorporate a slant axis where 50% along the axis would be like the original.

[2020-06-16 19:01] davelab6 commented on #2102
@m4rc1e, I chatted with @fonthausen and he said,

[2020-06-17 06:36] bebjakub commented on #1901
@davelab6 sorry, but it's not working for me, check https://jsfiddle.net/L976zah4/ again, pls. Latin-ext characters are substituted with Arial. I'm running on the latest MacOS, Chrome...

[2020-06-17 17:23] lozunoff opened #2507 "Subset in new API"
Hello!

How can I change the current subset in the new API (https://fonts.googleapis.com/css2)?

In the previous version, we could do it like this:
`https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic`

What about the new version?

[2020-06-18 06:35] yellow1912 commented on #2507
Yup, I have the same question. Also, is https://github.com/typekit/webfontloader still recommended?

[2020-06-18 09:30] bfiessinger commented on #1616
If anyone is interested. It seems like Mojave does not respect multiple URL Parameters with the same name seperated by &. So multiple combined Google Fonts are not possible when copying the embed string from fonts.google.com.

So when using multiple fonts from Google only one of them will be loaded on the page. Now there are 2 possible Workarounds.

1. Don't use combined Google Fonts
2.  Seperate

[2020-06-18 15:05] graphicore commented on #1901
@bebjakub could you please check if you have a local version of the font installed on your computer? This is a very common thing that happens.

I can't reproduce on Firefox 77.0.1 (64-bit), Linux:

![Screenshot from 2020-06-18 17-03-41](https://user-images.githubusercontent.com/393132/85037478-b5f94380-b185-11ea-8a1f-c3189f826bcc.png)

https://jsfiddle.net/graphicore/2xL6ptrv/

[2020-06-18 15:33] thlinard commented on #1901
Hi @graphicore

Your screenshot actually displays a problem. This is because
 ̂  U+‎0302 COMBINING CIRCUMFLEX ACCENT
 ̌  U+030C COMBINING CARON

aren't in the font (the text is in NFD). A test on shows it:
https://fonts.google.com/specimen/Muli?preview.text=vyzdvihuje+do%CC%82lez%CC%8Citost%CC%8C+krest%CC%8Canske%CC%81ho+dedic%CC%8Cstva+a+kultu%CC%81ry.&preview.text_type=custom

On the other hand,

[2020-06-18 15:38] bebjakub commented on #1901
![image](https://user-images.githubusercontent.com/10927960/85040030-a7605b80-b188-11ea-98c1-7bab7019fa32.png)
@graphicore no, I have local Muli disabled during testing of course...
On latest macOS, Chrome 4 glyphs missing, and are replaced with local serif...

[2020-06-18 15:41] thlinard commented on #1901
Well, combining characters are present in https://github.com/googlefonts/gftools/blob/master/Lib/gftools/encodings/GF%20Glyph%20Sets/GF-latin-plus_unique-glyphs.nam

But not in https://github.com/googlefonts/gftools/blob/master/Lib/gftools/encodings/latin-ext_unique-glyphs.nam

Correcting this would probably be simpler than explaining to users how converting to NFC their texts.

[2020-06-18 15:45] thlinard commented on #1901
Meanwhile, @bebjakub, go to https://r12a.github.io/uniview/, paste your text in the "text area", click on "NFC", and copy the result.

[2020-06-18 15:50] bebjakub commented on #1901
@thlinard the result is the same as input...

[2020-06-18 15:50] thlinard commented on #1901
@bebjakub Have you tested it?

[2020-06-18 15:53] bebjakub commented on #1901
@thlinard the same result is here [https://dencode.com/en/string/unicode-normalization](https://dencode.com/en/string/unicode-normalization)

[2020-06-18 15:55] thlinard commented on #1901
You have the impression that it is the same thing. I assure you, this isn't the case. Please test the converted text in your example on jsfiddle.net

[2020-06-18 15:57] thlinard commented on #1901
Your text:
vyzdvihuje dôležitosť kresťanského dedičstva a kultúry.

The converted text:
vyzdvihuje dôležitosť kresťanského dedičstva a kultúry.

[2020-06-18 16:04] bebjakub commented on #1901
@thlinard yop, you're right, after conversion to NFC it works. I just never had experience with that, thanx.
So all latin-ext texts should be converted to NFC before saving to the database? I never hear that before...

[2020-06-18 16:09] thlinard commented on #1901
Well, in theory, NFC and NFD should get the same results. In practice, NFD texts are always risky.

For example, in NFC, ž is
U+017E LATIN SMALL LETTER Z WITH CARON

In NFD, ž is
U+‎007A LATIN SMALL LETTER Z
U+030C COMBINING CARON

It's safer to use precomposed character (NFC) as a general rule.

[2020-06-18 16:16] graphicore commented on #1901
:rofl: yeah, I thought it looked off, especially at the "ť". I also hoped a big screenshot would help.

for reference: https://en.wikipedia.org/wiki/Unicode_equivalence#Normal_forms

So, does the second row look good here?

![Screenshot from 2020-06-18 18-16-03](https://user-images.githubusercontent.com/393132/85045863-dfb76800-b18f-11ea-8e79-be89c08d624a.png)

https://jsfiddle.net/graphicore/2xL

[2020-06-18 16:18] bebjakub commented on #1901
@graphicore yop, it's perfect :) thanx

[2020-06-18 16:23] bebjakub commented on #1901
Maybe it should be a good idea to add a note about NFC conversion to the fonts with latin-ext support. I'm a web developer for a few years and never hear that, simple I used another font :)

[2020-06-18 16:24] thlinard commented on #1901
Btw, @graphicore, the whole conversation proves my point: "Correcting this [the discrepancy between the two encoding files] would probably be simpler than explaining to users how converting to NFC their texts." 😉

[2020-06-18 16:41] graphicore commented on #1901
@thlinard I agree, but until the fonts catch up it could take a while.

@davelab6 take look at https://github.com/google/fonts/issues/1901#issuecomment-646109024 seems like we remove these when sub-setting?

[code]

Should we also try to check that glyph sets in `encodings/GF Glyph Sets` are not supersets of `encodings`? It's hard to explain that we want font authors to put glyphs into fonts that

[2020-06-18 19:38] nathan-williams commented on #1616
@bfiessinger Could you share a minimal reproduction of the issue you're describing, maybe a codepen? An example request and more information on your setup (e.g. safari version, useragent) would be helpful, too.

[2020-06-18 19:47] nathan-williams commented on #1616
@bfiessinger Can you provide more details about your setup and reproduction steps so we can investigate further? Code snippets would be very helpful in understanding your situation.

[2020-06-18 22:18] Jaybear opened #2508 "fonts.google.com-Website-Enhancement: Missing some options/parameters to customize displayed fonts"
Hello to all Google-Font-Experts and -Developers,

I'm missing some options at your website "fonts.google.com" and so I want to tell you about them.
Maybe I missed something ... or maybe they can be used as suggestions for enhancing your website?
;)

* An Example:
https://fonts.google.com/?selection.family=Gloria+Hallelujah|Josefin+Sans:wght@600|Lobster&sidebar.open&preview.text=Please+show+My+Sel

[2020-06-19 00:48] ExtMike commented on #2488
This issue is reportable and continues to be reported.

[2020-06-19 10:47] bfiessinger commented on #1616
@nathan-williams for sure. I'll give you a quick example:

**Steps to reproduce:**
1. Go to fonts.google.com
2. Select two different Fonts, let's say "Roboto" and "Playfair Display"
3. Copy the generated embed code or the href attribute of the generated embed code
https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap
4. Now embed the link element on a page.
5. Open S

[2020-06-19 15:30] LornaSIL opened #2509 "Update Harmattan"
We would like to see an update to the Google fonts version of Harmattan (https://fonts.google.com/specimen/Harmattan) with the just released version 2.000.

The download is available here: https://software.sil.org/harmattan/download/

The most significant change to this version is the addition of a bold typeface.

The first 3 paragraphs under "About Harmattan" could be updated to say:

[code]

[2020-06-19 16:48] tiroj commented on #1901
There are several different aspects to the issue described in this thread, and how it relates to what layout engines, fonts, and subsetters should be doing.

Most fonts presume Unicode diacritic characters with precomposed composing will be mapped by the layout engine to NFC for display purposes. This is a character level operation, and layout engines normally do this as a buffered operation durin

[2020-06-20 02:08] KTibow commented on #2060
Well I think Google Lighthouse does separate checks for compression and minification. But that's right, it asks me too. How about replacing the space indents with a single tab, and removing the spaces (at the start/end of the comments and turning things like `font-style: normal;` into `font-style:normal;`? That keeps it readable.

[2020-06-22 07:03] jaclyntan commented on #1616
omg the `&amp;` actually worked..thanks so much you just saved me like an hr of googling non-answers.

[2020-06-22 14:43] shash7 commented on #2508
Not a solution but I developed an extension to view and preview google fonts in a much better way: `[snapfont](https://getsnapfont.com)`

[2020-06-22 15:01] davelab6 commented on #1690
Rowdies sounds good to me

[2020-06-22 15:39] marcmelapp opened #2511 "Heebo font has irregular characters"
Hi,

I experiencing **almost the same** issue as the google/fonts#2453 on Figma app (design tool) and on a iOS native app.

The comma and the apostrophe seems not have the right kerning (like if it's a negative one) and it's not always the same regarding the previous letter (check example below, the apostrophe after a "n" vs after a "t").

As you can see, it seems that the apostrophe is just after

[2020-06-23 04:10] afeld opened #2512 "metadata missing for a number of families"
I'm trying to walk though the families programmatically by finding the `METADATA.pb` files. ([Here's the script](https://github.com/Homebrew/homebrew-cask-fonts/blob/a904d41bb60af7810273aea7cf9140dc883fffb8/developer/bin/import_google_fonts), which imports them to [Homebrew](https://brew.sh/).) It turns out `METADATA.pb` is missing for a number of families. From within the repository, here's a com

[2020-06-23 08:37] pial00 opened #2513 "Fonts not rendering correctly in Firefox"
Hello.
I have run into an issue where fonts are rendering in Firefox approximately 3 pixels smaller than in other browsers (Chrome, Safari and Edge), I have tested several fonts (such as Lato, Open Sans, Sriracha) and I am having the same problem with all the fonts I have tested. What's interesting is that the fonts are rendered in the correct size when opening the html page directly into Firefox.

[2020-06-23 10:54] #1990 closed

[2020-06-23 12:10] yanone commented on #2102
I've been asked to add the Cyrillic to Nunito, Nunito Sans, and Mulish to the static fonts in a first step before looking into upgrading them all to VFs.

The Nunito & Nunito Sans sources (in the master branches) contain Cyrillic indeed, but not Mulish.
@Fonthausen Can you elaborate where I can find them? Thanks.

[2020-06-23 12:12] Fonthausen commented on #2102
https://github.com/Fonthausen/NunitoSans/tree/ComponentTest/10%20Sources

[2020-06-23 12:13] Fonthausen commented on #2102
Here you will find all latest sources. Nunito, Nunito Sans and Muli. All contain Cyrillic.

[2020-06-23 12:21] yanone commented on #2102
Oh, I get it now, thanks.

[2020-06-23 12:26] Fonthausen commented on #2102
Feel free to DM me if you have questions. Files contain a lot of masters to counteract against the distortion that would have occurred at the corners of the design space.

[2020-06-23 15:50] waheed-isk commented on #1610
Hello @davelab6 , any expected time for this. It's in great need at this time

[2020-06-24 13:52] theoavoyne commented on #2502
Same problem here

[2020-06-24 19:45] benedictjohannes opened #2516 "Source Serif Pro - Outdated"
The Source Serif Pro in google fonts catalog has only limited weights: 400,600,700.
However, the Adobe's [repo](https://github.com/adobe-fonts/source-serif-pro) has released regular, extra light, light, semibold, bold and black (also with italics for each weights).

The Google web font of Source Serif should be updated. I noticed that the updated binaries are available in this repo, but it is not

[2020-06-24 23:06] fitojb commented on #2516
See https://github.com/google/fonts/pull/2498#issuecomment-644168694

[2020-06-25 06:39] bfiessinger commented on #1616
@nathan-williams were you already able to confirm the bug?

[2020-06-26 00:49] controversial commented on #1415
@m4rc1e @davelab6 is there any path forward to resolving this?

[2020-06-26 09:36] benedictjohannes commented on #2516
Thanks for pointing on the PR, @fitojb
should this issue be kept open until. It's merged and available in the online font catalog?

[2020-06-26 10:03] fitojb commented on #2516
After new fonts are merged, they go to an internal sandbox for testing and are then deployed to the public site. In particular cases, the process may be delayed due to issues in the fonts.

Yes, I’d say close this duplicate bug and wait for the deployment to happen.

[2020-06-26 10:56] benedictjohannes commented on #2516
Thanks for your explanation, I'm closing this.

[2020-06-26 10:56] #2516 closed

[2020-06-26 18:33] solepixel commented on #1616
Based on @jaclyntan's idea, just changing the `&` to `&amp;` didn't resolve the issue for me. Here's how I fixed it:

1. Go to an online URL encoder, like: https://www.urlencoder.org/
2. Paste everything after the ? into the box, and encode it.
3. Replace everything after the ? with the encoded version.
4. Profit.

In my case, I converted this:

`https://fonts.googleapis.com/css2?family=Roboto+Con

[2020-06-28 13:01] ndo360 commented on #610
Hate to bump this... but where is the fixed font?

[2020-06-29 11:31] kontur commented on #2354
I've tried to ask for more info in the merged PR, but maybe you get the notification if I post the same here:

@m4rc1e @davelab6 @rsheeter Can you add some transparency to this process and let us know what are next steps for these updates to actually go live? I see the PR merged, but the updated fonts do not appear on fonts.google.com.
There has been a commit 17a38c1 that... removed the NEGA axis?

[2020-06-29 11:36] m4rc1e commented on #2354
The PR is merged and sitting on our sandbox. We should push the family to production either this week or next.

[2020-06-29 11:39] m4rc1e commented on #2354
Pushing a font to production goes through the following steps:

Review github pr
merge github pr
test on dev server
test on sandbox server
push to production once all tests have been satisfied.

Due to the popularity of each family and the fact we've upgraded the family from a static to a VF, we have to be cautious. If it was a simple change such as adding a few glyphs, it would be live by now.

T

[2020-06-29 13:24] kontur commented on #2354
👍 Thanks for elaborating

[2020-06-29 15:13] davelab6 commented on #2509
Thanks @LornaSIL :) I think @RosaWagner will have some time in July to do this, we just had a quick video call and she says she ran the new family through Font Bakery and found the vertical metrics changed. I see the release notes page says,

I know arabic fonts often treat v metrics in a special way, so I would be curious to learn more about the rationale for how they are set.

Is there an upstre

[2020-06-29 15:16] davelab6 commented on #2509
Ah! https://github.com/silnrsi/font-harmattan

[2020-06-29 15:21] LornaSIL commented on #2509
@davelab6 @RosaWagner

Thank you! We changed the line metrics because we added all the characters in the 3 Arabic, Arabic Supplement and Arabic Extended-A blocks which made some of the characters be clipped (they were taller or extended further below the baseline than the characters in v 1.001 did) which is why we increased it. Our goal is always support at least one vowel and shadda above a chara

[2020-06-29 15:23] davelab6 commented on #2509
@LornaSIL I propose this very slight modification to the updated text, and retaining the last 2 paragraphs, what do you think?

[2020-06-29 15:24] davelab6 commented on #2509
Yes, I understand that - I'm curious to learn the exact (step by step) thinking behind which values were used :) And also I'd like to confirm the same values are used in both styles.

[2020-06-29 15:27] LornaSIL commented on #2509
Yes, that would be fine.

[2020-06-29 15:27] davelab6 commented on #2419
Thanks @bettergui and thank you for your patience! I expect @RosaWagner will be able to review and update this family in the next few weeks :)

[2020-06-29 15:29] LornaSIL commented on #2509
I don't know if tagging @bobh0303 will work. I'll check with him when he comes online to see if he wants to explain his complicated spreadsheet!

[2020-06-29 15:34] davelab6 commented on #2509
Yes, he will get an email now with comments on this issue :) I would love to see the sheet and possibly add a new 'arabic v metrics' check to Font Bakery (similar to the CJK one introduced with
https://github.com/googlefonts/fontbakery/pull/2797 and documented at https://github.com/googlefonts/gf-docs/tree/master/Spec#font-vertical-metrics)

URL update is good!

[2020-06-29 15:46] #2479 closed

[2020-06-29 15:48] pandia-type commented on #2479
Close issue

[2020-06-29 19:41] bobh0303 commented on #2509
You can find my thinking behind v metrics in this [google doc](https://docs.google.com/document/d/1kLhM7GqvW0f6G2uYqxp-mwVKxCVDvwxDtX9SGg7s_tk/edit?usp=sharing).

The process I used to come up with these numbers is somewhat convoluted, and involves a program that analyzes combinations of base + marks to calculate how far they spread ink above/below the baseline and identifying the greatest values.

[2020-06-29 20:59] davelab6 commented on #2509
Excellent, thank you @bobh0303 :)

@m4rc1e do you have any suggestions about how to proceed?

[2020-06-29 21:11] bobh0303 commented on #2509
It seems this issue has split into two things:

1. Updating Harmattan on Google Fonts
2. Calculating / testing vertical metrics in Arabic fonts

When you ask

to which of these two are you referring?

(It might be useful to create a separate issue for 2)

[2020-06-29 21:27] cssobral2013 opened #2523 "Several glyphs in Jost font have bizarre overlaps"

[2020-06-29 21:30] cssobral2013 opened #2524 "Expand Jost to full GF Latin & Cyrillic Plus"

[2020-06-29 21:59] mfwitten commented on #1441
What is the reason for *Carlito*'s delay, especially given the importance of its metric-compatibility with the ubiquitous *Calibri*?

I don't intend to poke anybody; I'm just genuinely curious.

From what I can tell:

* **2013-12-05:** *Carlito* basically came into existence via ChromeOS [Issue 280557](https://code.google.com/p/chromium/issues/detail?id=280557).

* **2017-08-20:** @Ganton noted in

[2020-06-29 22:13] thlinard commented on #2524
Probably a better place: https://github.com/indestructible-type/Jost/issues

[2020-06-30 01:14] cssobral2013 commented on #2524
@thlinard - I already redirected this issue to author.

[2020-06-30 02:20] davelab6 commented on #2509
I want @m4rc1e to review your approach to (2) in order for (1) to proceed

[2020-06-30 03:08] VernonGrant commented on #1913
Hi All,

I'm still having this problem, but I think **I found a solution**.

It seems that this issue presents itself when loading the font files directly from Google, using the `link` tag or the css `@import` options recommended. When hosting the font files locally, the issue seems to resolves itself.

For convenience you can use the following tool to help load font files locally: [https://google

[2020-06-30 08:35] RosaWagner commented on #2509
Concerning (1) I will post issues on the upstream repo ;)

[2020-06-30 09:48] m4rc1e commented on #1441
@vv-monsalve Did we work on Carlito at any pooint? I can't remember.

[2020-06-30 13:47] vv-monsalve commented on #1441
No, we only worked on Caladea last year, I didn't know about Carlito.

[2020-06-30 14:05] RosaWagner commented on #2419
Oh but apparently it has already been updated ! See merge https://github.com/google/fonts/pull/2418
So I close this issue ;)

[2020-06-30 14:05] #2419 closed

[2020-06-30 20:31] ReneeLKimbrell opened #2525 "Variable fonts are not showing"
For the past two days the variable fonts have not been displaying and not able to be selected. This issue is at least only happening on Chrome, which is what I primarily use.
<img width="1189" alt="Screen Shot 2020-06-30 at 4 29 43 PM" src="https://user-images.githubusercontent.com/67659024/86174046-f2666100-baee-11ea-99bb-1ab70000d9ef.png">

[2020-06-30 23:03] kotofenum commented on #2507
Spent some time looking for it as it was removed from the https://fonts.google.com and neither mentioned in CSS API v2.

[2020-07-01 23:13] cssobral2013 opened #2527 "Italics for Roboto Slab"

[2020-07-02 11:43] Skyba opened #2528 "Easily compare selected families"
It used to be possible to compare selected families next to each other with a custom text.
Maybe I am missing something, but to me, this feature is either not accessible or hard to find. The only comparison between selected fronts happens in the browser, which has all fonts - maybe adding a filter "show selected only" could be useful ?

[2020-07-02 14:40] felipesanches opened #2529 "Add "Alyson Fraser Diaz" as designer on Beth Ellen's METADATA.pb"
Currently it has only "Rob Jelinski". We should also add a second name: "Alyson Fraser Diaz".

[2020-07-03 10:30] RosaWagner commented on #2509
The update is sent to google/fonts repo :  https://github.com/google/fonts/pull/2533

[2020-07-03 10:30] #2509 closed

[2020-07-03 13:25] #2529 closed

[2020-07-04 22:36] cssobral2013 opened #2534 "Muli VF 's' is defective (roman only)"

[2020-07-06 03:17] eliheuer commented on #2179
There is a new issue on the upstream [Cascadia Code repository](https://github.com/microsoft/cascadia-code) to help move this forward: https://github.com/microsoft/cascadia-code/issues/321

[2020-07-07 18:22] eliheuer opened #2535 "Mohamed Gaber is not properly credited for fonts he designed and maintains"
As of July 7th, 2020 I have observed the following issue when using https://fonts.google.com.

Cairo is still listed as designed by "Multiple Designers", despite [Mohamed Gaber](https://gaber.design/) being the primary designer and maintainer of the upstream repository: https://github.com/Gue3bara/Cairo

There have been a few pull requests and issues in the past trying to fix this:

1. https://git

[2020-07-08 03:22] davelab6 commented on #2426
@vv-monsalve @xotypeco and I discussed this again, and we agreed that in fact the opsz-max ought to be the default since these are primarily display-usage families.

[2020-07-08 18:19] davelab6 commented on #2535
Thanks @eliheuer

Merged #2535 - Cairo should be updated with this next week :)

[2020-07-08 18:24] davelab6 commented on #2535
Keeping open until this is verified in production

[2020-07-09 06:41] bartek-szymanski commented on #2386
Is there any time schedule when will Inter font be updated to include italic?

[2020-07-09 08:29] coreywho commented on #2326
Hi @laerm0 what's the status on this?

[2020-07-09 16:04] graphicore commented on #2442
There's a work in progress PR: https://github.com/google/fonts/pull/2526 @xconsau let's coordinate this in the upstream repo: https://github.com/xconsau/KumbhSans/issues/1

[2020-07-09 21:26] mfwitten commented on #1441
The [*ChromiumOS* source says](https://chromium.googlesource.com/chromiumos/overlays/chromiumos-overlay/+/master/media-fonts/crosextrafonts-carlito/crosextrafonts-carlito-20130920.ebuild):

* The *Carlito* font was designed by Łukasz Dziedzic (@typoland).

* The license is **OFL 1.1**

* The distribution files are gotten from [here](http://commondatastorage.googleapis.com/chromeos-localmirror/dist

[2020-07-10 13:05] thlinard commented on #2308
Released today, version 2.000 add two VF fonts:
https://github.com/JetBrains/JetBrainsMono/releases/tag/v2.000

[2020-07-11 08:51] opentype-RH opened #2540 "New Font: FDI Wiking"
I would like to submit my recent release to Google fonts:
Github: https://github.com/opentype-RH/Wiking
Foundry page: https://fdi-type.de/fonts/fdi-wiking/

![typespecimen-wiking-3](https://user-images.githubusercontent.com/29516339/87220435-fc485980-c363-11ea-866c-52844c1d1109.png)

[2020-07-13 12:50] mashedkeyboard opened #2543 "Variable fonts not serving as expected from fonts.googleapis.com in Firefox"
Hi folks, the implementation of variable fonts on Google Fonts is great, and should hopefully be a really useful feature :smiley:

I think Firefox (at least, my Firefox!) is still being served non-variable fonts incorrectly, though. Take, for example, https://fonts.googleapis.com/css2?family=Vollkorn:wght@400..700&display=swap:

<details>
  <summary>Chromium 86 output</summary>

[code]
</details>

[2020-07-13 13:40] thlinard commented on #2543
It looks like it's related to Firefox on Linux specifically.

On macOS, the output of Chrome and Firefox is identical.

But, with Firefox 78 on Ubuntu, I get the same output as you.

[2020-07-14 13:20] m4rc1e commented on #23
Latest fonts are now in production, https://fonts.google.com/specimen/Source+Serif+Pro
Enjoy

[2020-07-14 13:20] #23 closed

[2020-07-14 13:22] m4rc1e commented on #613
Family is now in production https://fonts.google.com/specimen/Varta

[2020-07-14 13:22] #613 closed

[2020-07-14 13:23] m4rc1e commented on #1426
Closing this since Amiri v0.113 is now in production.

[2020-07-14 13:23] #1426 closed

[2020-07-14 13:24] m4rc1e commented on #1690
Rowdies is now in production, https://fonts.google.com/specimen/Rowdies

[2020-07-14 13:25] m4rc1e commented on #2489
Latest version, v4.004 is now in production. Thanks for raising this issue.

[2020-07-14 13:25] #2489 closed

[2020-07-14 14:36] skmnktl opened #2546 "Vedic Support for Indic Language Fonts"
Hello! I am looking for support for several vedic/indic language ligatures that don't exist in all fonts uniformly (or at all, in some cases) for use on Google Sheets.

1. We can specify multiple fonts on Google Sheets to define a default and several backup fonts so we can pull a character from a font that has a certain ligature enumerated. There is no support for this.
2. Alternatively, if we can

[2020-07-15 04:35] frankrolf commented on #23
Thank you!

[2020-07-15 14:24] Ibbe2011 commented on #1610
@davelab6 Any good new?? Since i am a graphics designer i really need it.

[2020-07-15 16:21] rafyqpro opened #2549 "Add Dhivehi akuru"
https://github.com/google/fonts/issues/1610 add dhivehi akuru font

[2020-07-15 16:21] #2549 closed

[2020-07-15 17:20] ocripps24 commented on #1412
If help is still needed, let me know as I'm happy to learn and help!

[2020-07-15 18:13] felipesanches commented on #1412
I've been working with @marcologous during the past month and we've got it in good shape. I'll be posting a pull request this week with the latest font files we've prepared. Hopefully they're good enough to be added to the collection soon. Still pending a final review though.

[2020-07-15 20:24] thlinard commented on #25
Pull #2548: this issue can finally be closed!

[2020-07-17 00:14] lachieh opened #2553 "[Montserrat] Support for tabular number spacing limited to 700 weight"
Tabular spacing seems to be limited to the 700 weight:

Here is the 500 weight:
<img width="263" alt="Screen Shot 2020-07-16 at 8 11 38 PM" src="https://user-images.githubusercontent.com/1687902/87734436-9c591500-c7a0-11ea-85a4-8c580ed84610.png">

Here is the 700 weight:
<img width="276" alt="Screen Shot 2020-07-16 at 8 11 31 PM" src="https://user-images.githubusercontent.com/1687902/87734475-b72b

[2020-07-17 05:38] pushpendraKh commented on #676
Any idea by what time will it be added to google fonts? Anyone?

[2020-07-17 11:34] m4rc1e commented on #1672
Family is now live, https://fonts.google.com/specimen/Red+Rose?query=red

[2020-07-17 11:34] #1672 closed

[2020-07-17 13:28] m4rc1e commented on #2535
Designers have been updated.

https://fonts.google.com/specimen/Cairo?query=cairo

[2020-07-17 17:22] eliheuer commented on #2535
Good news @Gue3bara, sorry it took so long to fix this. Thanks Dave and Marc!

[2020-07-17 17:44] eliheuer commented on #2535
Cairo works as expected, thanks again! But El Messiri and Lemonada are still listed as "Multiple Designers" only. So searching for "Mohamed Gaber" on Google Fonts now only returns Cairo. El Messiri and Lemonada are all primarily designed by Mohamed Gaber if i'm not mistaken or missing another typeface he designed. I can try another PR for these like the one that was recently merged.

[2020-07-18 00:02] davelab6 opened #2555 "Migrate upstream location data into METADATA files"
We now have metadata on fields to track where each upstream is, let's populate them :)

[2020-07-18 11:21] anushbhatia opened #2557 "URL Inconsistency Issue with the fonts"
If you search a font in any other browser will face a major bug that is if a font is typed in First Word capital for example: https://fonts.google.com/specimen/Montserrat **(It will work fine**)😊
https://fonts.google.com/specimen/montserrat  **(this won't)**😥
This creates an issue of URL inconsistency. Might cause a surge of bounce back rate so to reduce this we can have a single named allocated t

[2020-07-18 14:00] graphicore commented on #2555
`gftools packager` writes that data. e.g.

https://github.com/google/fonts/blob/19423c7bc44bef253129a2222bfc7f4c4684bb03/ofl/saira/METADATA.pb#L37-L41

from #2539

So, eventually, when we use that tool, we'll have that information. Doing it by hand, for all of google/fonts sounds tedious to me, especially because we often won't have commit hashes. There was no policy in the past that there must be

[2020-07-18 14:02] asako08 opened #2558 "'Quicksand' gets thinner in chrome."
I'm loading'Quicksand' with the following code.
`@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');`

In chrome version: 84.0.4147.89, characters are thin.
Safari version 12.1.1 and FireFox 78.0.2 are fine.
Is this a bug?

[2020-07-18 14:10] felipesanches commented on #2555
I've just opened a PR yesterday for Hanken Grotesk at https://github.com/google/fonts/pull/2554. I'll update it to include the upstream repo info (which I had already mentioned on the commit log, but has not included in the METADATA.pb file)

[2020-07-18 14:12] felipesanches commented on #2555
there should be a fontbakery check for that as well...

[2020-07-18 14:13] graphicore commented on #2555
Use the packager!

[2020-07-19 14:06] marcologous commented on #1412
Thanks @felipesanches !

[2020-07-19 18:04] thlinard commented on #2553
Hi,

All the boxes have aligned figures in my browser.

- Uninstall any local copy.
- Don't use https://fonts.gstatic.com (and moreover, you mix the versions: v10 in a place in your code, v12 in the url, and v14, the current version, the one you get by https://fonts.googleapis.com).

[2020-07-20 02:39] aaronang commented on #1774
This issue is still happening for me. When I use Figma to collaborate with other people, their Poppins is rendering the crossbar of the "e" character very thinly. When I click on the text object, it renders to a thicker crossbar for the "e" character. What is causing this issue? How can we solve this problem?

I can work on this problem if someone can provide some guidance.

[2020-07-20 07:55] m4rc1e commented on #1774
I've never used Figma so I don't know how font loading works in their app.

I'd first check if you/other members have an older version installed locally. If you all have the latest installed, perhaps Figma has cached the older version?

[2020-07-20 11:30] EwonRael commented on #1848
Hi!

The [Bodoni Moda](https://github.com/indestructible-type/Bodoni/tree/google) branch of Bodoni* is currently passing all fontbakery checks for the static builds of the font. However it still throws up an error for the variable font version.

This is due to naming conventions. Right now the typeface has different versions for various point sizes. These are considered different font families in

[2020-07-20 13:28] m4rc1e commented on #1848
@EwonRael we've recently changed our instance naming policy, https://github.com/googlefonts/gf-docs/tree/master/Spec#fvar-instances.

We don't allow any particles other than weight and italic to be included in instance names. However, we expect these styles should be included in a STAT table.

Read the docs and if it still remains unclear, open an issue and we'll improve the docs.

[2020-07-20 16:22] davelab6 commented on #1848
The family name can't just be Bodoni, it needs to be Bodoni Moda

On Mon, Jul 20, 2020, 9:28 AM Marc Foley <notifications@github.com> wrote:

[2020-07-20 16:22] lachieh commented on #2553
Thanks, I've updated the code to use the latest CSS import from fonts.google.com. I did have a local version of Montserrat bold installed, so I've removed it and now none of the boxes have aligned figures. I have confirmed this in latest Chrome and Firefox on macOS.

This is the import I have in the example now:
[code]

And these are the URLs that are loading:
[code]

What are some next steps I ca

[2020-07-20 16:23] davelab6 commented on #1774
The next update to Poppins will fix this

[2020-07-20 16:24] aaronang commented on #1774
@davelab6 Could you explain the problem to me? I would love to know what is causing this.

Thank you all for your work 🙏

[2020-07-20 16:59] davelab6 opened #2559 "URGENT: CI bot check for METADATA line removal"
The recent PR to update Poppins removed the Devanagari subset from the METADATA files, causing the API to stop serving it at all.

The CI should prevent PRs from being merged which remove subset keys, and warn when any keys are removed

[2020-07-20 17:17] thlinard commented on #2553
Oh, yes. I believe Dave's answer is still valid:
https://github.com/google/fonts/issues/1582

Btw, the WOFF and WOFF2 files are already available In the latest version: https://github.com/JulietaUla/Montserrat/tree/master/fonts/webfonts

[2020-07-20 17:54] lachieh commented on #2553
Ok, thanks. It would be great to add support for enabling OT features with a query string or something of the like. I understand it's not something that everyone uses, but it'd nice to be able to enable them selectively.

I'll close this one in favor of that other ticket or adding a feature request.

[2020-07-20 17:54] #2553 closed

[2020-07-20 18:55] strarsis opened #2560 "Make Alegreya a variable font"
It would save lots of bandwidth to have Alegreya a variable font.

[2020-07-20 20:43] EwonRael commented on #1848
okay so the Bodoni Moda branch now static+variable fonts that pass all fontbakery tests and should conform to the instance naming/STAT policy.

Don't worry @davelab6 as long as we're pulling from the [google branch](https://github.com/indestructible-type/Bodoni/tree/google) or using the build-GF.sh script the family name is "Bodoni Moda"

Let me know how things look

[2020-07-21 08:13] anushbhatia commented on #2557
@davelab6 @m4rc1e any suggestions?

[2020-07-21 12:18] alinacsava opened #2562 "Add new font — Fraunces"
Fraunces is a beautiful variable serif https://github.com/undercasetype/Fraunces

[2020-07-21 13:03] alinacsava commented on #2562
Though not specified in the repo, author's website states "Commissioned by: Google Fonts", so I'm closing the issue as redundant.

[2020-07-21 13:03] #2562 closed

[2020-07-21 16:22] mfwitten commented on #1441
The file [`CONTRIBUTING.md`](https://github.com/google/fonts/blob/master/CONTRIBUTING.md) lists some high-level criteria for including a font family in the *Google Fonts* project; here are the high-level criteria that need to be investigated for the inclusion of *Carlito*:

Criterion | Satisfied | Comment
--------- | :-------: | -------
[Google&nbsp;CLA](https://cla.developers.google.com/about) |

[2020-07-21 20:57] SpicyPete opened #2563 "Muli is missing"
I'm using Muli on a few projects, and it looks like it's no longer on Google Fonts.

[2020-07-22 05:31] p-i- opened #2564 "Please allow visitors to https://fonts.google.com/ to set height of rows"
If you visit https://fonts.google.com/ you can only see 3-4 entries on screen at any one moment.

Scrolling through ~1000 fonts, it is just hard work.

Look at the attached screenshot: look at the wasted space!

How about a compact mode? Or at the very least, resize rows to the height required by the content.

I'm not sure where to place this request, my apologies if this is the wrong place.

![Sc

[2020-07-22 09:03] misha28136 opened #2565 "no"
@sladen no

[2020-07-22 09:03] misha28136 commented on #2565
- [ ]

[2020-07-22 09:03] misha28136 commented on #2565
`tgrtrtr`

[2020-07-22 09:04] misha28136 commented on #2565
gg

[2020-07-22 09:05] misha28136 commented on #2565
ggg

[2020-07-22 10:10] m4rc1e commented on #2563
We had to rename the family to Mulish, https://fonts.google.com/specimen/Mulish?query=mulish. Please use this instead. It is identical, apart from the family name.

[2020-07-22 10:10] #2563 closed

[2020-07-22 19:37] anushbhatia commented on #2557
@davelab6 @m4rc1e

[2020-07-23 02:01] eliheuer commented on #2289
There is a new game on stream that uses this typeface for its title graphic: https://store.steampowered.com/app/1353230/Bomb_Rush_Cyberfunk/

[2020-07-23 03:03] davelab6 commented on #2370
@psb1558 this has blocked by resolution of how we want to handle the opsz axis and STAT table, which was finalized just last week :) More soon

[2020-07-23 17:11] psb1558 commented on #2370
Thanks for the update. Better to get things right than to rush them.

[2020-07-24 14:33] laurisbernhart commented on #2425
We are also facing this problem with **Comfortaa**, when creating a PDF with chromium. Adobe works fine but in Apple preview, the A has these two dots.

Using Comfortaa from eg fontsquirrel - doesn't come with this issue.

[2020-07-24 14:36] lindig commented on #2425
This could be an issue by the distribution via Google Fonts which are compiled from source code by Goole, I assume. The developer of the font suggests to download the fonts from his GitHub repository.

[2020-07-25 00:55] cssobral2013 opened #2576 "Support for Italic axis on API?"

[2020-07-25 08:10] m4rc1e commented on #2576
The api is fine. The issue is the ital and slnt axes lack decent browser support https://arrowtype.github.io/vf-slnt-test/

[2020-07-25 12:27] Rowlet-The-Coder commented on #2564
You can scroll up to the top. At the top left there are buttons to toggle between grid view and list view. Grid view will allow you to view more fonts on a screen at once :)

[2020-07-25 13:00] p-i- commented on #2564
I tried that. But the grid cell height is huge. Just the same with the row
heights are.

Someone needs to dynamically resize the heights.

On Sat, 25 Jul 2020 at 19:28, Rowlet <notifications@github.com> wrote:

[2020-07-27 15:29] toothbrush7777777 commented on #2543
I also don't see the variable fonts on Firefox Developer Edition (v79.0b7) on Windows 10.

[2020-07-28 10:44] rahulgajjar commented on #1774
Hi Aaron Ang,

The issue with the letters like 'e' has been solved by ITF since a long time ago. It had been requested to google fonts to update the fonts to the latest version. But, somehow the google fonts never updated the Poppins font. I request you to download the latest font from the Indian Type Foundry repository. There is also a variable font version as well if you wish to experiment with

[2020-07-28 10:49] m4rc1e commented on #1774
This was solved when we pushed the hotfix a few weeks back

<img width="408" alt="Screenshot 2020-07-28 at 11 47 45" src="https://user-images.githubusercontent.com/7525512/88656416-2cb02780-d0c8-11ea-87e5-7e87de34bfc8.png">

Problem is the user is either using an older version or Figma has cached the older version.

[2020-07-28 12:09] RosaWagner commented on #1320
@davelab6 Should we close this request with few instructions/explanations ?

[2020-07-28 12:12] RosaWagner commented on #2081
I close this issue according to the conclusion brought here : https://github.com/google/fonts/pull/2545

[2020-07-28 12:12] #2081 closed

[2020-07-28 12:13] #2565 closed

[2020-07-28 12:21] RosaWagner commented on #2560
I looked into the source files, outlines are already compatible. So I don't think it would take to much time to propose a v3 with a weight axis. @davelab6 do you think it would be something we could do this year or we keep it for later ?

[2020-07-28 12:23] m4rc1e commented on #2560
Already done, https://github.com/TypeNetwork/Alegreya. AFAIK, i haven't pushed it since the diffing tools had a problem with the binaries.

[2020-07-28 12:27] RosaWagner commented on #2560
Ah ok I was looking at this repo : https://github.com/huertatipografica/Alegreya
so… we can close this issue ?

[2020-07-28 12:52] strarsis commented on #2560
So I can now just embed the Alegraya font from Google Fonts and it would be a variable font?

[2020-07-28 13:42] m4rc1e commented on #2560
@strarsis not yet. The TN pr is still open https://github.com/huertatipografica/Alegreya/pull/26. I'll need to rereview it.

[2020-07-28 14:54] strarsis commented on #2560
@m4rc1e: So this issue should stay open until Alegraya can be embedded as variable font from Google Fonts API?

[2020-07-28 16:39] strarsis opened #2579 "Embed styles: Variable font used or not?"
When embedding multiple Raleway styles from Google Fonts API, https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap, in the delivered styles it appears no font variation specific CSS is used (like `font-variation-settings`).
Or is this automatically embedded and I can use `font-weight` and `font-style` as usual?

[2020-07-28 18:46] strarsis commented on #2560
@m4rc1e, @RosaWagner: A bit OT, but how hard would it be to transform an existing font, e.g. Arial or a very Arial-similar font to a variable font? I want to stretch the letters of an existing font. Currently, I have to use CSS transforms, but it interferes with the layout in the page. Having an axis for stretching the letters would be great. Are there Arial-like fonts or conversion tools for this

[2020-07-29 01:55] davelab6 commented on #2081
Thanks @eliheuer and @RosaWagner

[2020-07-29 19:22] cssobral2013 commented on #2534
Looks like the font was updated now.

[2020-07-29 19:22] #2534 closed

[2020-07-29 19:29] cssobral2013 opened #2581 "Add Ysabeau to Google Fonts"
upstream: http://github.com/CatharsisFonts/ysabeau
delivery date: 31 dec 2022

[2020-07-30 05:29] yellow1912 commented on #2507
Can someone confirm this? Looks like a huge change and they don't even bother mentioning it anywhere?

[2020-07-30 09:41] sovichet opened #2582 "Khmer fonts are broken"
The ligatures, conjunct forms, and other OpenType features are not enabled for Khmer.

@davelab6 @marekjez86

![Google-Fonts-Khmer-Broke](https://user-images.githubusercontent.com/1669566/88907726-2ca85700-d283-11ea-84a3-c00c6e190d27.png)

[2020-07-30 09:52] Coffeemug1234 opened #2583 "Cyrillic glyph issue in Firefox"
Hi!

I encountered a strange issue with a Cyrillic glyph ("з"). I use the Google Font "Roboto", also because I checked that it would feature that glyph.

Now on my Wordpress page in Safari, that display works perfectly. But in Firefox, Roboto does not feature the one glyph (the rest of the text is displayed perfectly in Roboto).

Would anyone know a way how to make the glyph be displayed correctly

[2020-07-30 16:47] tiroj commented on #2583
Is that word a real example of how you are using this character, or just a test string? i.e. are you using this Cyrillic character with in words where the other letters are Latin characters? That shouldn't affect the display in the way you show, but it is unusual and would affect script itemisation and run segmentation which _could_ trigger some kind of fallback font behaviour in some environments

[2020-07-30 17:20] moyogo commented on #2583
It looks like neither Safari or Firefox are showing з in Roboto in your screenshots

Compare the two
![](https://user-images.githubusercontent.com/68993655/88909224-23a38f80-d25b-11ea-87f0-58612b6cd897.png)

![](https://user-images.githubusercontent.com/68993655/88909229-243c2600-d25b-11ea-8bbd-71a7c972704c.png)

with that word tested on the Roboto Google Font specimen page:
<img width="102" alt="

[2020-07-30 18:37] Coffeemug1234 commented on #2583
It is indeed a real example. It is a graffito quote from a boarder watch tower in Berlin from 1989, presumably by a Soviet solider: It is a German word with the first letter "s" spelled as a Cyrillic letter "з".

I get that it is an unusual word (or actually in writing a non-existent one), I was just surprised to see that even though Roboto knows this letter, Firefox appears to fail to display it.

[2020-07-30 18:54] Coffeemug1234 commented on #2583
Thank you very much, incredible observation. Indeed, it is not a Roboto glyph in Safari either ...

It appears Roboto is not locally installed. Is there a way I could make sure the necessary unicode-range as shown in the Roboto CSS is covered? Could I make edits in my Wordpress theme to make sure the display will be correct in the browsers?

[2020-07-30 21:39] rsheeter commented on #1067
I suppose I'm late but the suggestions here are interesting :)

Thinking "aloud," the static nature of the font files combined with dynamic css lends itself to aggressive cache durations and CDN use for the font binaries. If we had to make `/latest` dynamic (so it would send you the right font for your platform and UA) we might have to give up some of that

Another concern is that there isn't nece

[2020-07-31 09:43] levipadre opened #2586 "Rendering issue on smaller screens (Inter font)"
I noticed with Inter font that on smaller screens capital letters look weird. The font owners website looks fine though.
Here is an example link:
https://fonts.google.com/specimen/Inter?query=inter&preview.text=Welcome+to+SQUARE&preview.text_type=custom

<img width="752" alt="Screenshot 2020-07-31 at 11 39 31" src="https://user-images.githubusercontent.com/357974/89022757-cecb4c00-d322-11ea-944a-0

[2020-07-31 17:34] davelab6 commented on #2543
Per https://github.com/google/fonts/issues/2051#issuecomment-511561400 we only send VFs to GNU+Linux users of Chrome.

And we don't send VFs to Windows users of Firefox due to DirectWrite issues that can cause bad line spacing @m4rc1e identified last year; probably now is a good time to re-check, so assigning to Marc :)

[2020-07-31 20:52] felipesanches opened #2587 "Reintroduce METADATA.pb source fields whenever possible"
https://github.com/google/fonts/pull/2585

[2020-08-01 14:29] davelab6 commented on #1412
@felipesanches what is the status of this? :)

[2020-08-01 14:29] davelab6 opened #2588 "Add Nerko"
https://github.com/nermink99/Nerko

[2020-08-01 14:53] felipesanches commented on #1412
The font family builds and passes all Font Bakery checks, but there are a few warnings emitted by **fontmake** that I do not understand such as this one:

![Screenshot from 2020-08-01 11-49-55](https://user-images.githubusercontent.com/213676/89104173-9f354600-d3ed-11ea-9562-355b47c2854d.png)

[2020-08-01 14:56] felipesanches commented on #1412
I'll open a few more issues listing all of the suspicious warnings next Monday morning and I'll try to address them

[2020-08-01 15:14] Shivansh2407 commented on #2588
Hi @davelab6 . I will be really glad to contribute to this repository. Can I work on this issue? Also can you please guide me on this.

[2020-08-01 18:55] marcologous commented on #1412
@felipesanches I saw a thread regarding Axis location on somewhere in the fontbakery repo. I think a custom parameter needs to be added to each of the instances.

[2020-08-01 19:11] felipesanches commented on #1412
yeah, but I am not sure exactly which setting would that be. We still need to figure it out.

[2020-08-01 19:35] davelab6 opened #2589 "Github Actions CI to reduce to_sandbox and to_production bugs"
I fixed a typo bug recently introduced into `/to_sandbox.txt` (https://github.com/google/fonts/commit/d40de44891816dd5b952c2b1231b9d88bca357b2)

I wonder if we can have a very simple Github Actions CI script that

- [ ] sorts the contents of the files, compares the output to the input, and if there is a diff, FAILs

- [ ] checks that the path exists, and if not, FAILs

Getting fancy, I can imagine

[2020-08-01 20:39] #2451 closed

[2020-08-03 15:21] DecliningLotus commented on #2321
@davelab6, unfortunately, this is an unreliable solution considering that table isn't updated. There are only 40 variable fonts listed there whilst we currently have 53 live in production. Do you have any other solutions or possible things in the works to address a valid endpoint to pull data about variable fonts from?

[2020-08-04 12:50] Kilian commented on #2321
Additionally, the table only shows ital and wght, while many variable fonts have more axis.

[2020-08-04 13:42] davelab6 opened #2595 "Axis Registry file extensions?"
For consistency, should the `/axisregistry` files have a `.pb` extension, same as METADATA and profile files?

    casual.textproto -> casual.pb

[2020-08-04 14:35] davelab6 commented on #2321
We are working on an update that will auto populate the information, and
I'll request a manual update to that docs page now.

Also, the table will only ever show axes defined in
https://github.com/google/fonts/tree/master/axisregistry

[2020-08-04 14:38] Kilian commented on #2321
@davelab6 Thanks! Check your Twitter DM for a list of missing fonts in that table :)

[2020-08-04 19:02] nathan-williams commented on #2595
`.textproto` is the correct file extension for text format proto files.

I would say that the other files using the `.pb` extension is a legacy artifact. As discussed over PM, suggest we leave both file extensions as is. There wouldn't be much benefit to updating the `.pb` files. Like you said, it's tech debt

[2020-08-04 19:04] davelab6 commented on #2595
Thanks @nathan-williams! I'll make a note in our TRIVIA file and close this out

[2020-08-04 19:07] #2595 closed

[2020-08-04 19:55] davelab6 opened #2599 "Add "Source Serif 4" with that name"
Per https://github.com/adobe-fonts/source-serif-pro/issues/77 Adobe Fonts will release the next version of Source Serif Pro as "Source Serif 4"

Generally we don't want versions in family names, although there are a few exceptions ([Lobster Two](https://fonts.google.com/specimen/Lobster+Two), [Exo 2](https://fonts.google.com/specimen/Exo+2), etc)

Adobe have offered to add a GF target to their bui

[2020-08-04 21:20] davelab6 commented on #2525
@ReneeLKimbrell is this still happening for you? I can't reproduce on Chrome 84, macOS

[2020-08-04 21:22] ReneeLKimbrell commented on #2525
Hello,

I am not having that issue any more on Chrome. I was when I first submitted
the problem and was having it for a few days but it seems good now.

On Tue, Aug 4, 2020 at 5:20 PM Dave Crossland <notifications@github.com>
wrote:

--
Renee Kimbrell Design
reneekimbrelldesign.com

[2020-08-04 21:24] davelab6 commented on #2588
@Shivansh2407 I'm sorry to say that while our CONTRIBUTING file explains our requirements and links to further process documentation, we aren't currently able to support volunteer contributors like yourself - beyond discussions in this issue tracker.

[2020-08-04 21:27] davelab6 commented on #2586
Which operating system, version, and browser, and version, do you see this with?

[2020-08-04 21:32] davelab6 commented on #2576
Families composed of a single file with a `slnt` axis, we can enable that axis in the API, but (for now) it will not show in fonts.google.com

Families composed of a single file with `ital` axis, we can not enable that axis in the API, because a single `@font-face` will not work with `font-style: italic` yet, as explained on https://arrowtype.github.io/vf-slnt-test. Therefore we recompose the fami

[2020-08-04 21:46] davelab6 commented on #2582
Hmm! Hanuman works but the others do not. I will contract you and Danh Hong via email :)

<img width="1503" alt="Screen Shot 2020-08-04 at 5 43 21 PM" src="https://user-images.githubusercontent.com/261579/89348136-0bc47500-d67a-11ea-9b5b-f2177722b4c5.png">

<img width="746" alt="Screen Shot 2020-08-04 at 5 40 53 PM" src="https://user-images.githubusercontent.com/261579/89348125-09621b00-d67a-11ea-

[2020-08-05 01:51] danhhong commented on #2582
yes, i am working on this and will finish in 2 or 3 weeks.

[2020-08-05 02:49] davelab6 commented on #2582
Curious that free shaping works correctly outside the catalog....

[2020-08-05 03:53] sovichet commented on #2582
It looks like the conjunct glyphs are not included in the subset woff2 file returned from the server. I checked the 3 woff2 files, and only base letters are there. And it seems like the feature codes are also removed too. This issue may be related to the one I posted before #2388.

<img width="1680" alt="Screen Shot 2020-08-05 at 10 48 38" src="https://user-images.githubusercontent.com/1669566/893

[2020-08-05 04:04] sovichet commented on #2582
I guess the a particular set of OpenType Features is expected to be there. So maybe after Danh Hong updated the features, they might display correctly. :) I will also need to update my two fonts there.

[2020-08-05 07:02] levipadre commented on #2586
macOS Catalina v10.15.6, Chrome browser v84.0.4147.105 and I see on iPad device view with developer toolbar.
Thanks!

[2020-08-05 11:50] topherboulevard opened #2602 "Inter – Capital 'A' not showing correctly on Mac OS"
The capital 'A' isn't displaying correctly. I've researched the issue further and it seems that it displays fine on Chrome on Windows 10, but not Mac OS.

I'm using Chrome on macOS Catalina, version 10.15.6 and the font was downloaded form Google.

I've since downloaded the latest version from rsms.me/inter and it's working fine so it must be a bug at Google's end.

[2020-08-05 15:59] waldyrious commented on #62
Ping following the discussion at Homebrew/homebrew-cask-fonts#2246 — what needs to happen for this to move forward? I'm happy to help out if I'm given the right pointers :)

[2020-08-06 08:20] #2298 closed

[2020-08-07 14:35] davelab6 opened #2606 "Axis Registry: Allow family-specific fallbacks for slnt"
https://github.com/google/fonts/blob/4bd3c05add902033e8d9e7f0c6258bf67e9a4814/axisregistry/slant.textproto has only a fallback for `0`, but @tphinney points out that a users of a family with a slnt would benefit from named style access to at least one slanted style. This will vary per family.

[2020-08-07 15:42] TheTeam2020 opened #2607 "Mulish font"
The upper and lower case S Mulish Font has a habit of getting chopped at the edges. Is this something you’ve come across before? All is fine when you zoom in on the problem character though.
Seems only to be an issue in Adobe CC ID, AI and PSD. But fine in MS Word and PowerPoint. And the specimens on Google fonts seem to be fine too.
We also had the issue with the lowercase ‘x’ (see screen shot) b

[2020-08-09 14:48] andreazehnder opened #2609 "Amatic SC Bold Weight error for Question Mark"

[2020-08-09 22:44] ngunyimacharia opened #2610 "Add Noto Sans Ethopic"
It is part of the Noto Sans Family and can be located here: https://www.google.com/get/noto/#sans-ethi

Here is the repository to the font: https://github.com/googlefonts/noto-fonts

[2020-08-09 23:50] JoshuaWalsh opened #2611 "Google Fonts flagged as MALICIOUS by Google Ads"
Hi,

My employer has been using Google Fonts on one of their websites since it launched a few months ago. On the 30th of July we were informed by Google Ads that all of our ads have been disabled based on the [Malicious software](https://support.google.com/adspolicy/answer/6020954#311) policy.

After several weeks of back and forth, we have now been informed by Google Ads support that the reason f

[2020-08-10 00:43] khaledhosny opened #2612 "Broken Arabic shaping in Vibes font"
The web font (as shown on the website) show Arabic letters disjoined (unusable), but the downloaded font is fine.

Web font:
![image](https://user-images.githubusercontent.com/93914/89745273-08365100-dab3-11ea-9245-83bc374dffb5.png)

Downloaded font:
![image](https://user-images.githubusercontent.com/93914/89745280-1be1b780-dab3-11ea-9ad4-6725ae131a72.png)

[2020-08-10 00:45] khaledhosny commented on #2612
The same is happening with Aref Ruqaa, all other Arabic fonts seems fine.

[2020-08-10 00:51] khaledhosny commented on #2612
And Jomhuria as well.

Seems to affect the website only, though. Test HTML pages loading the fonts from Google Fonts render fine.

[2020-08-10 04:11] #2609 closed

[2020-08-10 09:31] ngunyimacharia commented on #2610
There is no current support for Amharic characters in all existing Google Fonts. Hence why I'd ask for this to be implemented.

[2020-08-10 15:27] n8willis opened #2613 "Update metadata license identifiers to note presence or absence of RFN"
Now that SPDX 3.8+ has added license variants(1) to easily distinguish between OFL-with-an-RFN and OFL-without-an-RFN, it would be helpful to update the license strings in the metadata files to reflect which applies to each font. I believe it would only be necessary to update the metadata files; touching the license files is not required.

Even though new fonts aren't accepted if they included an

[2020-08-10 15:52] thlinard commented on #2607
I reproduced the Xx problem with Mulish version 2.100 (VF version), with InDesign 2020 and Illustrator 2020 (but not with Photoshop 2020), on macOS 10.15.6.

[2020-08-10 16:25] TheTeam2020 commented on #2607
Hi Thomas,

Many thanks for confirming you can re-create the Xx problem with Mulish version 2.100. If you have time, can you confirm whether you have the issue we had with the ‘S’ cutting off on the top stroke. Pdf attached. It’s most noticeable in the bolder weights.

Thanks again,
Steve

From: Thomas Linard <notifications@github.com>
Reply to: google/fonts <reply@reply.github.com>
Date: Monday,

[2020-08-10 23:22] thlinard commented on #2607
Hi Steve,

No PDF attached to your post.

[2020-08-11 07:49] TheTeam2020 commented on #2607
Hi Thomas, apologies, pdf attached

From: Thomas Linard <notifications@github.com>
Reply to: google/fonts <reply@reply.github.com>
Date: Tuesday, 11 August 2020 at 00:22
To: google/fonts <fonts@noreply.github.com>
Cc: Steve Waker <SteveWaker@theteam.co.uk>, Author <author@noreply.github.com>
Subject: Re: [google/fonts] Mulish font (#2607)

Hi Steve,

No PDF attached to your post.

—
You are receiv

[2020-08-11 09:11] thlinard commented on #2607
Nope. Still not there.

[2020-08-11 09:16] m4rc1e opened #2614 "Google Fonts UI: misalignment of variable sliders"
Weight sliders appear misaligned when a user increases the pt size.

<img width="1392" alt="Screenshot 2020-08-11 at 10 13 47" src="https://user-images.githubusercontent.com/7525512/89879912-83832a00-dbbb-11ea-9426-4e8b90c614df.png">

Mac OS X 10.15.1
Version 84.0.4147.105 (Official Build) (64-bit)

[2020-08-11 09:47] TheTeam2020 commented on #2607
Okay, I've attached a pdf and a screen grab

<img width="560" alt="Screen Shot 2020-08-11 at 10 44 49" src="https://user-images.githubusercontent.com/69344672/89883366-f8586300-dbbf-11ea-97be-d53aa12b6e7f.png">

[Mulish.pdf](https://github.com/google/fonts/files/5056143/Mulish.pdf)

[2020-08-11 20:35] InputBlackBoxOutput opened #2615 "Can fonts have default colors?"
Hi there,
I have an amazing idea to create a new font but it wont look good if created in all black.

PS:I am posting this as an issue since I searched around on the internet but couldn't find an answer.

Thanks in advance.

[2020-08-12 03:15] arrowtype commented on #2615
Hey @InputBlackBoxOutput, yes, though there are caveats.

You can make an SVG "color font" in which you preselect the colors.

https://www.colorfonts.wtf/

https://glyphsapp.com/tutorials/creating-an-svg-color-font

The big catch is that Chrome doesn’t support SVG color fonts, and seems to have no plans to do so. But, if you want your font mostly as a graphic design tool, it will work in quite a f

[2020-08-12 03:20] arrowtype commented on #2615
(Also, this probably isn’t the best forum for this specific question, as it’s not really related directly to Google Fonts. But, I understand that you’re interested, and I hope you follow that curiosity! One good place to research questions like this is https://typedrawers.com/. Font editors like Glyphs & RoboFont also have very helpful forums. There are also tons of really amazing type resources o

[2020-08-12 03:21] #2615 closed

[2020-08-12 03:23] thundernixon commented on #2602
How was it displaying, and was it only under some conditions, or all? Can you please include a screenshot? Thanks!

[2020-08-12 04:20] topherboulevard commented on #2602
It was showing like this and all the time.

On Wed, 12 Aug 2020, 04:23 Stephen Nixon, <notifications@github.com> wrote:

[2020-08-12 04:21] topherboulevard commented on #2602
![Uploading Screenshot_20200812-051816_Photos.jpg…]()

[2020-08-12 04:45] arrowtype opened #2616 "Statics with download of Recursive from Google Fonts work poorly on Windows, macOS, Adobe apps, and probably more"
The static fonts for Recursive that are available via the "Download Family" function of the [Recursive specimen on Google Fonts](https://fonts.google.com/specimen/Recursive) have several issues that make them very unuseful in most contexts.

This is a particular problem because many designers would be likely to use static fonts to design a website or app before then using Google Fonts to provide t

[2020-08-12 09:00] thlinard commented on #2599
My comments:

* "Std" and "Pro" are not very relevant suffixes. Especially since they are only used to indicate support for [AL2](https://github.com/adobe-type-tools/adobe-latin-charsets) for Std and [AL3](https://github.com/adobe-type-tools/adobe-latin-charsets) for Pro, but many have used the suffix "Pro" to mean "more professional" (which did not mean much…).
* In the absence of better mangemen

[2020-08-12 09:37] thlinard commented on #2607
Oh, yes, indeed! Only in InDesign, at text size (or low zoom). At this size, the Xx problem doesn't appear.

[2020-08-12 09:49] thlinard commented on #2607
The problem seems fixed in the next release (3.602), but it requires confirmation.

[2020-08-12 09:56] m4rc1e commented on #2607
Interesting bug. Thanks for filing.

I'm able to replicate the issue using the current family in Indesign 15.1.1, OS X 10.15.1.

<img width="258" alt="Screenshot 2020-08-12 at 10 51 41" src="https://user-images.githubusercontent.com/7525512/90001891-e04d1600-dc89-11ea-86bd-6e9392dc2fa4.png">

What's interesting is if I change Indesign's rendering to "Overprint Preview" (command+option+shift+y), it

[2020-08-12 12:49] davelab6 commented on #2611
@JoshuaWalsh thanks for reporting this, I'll email you now to investigate further

[2020-08-12 13:05] rtpHarry commented on #2346
Just to wrap this one up from my point of view.

For any other future readers of this issue, Ben (readingtype) is actually the original author of the font. I reached out to him and he kindly offered me some support. The way that Google Fonts works is that Google does the packaging up and distribution of the font, so the issue seems to be in Google's work not Ben's.

The platform I was seeing the p

[2020-08-12 13:59] TheTeam2020 commented on #2607
Many thanks for the feedback.

I can see that amendments are being made re; Mulish 3.600. Is there a timescale around this version being available on Google Fonts?

[2020-08-12 16:21] arrowtype commented on #2616
It may be helpful to show specific TTX diffs of fonts. Not all the styles are the same, but some are. So, using [fdiff](https://github.com/source-foundry/fdiff), here are the most important diffs between the official statics & the Google Fonts generated statics, comparing

- `RecursiveSansLnrSt-Black.ttf` ("before", red lines)
- `Recursive-Black-CASL=0-CRSV=0-MONO=0-slnt=0.ttf` ("after", green lin

[2020-08-12 17:04] thlinard commented on #2607
Well, you can test the no-yet released officially files:

- https://raw.githubusercontent.com/google/fonts/f2ebcce1949b113d8d8d2817228dcacd2cb3ee7d/ofl/mulish/Mulish-Italic%5Bwght%5D.ttf
- https://raw.githubusercontent.com/google/fonts/f2ebcce1949b113d8d8d2817228dcacd2cb3ee7d/ofl/mulish/Mulish%5Bwght%5D.ttf

[2020-08-12 17:23] thlinard commented on #2616
Hi Stephen, thanks for this extensive study! I don't give my teams fonts from https://fonts.google.com/, I take them directly here, and with good reason I think.

The presence of a STAT table also poses problems for MS Office for Mac. https://github.com/clauseggers/Playfair-Display/issues/24, for example.

[2020-08-12 18:38] davelab6 commented on #2599
The same way. We don't want multiple versions, we want a single version of
each family, for caching and simplicity.

[2020-08-12 18:48] thlinard commented on #2599
Well, in this case, I think that answers the question: just remove the version number, and keep "Source Serif" (keeping the "Pro" doesn't make sense, as it will disappear, and the name without suffix will ultimately be the part that will stay the longest). You can even rename right away.

[2020-08-12 18:56] davelab6 commented on #2599
We don't rename, though; we can de-list from the catalog, and add a new
family with a new name, and maintain both names in the API.

I'm fine to keep "Source Serif Pro" as "pro" connotes Adobe.

[2020-08-12 19:03] thlinard commented on #2599
Keeping the "Pro"? In light of [Frank Grießhammer's comment](https://github.com/adobe-fonts/source-serif-pro/issues/77#issuecomment-671466629) "nobody could have known that the three-weight version would stick around on Google Fonts for 5 more years", aren't you afraid everyone will think Google has once again stuck to the old version? And people will ask for another service to get the latest vers

[2020-08-12 19:03] davelab6 commented on #2616
Thanks for the detailed report. I believe it is possible for the static
fonts instantiated from the variable font to work as well as the
thoughtfully-produced static fonts available from upstream, and these diffs
will be helpful at determining how fontTools can be used to achieve this.

[2020-08-13 06:39] EwonRael commented on #1848
I'm thinking everything is good on my end to push to GF? Let me know if I'm mistaken about this or if there's something more I should be doing?

[2020-08-13 07:50] elron commented on #401
@alexeiva Would you mind explaining what you did to fix that in the font?

[2020-08-13 12:06] graphicore commented on #401
@elron this is done with Open Type Features, which are usually written in the [Open Type Feature File (`.fea`)](http://adobe-type-tools.github.io/afdko/OpenTypeFeatureFileSpecification.html) syntax. Here's an introduction, the first example is of course the fi ligature: https://ilovetypography.com/OpenType/opentype-features.html

The problem was most likely a line like this: `sub i f by f_i;`

[2020-08-13 12:15] graphicore commented on #401
@elron: Another good resource: http://opentypecookbook.com/

[2020-08-13 13:05] waterplea commented on #1612
Do you guys know Google Fonts version is broken on Mac?
![image](https://user-images.githubusercontent.com/11832552/90137730-b295c900-dd7e-11ea-9267-eb1964625af8.png)

I believe authors have fixed this already, Google Fonts should somehow update their version:
https://yootheme.com/support/question/139342

[2020-08-13 16:25] bghryct commented on #1612
I've just downloaded & installed
https://fonts.google.com/specimen/Manrope
and I'm not seeing the render error. I tested as a variable font in illustrator and indesign, as well as in textedit.
I checked across chrome, firefox, safari as well, and could not replicate the error.
I'm on a mac running Catalina v10.15.6.

@waterplea can you be specific about where you downloaded the fonts from, which p

[2020-08-13 18:39] waterplea commented on #1612
I did not install them, I used Google's CDN:

`@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap';`

It looks fine on Google's page for me, just like in that thread I linked to.

[2020-08-13 18:48] davelab6 commented on #2493
@tiroj fair enough :)

@vv-monsalve will review this

[2020-08-14 04:18] chrisinhim opened #2618 "Gidugu (font) is not rendering some characters."
some characters of Gidugu font are not rendering.

Please find the screenshot below

![image](https://user-images.githubusercontent.com/43258549/90213361-3dc09e80-de13-11ea-97ff-11d48aa74398.png)

[2020-08-14 12:56] pichotta commented on #2062
@Scott-N
Has the quote issue you mention been fixed here in the TypeNetwork 'master' branch?
https://github.com/TypeNetwork/Libre-Franklin

[2020-08-14 13:57] krystian-3c commented on #6
in the meantime, is a polyfill possible?
[https://github.com/latofonts/lato-source/issues/6](url)

[2020-08-14 15:37] davelab6 opened #2619 "API: Download ZIP ttfs have inaccurate date filesystem metadata"
In https://github.com/google/fonts/pull/2533#issuecomment-674120741 @lornaSIL pointed out that downloaded fonts have modified/created file system metadata set to the METADATA `date-added` value.

But it would be better to use a more accurate date, as that value can now be 10 years ago :D

- the file system date metadata found on the files in this repo
- the [TTF `head` table](https://docs.microsof

[2020-08-14 19:07] davelab6 commented on #2386
https://github.com/google/fonts/issues/2576 explains a bit more why this is the case.

https://github.com/rsms/inter/blob/5ea76aef5a6790085ef2427a726d9953772a26ef/Makefile#L55-L56 suggests there is now a separate italic file that we can use.

[2020-08-14 19:16] davelab6 commented on #2579
Please do read https://developers.google.com/fonts/docs/css2 carefully.

You've requested only the 4 static/discrete styles (400, 500, 600, 700) with that URL:

/css2?family=Raleway:<b>wght@400;500;600;700</b></tt>

The API is only guaranteed to return what you request, and it may return more than what you request, or not what you expect, because it is more efficient to 'overstuff' a cache, for ex

[2020-08-14 19:17] #2579 closed

[2020-08-14 22:04] Collectonian commented on #1137
August 2020, this is still an issue.  Works fine in Windows 10, but not on Windows 7.

Site I try to view with Rubik via Google Fonts:
![image](https://user-images.githubusercontent.com/60377061/90295651-256e7500-de4f-11ea-90a8-0452ae68c564.png)

Same site if I just use the web developer toolbar and disable the Rubik declaration
![image](https://user-images.githubusercontent.com/60377061/90295810-

[2020-08-16 08:18] davelab6 commented on #6
https://github.com/latofonts/lato-source/#version-3100dev2-2020-08-16

V3.x is nearly ready

@m4rc1e please add to your queue after Roboto and Open Sans

[2020-08-16 18:01] Scott-N commented on #2062
@pichotta - Yes, I downloaded and installed [the font files](https://github.com/TypeNetwork/Libre-Franklin/tree/master/fonts) locally, and the italic double quotes are spaced correctly for all weights. But **TypeNetwork's fixes have not yet been applied to Google's version:**

https://fonts.google.com/specimen/Libre+Franklin?preview.text=%E2%80%9CQuote+me%E2%80%9D&preview.text_type=custom

Anyone

[2020-08-16 18:25] pichotta commented on #2062
Hi @Scott-N, My best estimate is that the variable weight axis with this fix will be pushed in the next 4-6weeks.

[2020-08-16 20:10] mikekap opened #2620 "Local font fallbacks make authoring more error prone"
For various purposes most people that work on their website have custom fonts installed at a system level locally. For example, most design tools like Sketch require local font installation. This side-effect of having the font installed means that fonts requested via google fonts are never downloaded on the author's browser.

The side effect of using a system font ripples through the development p

[2020-08-16 20:32] ImonAwesome opened #2621 ""Muli" font removed from google font?"
Hi Dev's

Is "MULI" font removed from google font repo?

[2020-08-17 00:57] davelab6 opened #2622 "Add rastikerdar fonts"
@rastikerdar has a bunch

Sahel is a nice VF

Reference https://twitter.com/behdadesfahbod/status/1295161864226082816?s=19 @behdad

[2020-08-17 01:01] behdad commented on #2622
Yes please. Thanks!

[2020-08-17 01:45] zoghal commented on #2622
Yes! Yes !
@rastikerdar and @aminabedi68, Both have a good branch.

all fonts at in the repository of these two people not a font hack projects and are a copyright-clean.
I can also guarantee for @rastikerdar and @aminabedi68 that they designed all the fonts from scratch.😉
Thanks for adding these Persian fonts

[2020-08-17 02:09] behdad commented on #2622
For whoever wants to contribute to this effort:
https://twitter.com/davelab6/status/1295180426047369217
"""
If you can check the fonts with fontbakery (googlefonts profile) that will help speed things along.

Inclusion of a Latin is already done with existing Google Fonts, but perhaps using Roboto Flex and fine tuning it with the parametric axes can give an even better default pairing
"""

[2020-08-17 08:13] m4rc1e commented on #2621
We've renamed it to Mulish. See here, https://github.com/google/fonts/issues/2563

[2020-08-17 08:13] #2621 closed

[2020-08-17 13:39] khaledhosny commented on #2582
I think this is similar to #2612. The fonts are fine, but the website seems to be loading the wrong subset of the fonts. The fonts that work has GDEF/GSUB/GPOS in the subset, while the fonts that do not work lack them.

[2020-08-17 14:56] virgofx commented on #2386
To clarify ... I don't have an issue with a separate font file for Italic (or one). Just curious when it'll be available on Google CDN?

[2020-08-17 20:48] crozynski opened #2623 "Google Fonts list in Google Docs isn't comprehensive"
When selecting More Fonts from the font selection dropdown menu, the Google Font Comic Neue is missing (https://fonts.google.com/specimen/Comic+Neue).

I've reported this issue from within Google Docs also. Thanks Google Fonts team :)

[2020-08-17 22:56] garretrieger commented on #2612
Thanks for the report. We're testing using harfbuzz subsetting for a small number of families and it was misconfigured and is currently dropping layout tables. This only effects dynamic subsetting (ie. /css?...&text=abc type requests). I'm working on a fix right now.

[2020-08-18 02:30] khaledhosny commented on #2612
Thanks!

[2020-08-18 10:18] strarsis commented on #2579
Thanks. Also the `css` part of the URL has to be replaced with `css2` (like `v2` in an API).

[2020-08-18 13:30] kylehyams opened #2624 "Add southEastArrow glyph to Inter"
The glyph mapping to U+2198 (southEastArrow) is currently [not included with Inter](https://fonts.googleapis.com/css2?family=Inter&display=swap), and as a result defaults to the (undesired) native glyph/system emoji.

[2020-08-19 10:12] MAMDOSING opened #2626 "Cambay Font, Variation Bold 700: The lowercase character "i" is not on baseline."
![2020-08-19 12_10_05-Cambay - Google Fonts](https://user-images.githubusercontent.com/69898955/90622158-0ab44b80-e215-11ea-9005-85f500566fbb.png)

At smaller sizes the lowercase character "i" is not on baseline, see screenshot. You can try it by yourself by change the size slider on the font-page https://fonts.google.com/specimen/Cambay#standard-styles

[2020-08-20 10:25] sarabagheri commented on #2602
@thundernixon
here is a screenshot of capital A on Mac
https://ibb.co/PGWjG1r

[2020-08-20 12:58] lundmikkel opened #2628 "Support tabular figures (mono-spaces numbers) for Montserrat"
[The Montserrat font fully supports tabular figures](https://github.com/JulietaUla/Montserrat/issues/101), i.e. equal-width numbers, but not when getting the font from Google Fonts:

https://jsfiddle.net/alerque/L0487e95/7/
![image](https://user-images.githubusercontent.com/1230950/90772750-43c3ed00-e2f5-11ea-9f7c-86d1318ee474.png)

As a side note: it seems to work on Linux, if the user has the fo

[2020-08-20 13:06] thlinard commented on #2628
Duplicate of #1582.

[2020-08-20 13:39] lundmikkel commented on #1582
Why not allow us to include them with some kind of options? Say `https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap&settings=tnum`.

[2020-08-20 21:59] cssobral2013 opened #2629 "Raleway fonts are lacking lining numerals in italics"

[2020-08-20 21:59] cssobral2013 opened #2630 "Add tabular figures on Raleway"

[2020-08-20 22:02] andmade commented on #1564
I'm seeing this issue as well. The lato-ext font seems to be rendering properly in Firefox, but not in Chrome or Safari. It's causing a ğ to render in the fallback font (Arial) rather than in Lato, thus looking conspicuously out of place.

[2020-08-20 23:09] garretrieger commented on #2612
This should be fixed now.

[2020-08-21 11:59] NoelAbrahams opened #2631 "Merriweather Sans v12 Breaks Layout"
Hi

We've been rushing around investigate a sudden break in the layout of our website. Finally this has been tracked down to the following: The Merriweather Sans font downloaded automatically seems to have changed without notice.

Here are the URLs for the good (v11) and bad (v12) versions:

[code]

I've had a look at the [Merriweather github releases page](https://github.com/SorkinType/Merriweath

[2020-08-21 15:46] #2631 closed, assigned to nobody

[2020-08-21 19:35] Vi-adrian opened #2633 "Sei la"

[2020-08-23 17:12] codingmole opened #2634 "Plus sign not displaying in custom preview text type"
`+` sign is showing blank box for all fonts. (All these fonts have `+` design.)
Please check the screenshot below.

![Screen Shot 2020-08-23 at 1 09 32 PM](https://user-images.githubusercontent.com/30877725/90984288-f7b9b800-e541-11ea-871d-740e17982597.png)

[2020-08-23 21:15] m4rc1e commented on #2631
@NoelAbrahams the issue has been fixed and the fonts have been pushed to production.

[2020-08-24 00:02] thlinard opened #2635 "Jura: mathematical signs are misaligned"
The horizontal bar of + − ÷ should be the same, and aligned vertically (in the middle) with × =.

In addition, the × and + are unbalanced (especially visible in lighter weights).

<img width="892" alt="Jura" src="https://user-images.githubusercontent.com/13808824/90992061-97606000-e5ad-11ea-8e02-ff5b44acb2ad.png">

[2020-08-24 00:08] thlinard opened #2636 "Karla: mathematical signs are misaligned"
The horizontal bar of + − ÷ should be the same, and aligned vertically (in the middle) with × =. And = should be two − (minus sign).
<img width="929" alt="Karla" src="https://user-images.githubusercontent.com/13808824/90992233-a5fb4700-e5ae-11ea-9fac-1c3aa3e98ce2.png">

[2020-08-24 00:18] thlinard opened #2637 "Kufam VF: small glitch in the 1"
Especially visible in the bolder weights.

<img width="215" alt="Kufam" src="https://user-images.githubusercontent.com/13808824/90992436-00e16e00-e5b0-11ea-8313-ef6c327cb656.png">

[2020-08-24 00:23] thlinard opened #2638 "League Gothic: mathematical signs are misaligned"
The horizontal bar of + − ÷ should be the same, and aligned vertically (in the middle) with × =. And = should be two − (minus sign).

<img width="741" alt="League Gothic" src="https://user-images.githubusercontent.com/13808824/90992541-c88e5f80-e5b0-11ea-9795-317922e356b8.png">

[2020-08-24 00:36] thlinard opened #2639 "Oswald: mathematical signs are misaligned"
The horizontal bar of + − ÷ should be the same, and aligned vertically (in the middle) with × =.

<img width="618" alt="Oswald" src="https://user-images.githubusercontent.com/13808824/90992867-9e3da180-e5b2-11ea-85a3-5f546855d8d2.png">

[2020-08-24 04:52] nmreddy1911 opened #2641 "Invalid JSON Response"
fonts.google.com returns this when clicked on Roboto font or any other font for that matter.

`SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data`

### **Complete JSON response**

[code]

[2020-08-24 08:05] thlinard commented on #2624
IMO, best way to report: https://github.com/rsms/inter/issues

[2020-08-24 08:31] thlinard opened #2642 "Quicksand: mathematical signs are misaligned"
The horizontal bar of + − ÷ should be the same, and aligned vertically (in the middle) with × =.
Besides, they are much too low.
<img width="1088" alt="Quicksand" src="https://user-images.githubusercontent.com/13808824/91022022-e67db380-e5f4-11ea-964c-407eafa8a032.png">

[2020-08-24 08:53] NoelAbrahams commented on #2631
@m4rc1e, thank you for letting me know. We released a fix on Saturday with the version hard-coded to `v11`.

I see that the google font loader now loads `v13`. Where can I find information about what's different between `v11` and `v13`? Also how do we subscribe to Merriweather version changes and release notes?

Thanks

[2020-08-24 09:58] zvuc commented on #2602
Screenshot of A and other affected glyphs.
Loading Inter font thru Google Fonts (CSS) `@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');`

<img width="438" alt="image" src="https://user-images.githubusercontent.com/2870726/91031510-a2fa6800-e63b-11ea-9ba4-00ce298ed943.png">

[2020-08-24 20:18] garretrieger commented on #2612
Can you check https://codepen.io/garretrieger/pen/ExKNOQx again? I've rev'd the version of Vibes. That will ensure you're not getting a stale copy of the subset from a cache somewhere along the way.

[2020-08-24 23:57] khaledhosny commented on #2612
This works, thanks. There seem to be a difference in spacing, though, the two lines are not the same length.

[2020-08-25 00:03] khaledhosny commented on #2612
The spacing difference seems to be because space glyph is taken from a different font because of the ` unicode-range` in the FonTools `@font-face` rules (`unicode-range` Is Considered Harmful™, but that is a different issue).

[2020-08-25 00:06] garretrieger commented on #2612
Great, I'll rev the version on the other affected families as well.

[2020-08-25 08:46] RosaWagner commented on #2642
thanks @thlinard for reporting this. I addressed this issue to the upstream repo.

Also it looks like there are a few other open issues concerning this font (upstream and downstream), maybe this font could use a larger update resolving most of the issues from august 2019 (@davelab6, @m4rc1e?)

[2020-08-25 08:51] thlinard commented on #2642
Hi @RosaWagner
Thanks! I wasn't sure which repo was upstream.

[2020-08-25 08:55] RosaWagner commented on #2642
Eheh you are right ! It seems that the indicated repo in the google font specimen is not the one from which came the last version, this is the actual repo: https://github.com/bghryct/QuicksandFamily.

[2020-08-25 08:57] thlinard commented on #2639
More complete specimen:
<img width="971" alt="Oswald" src="https://user-images.githubusercontent.com/13808824/91154214-8acd2c00-e6c1-11ea-93ea-4a230f3df491.png">

[2020-08-25 09:01] thlinard commented on #2642
More complete specimen (1×<>+÷−¬=≠±≤≥3):
<img width="1353" alt="Quicksand" src="https://user-images.githubusercontent.com/13808824/91154890-5efe7600-e6c2-11ea-91ac-1a632d595572.png">

[2020-08-25 09:07] thlinard commented on #2636
More complete specimen (1×<>+÷−¬=≠±≤≥3):
<img width="1353" alt="Karla" src="https://user-images.githubusercontent.com/13808824/91155254-e2b86280-e6c2-11ea-9b88-c3be29cdfb72.png">

[2020-08-25 09:09] thlinard commented on #2635
More complete specimen (1×<>+÷−¬=≠±≤≥3):
<img width="1434" alt="Jura" src="https://user-images.githubusercontent.com/13808824/91155694-7a1db580-e6c3-11ea-89a6-5ceadf2c3193.png">

[2020-08-25 13:55] waterplea opened #2643 "Manrope is broken on Mac on Google Fonts CDN"
Hello. I tried adding Manrope from Google Fonts CDN like following:

`@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap';`

And I have a rendering issue only present on Mac:

![image](https://user-images.githubusercontent.com/11832552/91182741-3b9fef00-e6f3-11ea-8ca7-c2528fb7fa74.png)

If you search "Manrope" in Github issues you get some similar problems:
https:/

[2020-08-25 15:11] jsterr82 commented on #2607
Are the static versions of the "not-yet released officially" Mulish font available?

[2020-08-25 15:14] thlinard commented on #2607
It seems: https://github.com/yanone/fonts/tree/mulish/ofl/mulish/static

[2020-08-25 16:30] RosaWagner commented on #2075
https://github.com/google/fonts/pull/2644

[2020-08-25 18:11] thlinard opened #2645 "Kreon in bad shape"
I have reported these issues upstream https://github.com/googlefonts/kreon/issues/12, but I don't know if it wouldn't be better to do it here.

The font is in production:
https://fonts.google.com/specimen/Kreon?preview.text=%C4%86%C5%9A%C5%B9%C4%84%C4%85%C4%98%C4%99%C4%AE%C4%AF%C5%9E%C5%A2%E1%BA%82%C4%8F%C4%8A%C4%8B%C4%A0%C4%A1%C4%A6%C4%A7%C4%AF%C4%B0%C5%83%C5%94%C5%BB%C5%BC%E2%84%A2&preview.text_

[2020-08-25 19:43] davelab6 opened #2646 "Lint DESC links"
We should have a Github Actions set up so that on each PR we lint all the DESC files for broken links.

Prior art

- https://github.com/marketplace/actions/broken-link-check
- https://github.com/marketplace/actions/404-links
- https://mattorb.com/broken-links-muffet-github-actions/

[2020-08-26 07:23] m4rc1e commented on #2646
We already have this https://github.com/googlefonts/fontbakery/blob/master/Lib/fontbakery/profiles/googlefonts.py#L252

[2020-08-26 07:27] m4rc1e commented on #2645
Thanks @thlinard!

[2020-08-26 10:22] #2075 closed

[2020-08-26 13:22] m4rc1e opened #2647 "Lusitana: ^ sidebearings"
<img width="310" alt="Screenshot 2020-08-26 at 14 21 42" src="https://user-images.githubusercontent.com/7525512/91308662-854a1180-e7a7-11ea-8966-0484392fd6d1.png">

https://fonts.google.com/specimen/Lusitana?preview.text=ll%5Ell&preview.text_type=custom&query=Lusitana

[2020-08-26 20:37] davelab6 opened #2649 "Unblock publication of Newsreader"
As describe in https://github.com/google/fonts/pull/2577#issuecomment-669502406

[2020-08-26 20:38] davelab6 opened #2650 "Unblock publication of Georama"
https://github.com/google/fonts/pull/2578/files was merged, but is blocked from publication:

georama's OS_2 weight class (400) doesn't match with default outline location (100).

This will also effect METADATA

[2020-08-26 22:39] thlinard opened #2651 "VFs without fsSelection bit 7"
1. Domine
2. Heebo
3. Karla
4. Mohave
5. Roboto Mono

Cf. https://github.com/googlefonts/fontbakery/pull/3021

[2020-08-27 07:47] scarigor opened #2652 "Rubik's font-weight is not reflected while printing"
Couple days ago I noticed, that Rubik's font-weight is broken while I'm trying to print my page. It's reproducible on [google fonts website](https://fonts.google.com/specimen/Rubik) also.

Environment:

- Chrome Version 85.0.4183.83 (Official Build) (64-bit)
- Windows 10

![image](https://user-images.githubusercontent.com/15365823/91412519-91d77400-e852-11ea-9db6-09e0be382722.png)

[2020-08-27 08:10] thlinard commented on #2652
I can't reproduce on Chrome 85.0.4183.83, macOS 10.15.6.

[2020-08-27 08:23] scarigor commented on #2652
Just updated my Chrome to latest version (Version 85.0.4183.83 (Official Build) (64-bit)) - still reproducible on google fonts page.
![image](https://user-images.githubusercontent.com/15365823/91416153-ac601c00-e857-11ea-96b9-efe18cb3c840.png)

![image](https://user-images.githubusercontent.com/15365823/91416198-baae3800-e857-11ea-9a08-bf34f84509e7.png)

[2020-08-27 08:25] thlinard commented on #2652
Are you on Windows? macOS? Linux?

[2020-08-27 08:27] m4rc1e commented on #2651
Thanks Thomas. If we enable this bit, we'll need to ensure that the Typo metrics are the same as the old Win metrics. Failing to do this will cause vertical metric regressions. I'll revisit these fonts next quarter and also ensure they get decent STAT tables.

Unfortunately for Roboto, I cannot enable bit 7 without causing regressions. For this reason, I'm going to skip it.

That FB test also need

[2020-08-27 08:33] thlinard commented on #2651
I also wonder if some typographic engines will not have a different behavior for VFs without fsSelection bit 7: some will respect fsSelection, and others not, considering that for a VF fsSelection bit 7 must be activated anyway, which cause discrepancies?

[2020-08-27 08:47] scarigor commented on #2652
Windows 10, added environment description to issue.

[2020-08-27 11:11] thlinard commented on #2308
And version 2.002 is released under OFL:
https://github.com/JetBrains/JetBrainsMono/releases/tag/v2.002

@eliheuer

[2020-08-27 12:14] marceloverdijk commented on #2308
So nothing should be in the way to add it to Google Fonts lib, right?

[2020-08-27 15:20] davelab6 opened #2654 "Add Benne"
https://github.com/googlefonts/benne

[2020-08-28 07:01] warent opened #2656 "METADATA.pb files are missing font properties"
In fonts.google.com we can filter fonts by various properties like "Slant" and "Thickness." However, none of the METADATA.pb files include these properties. How can I get those?

[2020-08-29 18:24] davelab6 commented on #2308
Now it's under OFL, **and** as a VF, I'll prioritize it!

@RosaWagner

[2020-08-30 02:19] davelab6 opened #2657 "Add Open Sauce Sans?"
https://fontsarena.com/open-sauce-sans-by-creative-sauce/

[2020-08-31 13:47] RosaWagner commented on #2650
Noted.
Questions:
A. I never unblocked a publication: (1.) it consist in merging the modifications in the same PR, or (2) I create a new branch?
B. The fonts have to be (1) reexported with correct usWeightClass, or (2) do you prefer a hotfix?

[2020-08-31 21:41] davelab6 opened #2659 "Update /ofl/cabincondensed with Weight-only axis subspace of Cabin VF"
Cabin's VF now has a full set of styles for the condensed family, so a weight-axis-only subspace should be made to upgrade the /ofl/cabincondensed family to match

[2020-09-01 08:52] m4rc1e commented on #2650
We've had this issue before https://github.com/googlefonts/fontbakery/issues/2683. The solution was to set the METADATA.pb weigthClass value to 400. We've done exactly the same thing for Georama so I cannot see why this is being flagged. We also update FB and gftools to do this automatically.

[2020-09-01 09:02] m4rc1e commented on #2643
Which version of OS X?

[2020-09-01 09:04] thlinard commented on #2650
Although the version number is the same, the files of https://github.com/google/fonts/pull/2578 are behind the upstream repo: they don't have the fix for https://github.com/productiontype/Georama/issues/4, while the upstream VFs have it.

[2020-09-01 09:17] MarsiBarsi commented on #2643
Hi @m4rc1e
I see the problem on 10.14.6 (18G6020)

[2020-09-01 12:19] #2641 closed

[2020-09-01 12:19] nmreddy1911 commented on #2641
I believe it was an issue from my ISP. It is resolved now, but may I know what could have caused that issue?

[2020-09-02 07:13] m4rc1e commented on #2637
Thanks @thlinard.

I'm in the middle of writing a tool to catch these. To close the loop, here's all the characters which have the same issue.

![Kufam wght](https://user-images.githubusercontent.com/7525512/91943233-24b15c00-ecf4-11ea-8ca3-8a659cce2a27.png)

[2020-09-03 06:41] sharanda commented on #1612
Hi @charlenegladden this issue caused by Google's side, please use Manrope font from https://manropefont.com/ or https://github.com/sharanda/manrope

@bghryct @davelab6 @m4rc1e is there any proper way to report about issues like these, so it's finally fixed?

[2020-09-03 07:09] charlenegladden commented on #1612
Thank you! So good to have this link, much appreciated.

Sent from my iPhone

[2020-09-03 10:40] sgb-io opened #2665 "Update Overpass to 3.0.4"
This includes a line height fix. https://github.com/RedHatOfficial/Overpass/releases/tag/3.0.4

[2020-09-03 11:05] m4rc1e commented on #1612
@charlenegladden which version of OS X are you using?

[2020-09-03 17:20] charlenegladden commented on #1612
Mac OS Catalina 10.15.1

On Thu, Sep 3, 2020 at 4:05 AM Marc Foley <notifications@github.com> wrote:

--
Char Gladden
*@chargladden*

[2020-09-03 17:46] ericatoyer opened #2666 "Jost capital 'A' displaying with cutouts in Safari"
<img width="866" alt="Screen Shot 2020-09-03 at 1 44 27 PM" src="https://user-images.githubusercontent.com/11182791/92149294-d3849380-edeb-11ea-98fd-b908015fee65.png">

The cap A is displaying with the overhang of the horizontal bar cutting into the sides of the A.

[2020-09-03 17:49] thlinard commented on #2666
No problem in Safari 13.1.2, macOS 10.15.6.

[2020-09-03 19:31] cssobral2013 opened #2667 "Add Commissioner?"
https://github.com/kosbarts/Commissioner

[2020-09-03 19:33] cssobral2013 opened #2668 "Make Proza Libre a variable font?"

[2020-09-03 19:37] cssobral2013 commented on #2657
@davelab6 - Could you include also Open Sauce One and Two on this issue? This's because Open Sauce Sans, One and Two are actually a superfamily. Check it out at: https://github.com/marcologous/Open-Sauce-Fonts

[2020-09-03 19:38] cssobral2013 commented on #2657
@davelab6 - This's actually a duplicate of #2421.

[2020-09-03 21:36] graphicore commented on #2667
This is work in progress: https://github.com/google/fonts/issues/2667

[2020-09-03 21:36] #2667 closed

[2020-09-03 21:37] graphicore commented on #2667
We could also just wait for that PR to get merged and then close this issue.

[2020-09-05 02:14] hemantathalye commented on #304
Hindi ago 200 years
Marathi age 2200+ years 😂

[2020-09-05 02:51] davelab6 commented on #2650
https://github.com/google/fonts/blob/e24965e60f784bdfeff869baca4ff94dbb3b542d/ofl/georama/METADATA.pb#L9 has it set to 400

[2020-09-05 02:56] davelab6 commented on #2650
@RosaWagner a. Unblocking publication just means that this seemed ready to go live but got stuck at he last stage, so it's a priority to do the last fixes and get it finished. 1. The pr was merged, so more can't be added there any more. More can be added to the branch that was merged and a new pr made. So you can do as you say in 2 also.

For bi prefer re-export, but I recommend to always be in to

[2020-09-05 05:30] MattWhilden commented on #2586
Same on El Capitan 10.11.6, Chrome 85.0.4183.83, 1440x900 display on this 2011 MacBook Air. Happy to provide other info if that helps you track things down.

[2020-09-07 13:32] RosaWagner commented on #2650
Thanks @davelab6. I have 2 questions

1. What about @m4rc1e comment:

2. The variable font contains width instances. So same as Newsreader: is this font special, or I should remove some instances and get in touch with @productiontype about it ?

[2020-09-07 13:53] RosaWagner commented on #2650
The binaries has also too long PS names (over 31 characters), so I would suggest to reexport it all anyway with contracted family names… Do we have a standard for that by the way ? I have seen this post https://github.com/googlefonts/fontbakery/issues/2179 but it doesn't really set up a standard.

[2020-09-07 14:18] productiontype commented on #2650
We usually do use short names in our own workflow, but they are known to cause stylelinking issues in some apps. After discussions on NewsReader, it was decided to implement long names in both projects. See commit https://github.com/productiontype/NewsReader/commit/24d0eeefaadaf1274dda86d1155b5545b6a52c1b See discussion short vs long on FB: https://github.com/googlefonts/fontbakery/issues/2179

[2020-09-07 21:13] armanakcay opened #2671 "Bosnian Cyrillic"
Add Bosnian cyrillic in google fonts

[2020-09-08 17:01] jonasgoddeeris commented on #1415
+1

[2020-09-09 13:23] PierreDickinson commented on #382
+1

[2020-09-09 19:54] mahnunchik commented on #2386
@rsms Do you know why italic is missing from Google Fonts?

[2020-09-11 03:14] behdad commented on #2666
Known problem in older Apple implementation.

[2020-09-11 11:24] Myndex commented on #1170
Hi @davelab6  and @tanc

I realize this is a closed topic, but "-webkit-font-smoothing: antialiased;" and other font smoothing properties **do _NOT_ show fonts off at their best**. What does show fonts at their best is the _DEFAULT_ for the given device, and this is nearly always subpixel antialiasing. The font-smoothing "antialiasing" property is inferior to the default subpixel antialiasing both

[2020-09-11 19:06] matthewjdye commented on #2623
There a workaround you could do for new fonts that aren’t immediately available in Docs—install the Extensis Fonts add-on (https://gsuite.google.com/u/0/marketplace/app/extensis_fonts/568288816452). It has all the Google Fonts available and once you apply the font to your document, and then apply it from the drop menu, it’ll be available to you until you get rid of it.

[2020-09-11 19:39] davelab6 commented on #1997
https://github.com/rastikerdar/vazir-font seems good to go

[2020-09-11 20:19] cssobral2013 opened #2681 "No italics for Recursive?"

[2020-09-11 22:08] crozynski commented on #2623
Thank you @matthewjdye

[2020-09-12 00:31] sbussard commented on #1170
@Myndex wouldn't you agree that what looks best is at least somewhat subjective?

If `-webkit-font-smoothing: antialiased` is used on Apple.com, it looks more similar to photoshop's font rendering algorithm than Chrome's default, and developers and users alike seem to prefer it, then maybe "the experts" should look into that!!!

[2020-09-12 04:29] Myndex commented on #1170
Hi @sbussard   thank you for responding.

## NO, I would not agree.

The single biggest problem with the font smoothing CSS property is that if REDUCES CONTRAST by 30% or more, so that the text can become literally unreadable. It also reduces the rendered WEIGHT of the font, and worse still, it is only partially supported, so many systems don't recognize it at all. As a result, if a designer is us

[2020-09-12 05:45] sbussard commented on #1170
The problem it solves is that Chrome makes fonts look extra bulky by default compared to popular design tools like photoshop. One has to wonder why Apple would even bother adding it if it does not solve a problem. At some point you've got to trust your eyes, or at least ask what the best designers in the world are trusting. To me it looks like Chrome's algorithm doesn't cut it aesthetically. It ho

[2020-09-12 07:27] tanc commented on #1170
But only on MacOS right? See https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth and https://caniuse.com/?search=font-smooth where you can see the property is not widely supported and has been removed from the spec. I agree that browsers could tweak their rendering but as far as making things look like Photoshop's default text rendering mode... that seems silly. Instead designers need to

[2020-09-12 07:40] tanc commented on #1170
My mistake, that linked issue is only for a web application called Font Bakery, but it isn't clear to me where the project for the UI of Google Fonts resides. @davelab6 should we open an issue somewhere else to continue this conversation? Or is this closed issue the right place?

[2020-09-12 07:53] tanc commented on #1170
I've just taken a look at the https://fonts.google.com site and tried to find instances of `-webkit-font-smoothing: antialiased;` in the css and it doesn't seem to be applied across the site any more. Can anyone with a MacOS machine confirm the fonts are being displayed in their default rendering mode?

Maybe we're arguing for nothing!

[2020-09-12 15:01] brycewray commented on #2386
Unless/until Google Fonts makes an italic version available, one can do the following:

1. Download the full variable-font version of Inter (https://github.com/rsms/inter/releases/ should always have the latest).
2. Subset it so it's not enormously large (see https://michaeljherold.com/2015/05/04/creating-a-subset-font/ for an explanation of using the Python `fonttools` library for this purpose).

[2020-09-12 22:17] #1411 closed

[2020-09-13 04:07] Faizi-Apps commented on #293
Any update??????????
font file is about 8 mb .why?

[2020-09-13 04:41] heymartinadams opened #2682 "Inter font shows strange letter “A”"
Using this...
[code]

...I see this on our web app.
![image](https://user-images.githubusercontent.com/11673745/93010325-35f23800-f540-11ea-80ba-5407aa06fca8.png)

The capital “A” appears this way in all sizes and weights. Might anyone know why?

[2020-09-13 04:42] heymartinadams commented on #2682
Looks like this issue is a duplicate of https://github.com/google/fonts/issues/2602.

[2020-09-13 04:42] #2682 closed

[2020-09-13 05:53] heymartinadams commented on #2666
Can you please explain, @behdad? It appears widespread. https://github.com/google/fonts/issues/2602

[2020-09-13 07:29] Shoban-Chiddarth opened #2683 "One font is not there. BEORNHEARD. Please bring that font."
https://images.creativemarket.com/0.1.0/ps/3651882/910/607/m1/fpnw/wm0/mockup1-.jpg?1511865455&s=75e20251d0fa913b0e2c8a92d6c6c1cc

https://i1.wp.com/www.freeforfonts.com/wp-content/uploads/2-676.jpg?w=1160&ssl=1

That one. Please bring it to google fonts. I need it a lot. Thank you.

[2020-09-13 07:39] alerque commented on #2683
I see this font posted all over freeware sites but without any information about where it came from. Who is the original author? What is the license? Where are the font sources?

[2020-09-13 07:42] Shoban-Chiddarth commented on #2683
I don't know those things. I saw it in pixlr.com/x/ for the first time. I don't know the owner and licenses. What should I do to bring it to google fonts?

[2020-09-13 17:52] coredump2020 commented on #12
Any news about this? Libertinus is more than ready to be hosted on Google Fonts.

[2020-09-13 19:59] driehuis commented on #2683
The earliest reference I could find is this 2017 listing on creativemarket.com:
  https://creativemarket.com/TGIF/2095827-Beornheard
It does not appear to be a free font, let alone one that meets Google's criteria for inclusion.

[2020-09-14 07:46] alerque commented on #12
Since writing the comment above I've become the maintainer of the Libertinus font family. I'm happy to help facilitate this. Probably one of the next things that needs to happen is getting Google to reply again [on this licensing issue](https://github.com/theleagueof/fontship/issues/35) and working out a resolution so that the build system isn't a blocker (for this or other fonts).

[2020-09-14 15:23] dpkonofa opened #2684 "Mulish A is showing weird glyphs on Macs only"
Using the Mulish font set, we're seeing weird artifacts on the capital letter A:

![image002](https://user-images.githubusercontent.com/6332378/93105069-78f8fc00-f663-11ea-9d4a-231009c703a1.png)
![image001](https://user-images.githubusercontent.com/6332378/93105077-7b5b5600-f663-11ea-8cdb-37f4858a1f45.png)

It's a subtle graphical glitch but it's definitely there.

[2020-09-14 15:51] dpkonofa commented on #2643
A similar problem occurs on Macs with the Mulish font.

[2020-09-14 15:56] dpkonofa commented on #2602
This issue is showing up on macOS Catalina 10.15.6 with Firefox 80.0.1 as well with the Mulish font.

[2020-09-14 16:57] thlinard commented on #2602
I can't reproduce with Firefox 80.0.1, Safari 13.1.2 and Chrome 85.0.4183.102 on MacOS 10.15.6 with

- https://fonts.google.com/specimen/Inter
- https://fonts.google.com/specimen/Mulish

[2020-09-14 17:11] thlinard commented on #1170
Tested with Safari 13.1.2 on macOS 101.15.6: still used on https://fonts.google.com/ but it's no longer used in the CSS file downloaded from fonts.googleapis.com (at least with the API version 2 "CSS2").

[2020-09-14 17:22] dpkonofa commented on #2602
@thlinard - The issue doesn't occur on the Google pages. It only occurs on pages that load the fonts from the Google CDN.

[2020-09-14 17:50] dpkonofa commented on #2602
Here's a CodePen that I was able to whip up that exhibits this issue:  https://codepen.io/derekkgilbert/pen/RwaJYQg

[2020-09-14 18:00] dpkonofa commented on #2684
CodePen that shows the issue:  https://codepen.io/derekkgilbert/pen/RwaJYQg

[2020-09-14 18:13] thlinard commented on #2602
Oh! OK, you're using the unsupported "https://fonts.gstatic.com/…" url.

At least we see the problem is with TTF format fonts (using the official url given at https://fonts.google.com/specimen/Mulish, i.e. "https: // fonts.googleapis.com/css2?family=Mulish… ", Safari receives files in WOFF2 format, not TTF).

[2020-09-14 18:16] dpkonofa commented on #2602
Is that the case for Firefox also? If we fix that URL, should the problem resolve?

[2020-09-14 18:30] thlinard commented on #2602
Well, I guess if you find and use the "https://fonts.gstatic.com/…" url which gives WOFF2 files, the problem goes away, yes.

But there is a reason why these gstatic urls are not supported: the "https://fonts.googleapis.com/css2…" url (the one you find on https://fonts.google.com) allows to serve files different browsers (the format of the file, unlike the gstatic urls, is not determined: this wil

[2020-09-14 18:34] dpkonofa commented on #2602
Set up some CodePen forks and sent to our devs. You're totally right. It works with the proper import.

Thanks for helping troubleshoot.

[2020-09-14 18:37] nikparo commented on #2602
We have seen this issue as well, specifically with .woff files. (If I'm not mistaken, it's woff files converted from variable woff2 fonts that exhibit this issue) While it would be great if everyone used modern browsers that supported woff2 fonts, that is not always the case. At least some of our customers, and their customers, still use IE.