[2021-08-21 03:54] davelab6 commented on #3740
What's the difference?

[2021-08-21 03:56] davelab6 commented on #3740
Oh. I don't see AG anywhere. Not sure where I got the impressoin that was the font name, haha

[2021-08-21 03:58] YungTax commented on #3186
Thank you so much for fixed these issues.

[2021-08-22 09:29] dianekrystal commented on #1197
is there a way to fix this? hahhaahhaha help :((

[2021-08-22 16:22] kenmcd commented on #1197
Yes. An Affinity Designer user had the same issue.
I found the fonts in the GitHub repository did not have the problem.
https://forum.affinity.serif.com/index.php?/topic/146784-font-rendering-issue/&tab=comments#comment-817712

![Coustard-Font-Tests png 7036daa53e30f5717940c72116213532](https://user-images.githubusercontent.com/844920/130362128-1eb799a7-ab1f-4172-bed5-a8d698d066ee.png)

Here are t

[2021-08-22 20:26] typiconman commented on #2403
Quarterly ping.

[2021-08-23 21:25] cssobral2013 opened #3753 "Typo in Besley description"
The Besley description incorrectly mentions the Bodoni Moda font as shown [here](https://user-images.githubusercontent.com/19995437/130521489-37d1e45b-6c51-46ae-9652-16ccf1e63587.png) in the attachment.

[2021-08-24 03:38] afeld commented on #2512
Yep:

https://github.com/Homebrew/homebrew-cask-fonts/blob/3a77b4fddbbc214110c4f077befec966772f5e00/developer/bin/import_google_fonts#L215-L230

[2021-08-24 17:37] mattmagi commented on #1137
Not loading for me on various window devices as well as google search on android.

[2021-08-24 20:38] felipesanches opened #3754 "METADATA.pb: Move `sample_text` and `sample_glyphs` to language textprotos"
While updating the METADATA.pb schema description on **FontBakery** (https://github.com/googlefonts/fontbakery/issues/3443) and **gf-tools** (https://github.com/googlefonts/gf-docs/issues/114), I noticed that some files such as https://github.com/google/fonts/blob/main/ofl/notosansoldpermic/METADATA.pb have `sample_text` and `sample_glyphs` entries and this seems redundant to the kind of content I

[2021-08-24 20:48] felipesanches commented on #3754
Not sure if there are more of these commits, but at least https://github.com/google/fonts/commit/398a28a7aba600037f768e067523646d2148f165 is one place where these entries were added recently.

[2021-08-25 16:54] jvgaultney opened #3755 "Update Gentium font families"
Currently the Gentium design is hosted on GF as two reduced character set families: [Gentium Basic and Gentium Book Basic](https://fonts.google.com/?query=gentium). Those 'Basic' families only cover a limited range of Latin, and none of Gentium Plus's Ext Latin, Cyrillic, or Greek (both modern and ancient). Each family is a R B I BI set, with 'Book' being slightly heavier.

[Gentium Plus v6](https

[2021-08-25 16:56] jvgaultney opened #3756 "Update Andika font families"
Currently Andika has two variants on GF: [Andika](https://fonts.google.com/specimen/Andika?query=andika) (single weight family with extended char set) and [Andika New Basic](https://fonts.google.com/specimen/Andika+New+Basic?query=andika) (R B I BI family that supports the same 'Basic' char set as Gentium Basic). The single-weight Andika set is unfortunately the original 1.001 release from 2011 th

[2021-08-25 17:00] jvgaultney opened #3757 "Add Charis SIL"
[Charis SIL](https://software.sil.org/charis/) ([github](https://github.com/silnrsi/font-charis/releases/tag/v6.001)) has never been on GF even though it is a widely used OFL font family popular in academic circles.

Charis SIL is loosely based on Charter but does have significant differences (esp. in the serifs). The GF catalog already lists two versions of Charter (Charter BT and ITC Charter), h

[2021-08-27 09:04] RosaWagner opened #3772 "Improve kerning of Rokkit"
upstream: https://github.com/googlefonts/RokkittFont

We probably need to make our fork independent so we can post issues directly in the upstream repo

<img width="289" alt="Capture d’écran 2021-12-02 à 10 10 25" src="https://user-images.githubusercontent.com/12222436/144391907-66c0d086-2813-43f7-be7c-604b5803bc3e.png">

[2021-08-27 12:17] fred-wang opened #3773 "STIX Two Math: math rendering is broken"
cc @tiroj @RosaWagner  @vv-monsalve  @thlinard @bkardell

Follow-up of https://github.com/google/fonts/issues/530 and https://github.com/google/fonts/pull/3304

The following page uses the CSS suggested on https://fonts.google.com/specimen/STIX+Two+Math ; try opening it in Chrome Canary (with the experimental web platform features enabled), Firefox or Safari:

https://people.igalia.com/fwang/mathm

[2021-08-28 00:28] vv-monsalve commented on #3022
Reopened to give following to new PR with renamed for `Are You Serious` #3775

[2021-08-28 07:36] twardoch commented on #3773
GF subsets the fonts it serves, which works well for many fonts but does not for math fonts which rely on the MATH table and all glyphs being present.

I think it's sensible to delist the STIX Two Math font (but keep STIX Two Text) for now.

[2021-08-28 15:08] tiroj commented on #3773
So the GF served font may be structurally different from the GF downloadable font? Ack.

[2021-08-28 22:52] twardoch commented on #3773
You mean the webfonts? Sure, GF-served webfonts are typically not one solid WOFF2 but instead subsets that the browser assembles into a font stack. This mostly works and massively reduces load time because the browser only loads the subset it needs to render the current page. For CJK fonts this is pretty much a mandatory approach.

But with GPOS, it becomes complicated and with something like MATH

[2021-08-30 16:10] magrenimish opened #3777 "list of glyphs"
Is there a list of all glyphs for all the google font families?

[2021-08-30 17:58] pumano commented on #3414
@davelab6 any news on this, please?

[2021-08-30 18:59] madisonbullard opened #3778 "Inter - '•' issue: baseline shift when placed next to alphanumeric character"
When a series of `•` characters are placed next to some alphanumeric characters, the 5 `•` characters preceding the alphanumeric characters appear slightly higher than the other `•` characters.

![image](https://user-images.githubusercontent.com/4810002/131390599-28c8a1b1-c256-461b-82a1-ee6822a76426.png)

Reproduction: https://fonts.google.com/specimen/Inter?preview.text=%20%E2%80%A2%E2%80%A2%E2%8

[2021-08-31 01:01] davelab6 commented on #3414
Downtown is unlicense, not OFL, so currently ineligible on that basis.

[2021-08-31 09:33] #3022 closed

[2021-08-31 09:34] #3035 closed

[2021-08-31 09:36] #3017 closed

[2021-08-31 09:37] #3039 closed

[2021-08-31 09:42] #3030 closed

[2021-08-31 09:43] #3026 closed

[2021-08-31 13:26] gnomeontherun commented on #3414
@davelab6 this thread is about Clarity City, which is OFL, not about downtown.

[2021-08-31 15:43] davelab6 commented on #3626
I'll be happy to add this :)

[2021-08-31 15:44] davelab6 commented on #3626
Ah, this issue is replaced by https://github.com/google/fonts/issues/3700

[2021-08-31 15:44] #3626 closed

[2021-08-31 16:16] usted commented on #3626
Thanks Dave! :)

[2021-08-31 17:38] davelab6 commented on #3414
https://github.com/vmware/clarity-city/issues/7#issuecomment-908814072

[2021-08-31 20:51] kenmcd commented on #3778
This is by design.
The • and other characters are raised when between figures and uppercase.
See Contextual Alternates here: https://rsms.me/inter/#features/calt
And Case Alternates here: https://rsms.me/inter/#features/case

It does not show the bullet in the example for Contextual Alternates, but it is there in the fonts.
Contextual Alternates are On by default, so that will affect whatever you

[2021-09-01 09:00] zava810 opened #3780 "latin hindi & 7-segment lcd like fonts"
dear personnel,

for latin_hindi ( unicase abc for hindi ) :
1) there is need of : A a N n D d T t h H. all should have same height.
so please allow me to add customised "delius unicase" font & renamed to u5cdot.
( [u5cdot.ttf
![Screenshot_2021-08-31-04-10-37-745_com miui notes](https://user-images.githubusercontent.com/81591228/131643113-1b42798b-b9a5-403c-b8f4-d6b3600f445b.png)
![hpop_phonics](h

[2021-09-01 18:11] aaronbell opened #3784 "Upgrade Signika with GRAD axis"
This new custom axis is included in [Signika](https://github.com/googlefonts/Signika) to adjust the font weight for white-on-black versus black-on-white text rendering.

[code]

(Sorry this is my first time submitting such a thing, so please feel free to modify as necessary!)

[2021-09-01 18:17] RosaWagner commented on #3784
GRAD axis couldn't be used for that same purpose? If yes, it is already registered, could be practical. Or is this one really different?

[2021-09-01 18:19] aaronbell commented on #3784
Ha! I was actually just writing that. After looking through the axisregistry, yes, I suspect that GRAD could be used for the same purpose. I'll inquire with Anna.

[2021-09-01 18:22] aaronbell commented on #3784
Actually, re-reading through the GRAD registry, that axis requires that character widths are maintained, whereas `NEGA` does not. In the case of Signika, the widths are not preserved as swapping between normal and negative variants.

[2021-09-01 19:21] kenmcd commented on #3784
Another example: Darkmode VF font by Dalton Maag
They call this axis Darkmode (DRKM).
Works exactly the same as Signika NEGA.

[2021-09-02 14:19] NestorMenta commented on #3094
Hi have the same problem. It fails even in google fonts: when you click a uppercase word with accent, the accent is pushed some distance, like the M width distance or so.

[2021-09-02 16:55] RosaWagner opened #3789 "Upgrade Gluten with slant axis"
upstream: https://github.com/Etcetera-Type-Co/Gluten

[2021-09-02 17:05] RosaWagner opened #3790 "Update Chenla (khmer font)"

[2021-09-02 17:09] #3674 closed

[2021-09-03 10:39] #1216 closed

[2021-09-03 10:41] RosaWagner opened #3798 "Upgrade Advent Pro"
upstream: https://github.com/googlefonts/Advent
open issues: #1238

Description of the update
"Advent font Variable, addition of Cyrillic, kerning automation and compression, font weight interpolation with missing points."

[2021-09-03 11:29] #3125 closed

[2021-09-03 12:28] RosaWagner opened #3799 "Add Sofia Sans"
Unblock PR #2889
upstream: https://github.com/lettersoup/Sofia-Sans

Problem of non-orthogonal design space.
- ~We can either convince the author to repair his designspace~
- Or we only onboard static TTF and forget about the VF
- onboard it under another name

[2021-09-03 12:38] RosaWagner opened #3800 "Add Alkatra"
A display font family comprising of four scripts, Bengali, Devanagari, Odia and Latin.
upstream: https://github.com/suman51284/Alkatra

- See if subsets need can be gathered in one source
- Convert to builder and UFR

[2021-09-03 13:06] RosaWagner opened #3801 "Add Palindrome"
private repo: https://github.com/originaltype/palindrome

[2021-09-03 13:24] RosaWagner opened #3802 "Add Kablammo"
repo still private

[2021-09-03 14:53] davelab6 commented on #3784
Thanks for the axis registry definition data, that's helpful. I expect to get to registering a lot of custom axes in Q4, might be Q1.

[2021-09-03 14:56] davelab6 opened #3803 "cwTeXHei 沺 is incorrectly composed"
A user wrote me,

[code]

[2021-09-03 15:09] RosaWagner opened #3804 "Add Tiro Indic Fonts Collection"
private repo

This Collection consists of eight font families

- [x] Tiro Bangla
- [x] Tiro Devanagari Hindi
- [x] Tiro Devanagari Marathi
- [x] Tiro Devanagari Sanskrit
- [x] Tiro Gurmukhi
- [x] Tiro Kannada
- [x] Tiro Tamil
- [x] Tiro Telugu

[2021-09-04 17:51] jblachly commented on #2602
Same problem as original issue reporter with Inter downloaded from Google Fonts, but in addition I can report that the rendering bug with Inter manifests in PDFs viewed with Mac OS Preview as well.

[2021-09-07 00:52] Alirezaaraby opened #3811 "Back To Top Button on fonts.google.com Has An Issue"
### Back To Top Button
![image](https://user-images.githubusercontent.com/45128978/132268558-7757dbbc-55b9-4330-b638-5c280c0b0555.png)
Has problem when scrolling to the end of the page it came with an effect like below.
![screen-capture](https://user-images.githubusercontent.com/45128978/132268747-2eeff35f-7f9e-415c-92d4-a9e194c68cdb.gif)

[2021-09-07 14:26] fanninpm commented on #3737
Duplicate of #2386

[2021-09-08 02:55] davelab6 opened #3812 "Reporter: Better time series control, more graph types, break out new vs updated families"
@m4rc1e great work on the [reporter](https://google.github.io/fonts)! I have a few requests :)

- [x] Better time series control; I sometimes need to know the data between 2 specific dates.
- [x] Other chart types; I sometimes need to know the cumulative counts for each push type within the time range, and to compare them (pie chart)
- [x] The 'families' line on the 1st graph is good, but ideally

[2021-09-08 08:01] crti commented on #12
For a long time I like Libertinus Sans (before the predecessor) and use it. Since I use cooperative online work for scientific papers including Zotero citation I would really be happy to have this font available in Google Docs which relies on Google Fonts. Would pair great with Noto Sans I think, which for some reason can not be selected in Google Docs.
It seems while before the name Linux, now th

[2021-09-08 09:36] #3433 closed

[2021-09-08 11:08] #3188 closed

[2021-09-08 11:09] #3182 closed

[2021-09-08 11:10] #3187 closed

[2021-09-08 11:11] #3184 closed

[2021-09-08 11:12] #3185 closed

[2021-09-08 11:14] #3196 closed

[2021-09-08 11:17] #3183 closed

[2021-09-08 11:21] #3192 closed

[2021-09-08 11:22] #3194 closed

[2021-09-08 11:23] #3202 closed

[2021-09-08 11:27] #3186 closed

[2021-09-08 11:28] #3198 closed

[2021-09-08 11:30] #3189 closed

[2021-09-08 11:47] #3200 closed

[2021-09-08 11:50] #3193 closed

[2021-09-08 11:59] #3191 closed

[2021-09-08 12:11] #3190 closed

[2021-09-08 12:36] #3406 closed

[2021-09-08 12:44] #3036 closed

[2021-09-08 12:46] #3037 closed

[2021-09-08 12:52] #3034 closed

[2021-09-08 13:00] #3677 closed

[2021-09-08 13:16] #3704 closed

[2021-09-08 15:01] davelab6 commented on #1744
@m4rc1e @RosaWagner please can we expedite this

[2021-09-09 01:03] 978bobs commented on #478
LICENSE INFO  I love this font.  just included it in my website. found this link which appears to have been penned by the designer Stephen Moye
https://1001fontsfree.com/view_file/7709/UGFkZGluZ3Rvbi50eHQ=/paddington.txt

Here is the text copied.....

Greetings Font Fiends:

Here is something new for you to play with. 'Paddington' is a
translation of a sans serif design drawn by Edward Johnston fo

[2021-09-09 08:43] RosaWagner opened #3817 "Add Handjet"
upstream: https://github.com/rosettatype/handjet

Handjet is a variable font with the following axes:
Weight (wght) (100-900) controls the size of the element,
Element Shape (ESHP) (0.0-16.0) controls the shape of the element,
Element Grid (EGRD) (1.0-2.0) controls how many elements are used per one grid unit.

1. It has been decided last year that custon axes need to be in GF's axis registry befo

[2021-09-09 09:06] RosaWagner opened #3818 "Add REM"
private repo: https://github.com/octaviopardo/REM
Sans serif low contrast family

[2021-09-09 11:18] RosaWagner opened #3819 "Add Protest"
https://github.com/octaviopardo/Protest

**4 families:**

Riot: https://github.com/google/fonts/pull/7095
Revolution: https://github.com/google/fonts/pull/7096
Strike: https://github.com/google/fonts/pull/7097
Guerrilla: https://github.com/google/fonts/pull/7098

[2021-09-09 12:28] #3405 closed

[2021-09-09 12:29] #3401 closed

[2021-09-09 12:29] #3402 closed

[2021-09-09 12:29] #3366 closed

[2021-09-09 12:33] RosaWagner opened #3820 "Upgrade Oi"
upstream: https://github.com/kosbarts/Oi
delivery date. 30 oct. 2021
- [x] check repo
- [x] robot QA
- [x] visual QA
- [x] PR upstream
- [x] Package font

[2021-09-09 14:27] davelab6 commented on #1744
I spoke to @m4rc1e @RosaWagner about this and I suggest a few steps forwards:

Find out the development history of the source sans and source serif projects. The Sans release in [v2.45 was the last release](https://github.com/adobe-fonts/source-sans/releases/tag/2.045R-ro%2F1.095R-it) in this design-branch, where the italics have less glyphs than the romans

Then the v3.0 from 2019-09 was redrawn

[2021-09-09 14:45] davelab6 commented on #3817
I discussed this in https://github.com/rosettatype/handjet/issues/2 and AFAIK we should just proceed when we are registering new axes.

[2021-09-09 15:00] davelab6 commented on #3378
ExtraLight to Bold sgtm

[2021-09-09 19:19] davelab6 opened #3823 "Double check METADATA subset keys in all recently touched families"
RockNRoll's METADATA subsets list got corrupted, adding Chinese subsets which is super bad because if it reaches production it will create a lot of tofu, and its very difficult to remove a subset once added.

When I was triaging this I found the METADATA file I had was fine, but actually it was because I was on a stale repo commit locally, and pulling the repo surfaced the issue.

So, all the meta

[2021-09-09 19:26] rsheeter commented on #3823
The original implementation of add_font didn't know enough to accurately discern which CJK subsets should be supported. It either needs to learn to do this (look for codepoints unique to each subset?) or just bail, maybe ask the user which of the potential CJK subsets to include when generating a new file.

[2021-09-09 19:27] davelab6 commented on #2505
I think this is fixed in https://github.com/MattBaileyDesign/Spartan-MB/tree/V-1.006 so we should upgrade to that

[2021-09-09 23:24] mvdobrinin commented on #1717
Also interested in this.

Looking at the [Noto Sans webfont](https://fonts.google.com/specimen/Noto+Sans#standard-styles) I see only the following weights are available -
* 400
* 400 italic
* 700
* 700 italic

However [the font itself supports many more weights](https://www.google.com/get/noto/#sans-lgc) -
* 100-900
* 100-900 italic

Please make all weights available on the webfont.

[2021-09-10 10:29] #3195 closed

[2021-09-10 10:30] #3577 closed

[2021-09-10 12:44] RosaWagner commented on #82
same process to follow as in https://github.com/google/fonts/issues/1744

[2021-09-10 12:51] RosaWagner opened #3825 "Upgrade Source Serif with V3"
Update Source **Serif** to match the sans updated in  https://github.com/google/fonts/issues/1744#issuecomment-916149867

upstream: https://github.com/adobe-fonts/source-serif

[2021-09-10 13:20] RosaWagner opened #3826 "Upgrade Varta"
upstream: https://github.com/SorkinType/Varta

The problem here is that the Devanagari has separated subset and Latin is a VF but not Deva… ideally we would need them gathered in one font. They say delivery in february 2022, but the question of the gathered sets should be settled before.

cc @davelab6 to contact @EbenSorkin about this.

[2021-09-10 13:48] RosaWagner opened #3827 "Add Huballi"
upstream: https://github.com/erinmclaughlin/Hubballi
Sources are from 5 years ago, probably need a refresh in term of metadata and glyph naming.

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [x] Font Images (only new or

[2021-09-10 13:52] RosaWagner opened #3828 "Add BhuTuka"
upstream: https://github.com/erinmclaughlin/BhuTuka-Extended-One
Font needs to be renamed "expanded" instead of "extended".
Needs to validate Camel Case name.
Sources are from 5 years ago, probably need a refresh in term of metadata and glyph naming.

[2021-09-10 14:13] RosaWagner opened #3829 "Add Crispy"
upstream: https://github.com/agyeiarcher/Crispy-VF

[2021-09-10 14:21] ThomasJockin commented on #3378
Hi @RosaWagner I spoke with Nadine. For the weight instance steps when we consider keeping the weight steps in Readex in step with the weight behavior of Lexend Nadine and I propose this progression:
![Weight-Arabic-09_10_2021](https://user-images.githubusercontent.com/16943529/132868203-66243e02-dd16-46fa-a52f-69a1ac168f1e.png)

The glyphs file was updated with the weight instance steps in [this]

[2021-09-10 14:26] RosaWagner opened #3830 "Add Jaini"
upstream: https://github.com/EkType/Jaini

Needs matching Latin to commison

[2021-09-10 21:21] MiriamHaga commented on #3094
I have the same problem too. All sites that I used this font in uppercase accented words appear broken now..

![noto_sans_sc_problem](https://user-images.githubusercontent.com/12863122/132918985-efc61117-297a-4882-bbf8-ae2a1b8c9b52.png)

[2021-09-12 01:42] NightFurySL2001 commented on #3803
Two questions:
1. cwTeX is not on Google Fonts (it once was, but is now removed: see https://github.com/google-fonts-bower/cwtexhei-bower) and is not actively maintained anymore.
2. cwTeX has been shown to be plagarizing other commercial fonts in https://github.com/l10n-tw/cwtex-q-fonts/issues/15; cwTeXHei is suspected to be plagarized from Adobe 繁黑體 or 文鼎粗黑体 (see comment on https://www.maoken.com

[2021-09-13 10:29] mrleemon commented on #3414
Any news about this?
Thanks in advance

[2021-09-13 14:22] pumano commented on #3414
I also up this thread, because half of year from initial issue request...

[2021-09-15 03:38] #2856 closed

[2021-09-15 06:39] #3021 closed

[2021-09-15 12:36] RosaWagner opened #3836 "Add Baloo Bhaijaan 2"
upstream: https://github.com/EkType/Baloo2-Variable
(Urdu+Arabic)

[2021-09-15 12:39] RosaWagner opened #3837 "Upgrade Baloo 2 families"
upstream: https://github.com/EkType/Baloo2-Variable
--> Make single issues when work starts.

- Baloo Da 2 (Bengali)
- Balo 2 (Devanagari)
- Baloo Bhai 2 (Gujarati)
- Baloo Paaji 2 (Gurmukhi)
- Baloo Tamma 2 (Kannada)
- Baloo Chettan 2 (Malayalam)
- Baloo Thambi 2 (Tamil)
- Baloo Tammudu 2 (Telugu)
- Baloo Bhaina 2 (Odia)

[2021-09-15 12:54] RosaWagner opened #3838 "Add Alexandria"
upstream: https://github.com/googlefonts/Montserrat
Designer of Arabic script is working in a private repo, but will have to merge into upstream when done.

[2021-09-15 13:02] RosaWagner opened #3839 "Upgrade Teko"
designer is working in a private repo for now.

[2021-09-15 13:10] #2354 closed

[2021-09-15 13:15] RosaWagner opened #3840 "Add Blaka"
private repo

[2021-09-15 13:26] RosaWagner opened #3841 "Add Gulzar"
private repo

[2021-09-15 13:37] RosaWagner opened #3842 "Add Maname"
upstream: https://github.com/mooniak/maname-font

[2021-09-15 13:45] RosaWagner opened #3843 "Add Anybody"
upstream: https://github.com/Etcetera-Type-Co/Anybody

[2021-09-15 13:54] RosaWagner opened #3844 "Upgrade Playfair Display"
upstream: https://github.com/clauseggers/Playfair-Display

[2021-09-15 13:58] RosaWagner commented on #3425
@jenskutilek Do want us to have a call so we update each other on the process?

[2021-09-15 14:03] #1744 closed

[2021-09-16 07:49] kothsada commented on #2695
please, i need lao font in Google Slide

Saysettha TrueType Font Collection
Phetsarath OT

[2021-09-16 08:35] ShauryaShrimal opened #3849 "How Should I add google font to electron app?"
I would like to add google fonts to my electron app?

if it is possible please help!

[2021-09-16 08:44] m4rc1e commented on #3812
Thanks Dave,

I'll do tasks 1,3 and cut a new release. Task 3 will take me a bit more time to figure out.

[2021-09-16 14:09] davelab6 commented on #3825
Per https://github.com/google/fonts/issues/2599 it sounds like the v3 might be close enough to v2 to update the `Source Serif Pro` family name, meanwhile that issue is about adding `Source Serif 4`

[2021-09-16 14:11] davelab6 commented on #3838
Upstream requested this be forked with another name

[2021-09-16 14:44] RosaWagner commented on #2606
suggestion from call with Dave and Marc:
- we completely BAN the slant axis
- ital axis is only used to link 2 separate files (Roman/Italic)
- we create a custom axis: SLOP (slope), with integer values as fallback eg: 8deg

cc @m4rc1e @davelab6 @vv-monsalve @thundernixon @tphinney @eliheuer

[2021-09-16 14:45] davelab6 commented on #2606
We would not change Recursive and Inter which are already onboarded

[2021-09-16 15:03] RosaWagner opened #3854 "Add Source Sans Pro 3"
With that name
upstream: https://github.com/adobe-fonts/source-sans/releases/tag/3.046R

[2021-09-16 15:03] davelab6 commented on #2606
So, I agree that problems persist with the way `ital` and `slnt` are handled in major implementations (CSS, Mac Word, maybe others) - and ambiguity about this is hindering onboarding. To recap:

* Nyshadh did a nice write up of some of the issues around `ital` and `slnt` axes in 2019 for the internal GF eng team.

* Similarly, Stephen Nixon made an investigation for Recursive, which has both those

[2021-09-16 15:08] davelab6 commented on #2606
SLOP could be accurate to how linear interpolation works, becuase the `slnt` axis definition is lying :) https://twitter.com/axis_praxis/status/1083183293368029184

[2021-09-16 15:12] RosaWagner commented on #2606
slant axis with oblique fallback or with italic angle etc, all of that data has repercussion on desktop app behaviours which prevent from a compatibility with fonts having slant and italic axes… so we need a axis that control the slope of a font, without coming in conflict with existing italic instances

[2021-09-17 14:30] m4rc1e commented on #3812
Alright, I think I'm done.

![_Users_marcfoley_Desktop_nu5 html](https://user-images.githubusercontent.com/7525512/133800057-8ba3f126-4ea8-43fc-9913-d7c37bbe03ca.png)

Will cut a new gftools release so it gets update on Sunday

[2021-09-17 16:01] simoncozens opened #3857 "fonts.google.com/noto truncates specimen text at character boundaries"
It should instead truncate the text at *cluster* boundaries, otherwise you get visible viramas:
<img width="540" alt="Screenshot 2021-09-17 at 17 00 50" src="https://user-images.githubusercontent.com/106728/133818864-88821e76-0b84-482d-9f02-7276771ee323.png">

[2021-09-17 16:44] rsheeter commented on #3857
Good catch, ty. Passing on to the team.

[2021-09-17 20:39] javiergarea commented on #288
+1!

[2021-09-19 22:33] delip commented on #288
@RosaWagner is this font coming up in gdocs? Joining the chorus of +1s.

[2021-09-20 13:00] #3812 closed

[2021-09-20 16:10] thiagowfx commented on #559
What are the needed steps to perform this? I could try to help here.

[2021-09-22 05:15] fitojb commented on #1232
This issue should be solved now.

[2021-09-22 11:25] #3028 closed

[2021-09-22 13:52] njgwinter opened #3860 "Crimson Text semibold &rdquo; problem"
The right-double-quote character in Crimson Text semibold (600) is incorrect
![image](https://user-images.githubusercontent.com/2566086/134356555-2b867b6b-91e8-47ab-b85c-88bacc240694.png)

[2021-09-22 14:08] RosaWagner commented on #3811
Thanks for reporting. What browser are you using, on which machine and version, and are you still having this issue?
If it is fixed, please close the issue :)

[2021-09-22 15:28] RosaWagner commented on #3860
AH Crimson text should be delisted?
cc @davelab6 for confirmation

[2021-09-22 15:29] aaronbell commented on #3860
That'd be my suggestion, unless there's a reason to keep it. Even on the origin repro (https://github.com/skosch/Crimson), Crimson Pro is called out as the latest / greatest version.

[2021-09-22 15:35] thlinard commented on #3860
Btw, duplicate of #320

[2021-09-22 15:36] #320 closed

[2021-09-22 16:21] #3374 closed

[2021-09-23 05:07] giang opened #3863 "Manrope removed Vietnamese characters?"
Hello,

I remembered that Manrope font supported Vietnamese, but now when I'm trying to add to my website and Vietnamese characters supported have been removed?

I checked the original author repo and his font is still supported Vietnamese.

Why remove it from Google Webfonts?

[2021-09-23 07:11] RosaWagner commented on #3863
Hi
Thanks for reporting. Google subsets the fonts they serve by following a file that lists the supported glyphsets. This file is missing the Vietnamese set — probably because of some combining diacritics that are missing in the fonts.

Until we fix this, you can download the font directly et self-host (the Vietnamese characters will be in the version you download).

[2021-09-23 07:18] thlinard commented on #3863
I don't see any glyph missing in https://fonts.google.com/specimen/Manrope?preview.text=Do%20b%E1%BA%A1ch%20kim%20r%E1%BA%A5t%20qu%C3%BD%20n%C3%AAn%20s%E1%BA%BD%20d%C3%B9ng%20%C4%91%E1%BB%83%20l%E1%BA%AFp%20v%C3%B4%20x%C6%B0%C6%A1ng&preview.text_type=custom

Maybe a subset missing in METADATA.pb?

[2021-09-23 07:26] thlinard commented on #3863
On the other hand, the version served by the API is 4.501, where ₫ is missing and º ª wrong. The version here is 4.504 which fixes this.

[2021-09-23 15:36] davelab6 opened #3865 "Add Victor Mono"
https://github.com/rubjo/victor-mono-font
https://rubjo.github.io/victor-mono

Pending clarification of OFL @ https://github.com/rubjo/victor-mono/issues/120

[2021-09-23 15:42] davelab6 opened #3866 "Add League Spartan"
https://github.com/theleagueof/league-spartan

* There is https://fonts.google.com/specimen/Spartan but its upstream is https://github.com/bghryct/Spartan-MB and League Spartan is a slightly different interpretation. Since we have multiple interpretations of other historical designs I'm good to go here.
* Some discussion at https://github.com/theleagueof/league-spartan/issues/33

**Production note

[2021-09-23 15:44] davelab6 opened #3867 "Add Fira GO"
https://github.com/bBoxType/FiraGO

Note this has a HUGE range of weights (https://github.com/bBoxType/FiraGO/tree/master/Fonts/FiraGO_TTF_1001/Roman) and will either need commissioned work to upgrade to a VF weight axis, or special packaging into sibling families.

[2021-09-23 15:47] davelab6 opened #3868 "Add iA Writer fonts"
https://github.com/iaolo/iA-Fonts

https://ia.net/topics/in-search-of-the-perfect-writing-font

https://ia.net/writer/blog/a-typographic-christmas

[2021-09-23 15:50] davelab6 opened #3869 "Add Gotu"
https://github.com/EkType/Gotu

[2021-09-23 18:49] tiroj commented on #3867
Interesting project. Any idea what the source and build workflow is? The public repos contain only compiled fonts,.

[2021-09-23 20:22] davelab6 commented on #3867
@carrois please explain :)

[2021-09-23 21:20] DecliningLotus opened #3870 "CSS API Breaking Changes"
Hiya,

A recent update to the CSS API essentially broke a portion of the [Fontsource](https://github.com/fontsource/fontsource) library with no option for me to actually fix the bug since the data previously used is no longer served by the platform.

Fontsource uses BOTH the CSS APIv1 and CSS APIv2 to gather all the files and information it needs since both APIs serve different files and formats w

[2021-09-24 03:34] MatinBeigiWP opened #3871 "Add more Persian fonts to Google Fonts and other Google services"
We need Persian fonts a lot in Persian language, what should be done to add more fonts to Google service?  Currently, only Lalehzar font is listed as a Persian font in Google fonts, but we need to add fonts such as Iran-Nastaliq, [Vazir](https://github.com/rastikerdar/vazir-font) , B Nazanin and other fonts to this list.

[2021-09-24 09:24] carrois commented on #3867
There are two Glyphs files for Roman and Italic with about 4700 glyphs each.
Manual TT-Hinting in Glyphs. Last change in the files was 2018, so it might take some effort to keep them updated/exportable and implement open issues. Yes, VF will be an effort, too. Next to the weight axis, a width axis would be possible. Fira Sans Source files already offer Compressed to Normal width. Would have to dra

[2021-09-24 09:27] Farshidmi commented on #3871
And Also google sheet dose not support persian Numbers ( ۱۲۳۴۵۶۷۸۹۰) in calcualation.
![image](https://user-images.githubusercontent.com/45791173/134651993-e6f923e6-0e21-41e6-ad4f-3fb97537b5c5.png)

[2021-09-24 09:35] thlinard commented on #2187
+ Sedan (Sedán)

[2021-09-24 10:43] spider4216 opened #3872 "Add SimpleLCD"
SimpleLCD font is a Latin regular font which can help present some text or numbers like a real liquid crystal display content

![simplelcd_font_2](https://user-images.githubusercontent.com/10693428/134661952-3e888c89-e343-4ab5-9cd1-736897e5fa61.png)

Font content Arabic numbers and Latin letters and also some special symbols.

https://github.com/spider4216/simple-lcd-font

[2021-09-24 11:47] #3863 closed

[2021-09-24 12:13] RosaWagner commented on #3647
How is it going with this one? should we move it to Q4 milestone?

[2021-09-24 12:28] RosaWagner commented on #3679
Naming scheme fixed with #3633, italic style linking is working for what I see.

Indeed, I have spent a lot of time this week and couldn't find what is wrong with some of the fonts. For bold italic I suspect a bug from Mac office, which are now reported there: https://github.com/MicrosoftDocs/typography-issues/issues/829 and also there: https://techcommunity.microsoft.com/t5/office-for-mac/bold-it

[2021-09-24 12:28] #3679 closed

[2021-09-24 12:29] aaronbell commented on #3647
Yes I believe so. We’re just waiting on the new update.

[2021-09-24 16:07] davelab6 opened #3874 "Add IBM Plex Sans JP"
https://github.com/IBM/plex/releases

[2021-09-24 19:07] davelab6 opened #3875 "Add Signwriting 2010"
https://github.com/Slevinski/signwriting_2010_fonts

RFN needs resolution

[2021-09-24 19:21] rsheeter commented on #3870
We do not guarrantee the stability of the CSS content. For context, the v1 api has long supported unicode-range for most fonts and has repeatedly changed it's response over time for woff2, unicode-range, font-display, and to work around various quirks in browser/os capability.

Can you tell us a little more about your use case? It sounds like maybe you are using the CSS API to acquire metadata abo

[2021-09-24 20:20] DecliningLotus commented on #3870
That is correct, we do scrape the CSS API's using [google-font-metadata](https://github.com/fontsource/google-font-metadata)  since the Developer API doesn't give us enough metadata to work with. Primarily, what we are looking for is the download links to the font files which we can then pull for self-hosting purposes.

- [Metadata generated from around a week ago](https://raw.githubusercontent.co

[2021-09-25 18:38] mohkermani commented on #3871
There are many fonts eligible to be listed in google fonts. And I don't know why they are not added. Current default fonts for persian in google products is not good fonts and some times with visual/readability issues.

[2021-09-26 16:41] HandyMenny opened #3876 "Open Sans v26: small text looks weird"
Since Open Sans has been updated to version 26, small text seems to lack antilasing.

How small varies depending on display resolution and scaling. I was able to reproduce (clearly) this problem with weight 400 and font-size 16px on Firefox and several Chromium-based browsers\* using Windows 10.

Example:
![opensans_v25](https://user-images.githubusercontent.com/3463028/134816037-fc0568c4-8b52-43f

[2021-09-26 18:01] davelab6 commented on #3876
That's working as expected, it was a long standing bug that Open Sans turned on anti aliasing

[2021-09-26 18:41] fitojb commented on #3871
Google Docs should have its own public bug tracker. I don’t think it’s efficient for anyone, either reporters or Google employees, to be in the current situation where people have to resort to the Google Fonts team’s bug tracker to report font/internationalization issues in the Docs product.

[2021-09-26 19:57] matteocontrini commented on #3876
@davelab6 was it really a bug? It doesn't look good at all now, unfortunately...

[2021-09-27 06:01] m4rc1e commented on #3876
We recently pushed an updated set of fonts which don't have gasp tables. I'm currently releasing an update which will fix this issue.

[2021-09-27 07:29] dancoull commented on #2981
Ready for QA, however I'm getting two issues building the fonts:

1) FontmakeError  "Axis 'Year': mapping output values must be in ascending order.”
One instance value descends to correspond with data about sea ice shrinking, if I change it to ascend the font builds. Is there anyway around this?
<img width="984" alt="Screenshot 2021-09-06 at 15 26 50" src="https://user-images.githubusercontent.com

[2021-09-27 10:33] matteocontrini commented on #3876
@m4rc1e thank you!

[2021-09-27 16:10] davelab6 commented on #3876
@matteocontrini SORRY :) I read your captions the wrong way around!! I read

[code]

But now I see the labels are actually under each image, not above:
[code]

So, yes, this is a regression, and we'll push a v27 to address this.

[2021-09-27 16:22] HandyMenny commented on #3876
No problem, out of curiosity is it the "gasp tables" issue mentioned above or is it something else?

[2021-09-27 20:29] m4rc1e commented on #3876
Apologies. GH auto closed this when I merged #3877.

[2021-09-28 00:04] #3737 closed

[2021-09-28 09:17] DecliningLotus commented on #3870
Of course, I understand. Just to present our side of the story to help you guys decide on priorities, although these Developer APIs do have a small number of projects oriented around them, the dependents of those specific projects may have large numbers yet sometimes is plagued with unreliability unfitting for them due to the haphazard ways we get around not having a comprehensive enough API.

e.g

[2021-09-28 10:35] Alroyfernz opened #3879 "Add latest fonts in the fonts api."

[2021-09-28 14:54] DecliningLotus opened #3880 "New Developer API Specification"
# Developer API

The existing [Developer API](https://developers.google.com/fonts/docs/developer_api) has aged quite much over the years (almost a decade old) and it no longer meets many requirements developers need to make effective and useful tools surrounding the Google Fonts ecosystem. Other solutions such as [google-font-metadata](https://github.com/fontsource/google-font-metadata) and [googl

[2021-09-29 00:09] RodneyAraujo opened #3882 "Please add Roboto Condensed Medium and Medium Italic to Google Fonts"
Please add Roboto Condensed Medium and Medium Italic to Google fonts to make avaliable as web fonts/font download. Thanks.

[2021-09-29 09:06] joaquinrovira commented on #288
+1!

[2021-09-29 13:06] RosaWagner opened #3883 "Add Amstelvar"
https://github.com/TypeNetwork/Amstelvar

[2021-09-29 13:14] BafS commented on #288
Please use the reaction "👍"  instead of a new comment to write +1 and spamming everybody :)

Regarding this PR, do we have any information? Is there a future for this issue? It would be great to know the current status because it seems to be stuck in a limbo, thanks in advance!

[2021-09-29 13:33] yanone commented on #3842
Dave, can you please assign the issues to my project (Yanone’s pipeline)? Some of the issues are not showing up in the list when I search for issues by author, don't know why. Assigning them to my project instead/additionally seems reliable.

--

Yanone
Dipl.-Designer,
Master of Design in Type & Media
https://yanone.de
Twitter/Instagram: @yanone
+49 176 24023268 (Germany)

Type.World project:
http

[2021-09-29 13:37] davelab6 commented on #1534
Oh this was shipped @ https://fonts.google.com/specimen/Gupter

[2021-09-29 13:37] #1534 closed

[2021-09-29 13:49] davelab6 commented on #1677
<img width="199" alt="Screen Shot 2021-09-29 at 9 48 18 AM" src="https://user-images.githubusercontent.com/261579/135281430-43e26a38-efbd-4ecc-ab43-7c5ff4b04200.png">

What a sad aspiration, lol

Good news, we are working to make the roadmap more clear via Github Issues Milestones, and now it looks like this is going to be done in Q1.

That may give us time to sort out https://github.com/google/fo

[2021-09-29 13:56] davelab6 commented on #3839
I'll take the assignment on this and contact all the designers involved to confirm the way forwards, then I'll reassign back to Yanone to onboard, likely in Q1

[2021-09-29 13:56] davelab6 commented on #3838
I'll take the assignment on this and contact all the designers involved to confirm the way forwards, then I'll reassign back to Yanone to onboard, likely in Q1

[2021-09-29 14:04] davelab6 commented on #3141
@eliheuer please update this issue :)

[2021-09-29 14:10] #2535 closed

[2021-09-29 14:16] #1219 closed

[2021-09-29 14:20] davelab6 commented on #3838
@Gue3bara confirmed a new name and said he'll need to do a small review mid March, so moving this to Q1 and passing back to @yanone 's list

[2021-09-29 14:20] RosaWagner opened #3884 "Add Anicons"
upstream https://github.com/Typogram/Anicons
We nee to wait until eng team implement support for third parties icon fonts.

[2021-09-29 14:22] davelab6 commented on #3842
I just went over the roadmap with @RosaWagner and I see this was done via automation

<img width="932" alt="Screen Shot 2021-09-29 at 10 22 11 AM" src="https://user-images.githubusercontent.com/261579/135287852-31885e81-619b-4a24-bcc9-d325678e0c13.png">

and it seems to be fine

<img width="318" alt="Screen Shot 2021-09-29 at 10 21 25 AM" src="https://user-images.githubusercontent.com/261579/13528

[2021-09-29 14:25] davelab6 commented on #3842
https://github.com/google/fonts/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+assignee%3Ayanone shows 18 open, 55 closed:

<img width="516" alt="Screen Shot 2021-09-29 at 10 23 20 AM" src="https://user-images.githubusercontent.com/261579/135288154-6c81a523-db78-4096-9926-e7dfec93ca96.png">

https://github.com/google/fonts/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+assignee%3Ayanone+proj

[2021-09-29 14:27] yanone commented on #3842
I get only 8 open issues when I search for it, only 3 from today among them.
I added all the issues you assigned me today to my roadmap manually to not lose track.

[2021-09-29 14:28] RosaWagner commented on #3818
Ah this is a duplicate of #3120 so I close

[2021-09-29 14:28] #3818 closed

[2021-09-29 14:57] RosaWagner opened #3885 "Add Arima"
upstream: https://github.com/NDISCOVER/Arima-Font

This is a new addition that would be as an upgrade of Arima Madurai (which would be de-listed once Arima is onboarded), it would merge Tamil, Malayam, Latin and Greek together.

This PR has a merged version of all the scripts: https://github.com/NDISCOVER/Arima-Font/pull/27
-> Could be a base for continuing the work, but need to convert build syst

[2021-09-29 15:05] RosaWagner commented on #2606
Until we take a decision, we can do as Marc was suggesting last time:
- only upright instances in FVAR table
- slant axis empty in STAT table

I link here all kind of tests that I made, you can jump directly to the conclusion part: https://gist.github.com/RosaWagner/f59cdc52e007913042f3f826a94d1f4f

[2021-09-29 16:32] #3394 closed

[2021-09-29 16:32] #3395 closed

[2021-09-29 17:18] kenmcd commented on #1534
No SemiBold (600) ?

[2021-09-29 22:20] Alirezaaraby commented on #3811
### Hi as you can see in the below gifs when you select font style and the right panel appear this problem happen:
![screen-capture-_5_](https://user-images.githubusercontent.com/45128978/135354985-b0ae88b4-b890-4d83-8bea-a7ae4da354ba.gif)

###When sidebar appears:
![screen-capture-_7_ (1)](https://user-images.githubusercontent.com/45128978/135356054-7a08f771-e4a7-4be1-9d31-699ea35105f7.gif)

## M

[2021-09-30 02:11] vv-monsalve commented on #2606
Sounds good. The advantage of deg values as fallbacks is it would allow negative and positive slope values while avoiding the `leftLeaning` `rightLeaning` discussion.

In a range that goes from -90 to +90, how many of them would need to be registered? So far, they still determine the number of static ttf instantiated.
`opsz`, the other axis with numeric fallbacks needed to be reduced to 21 (still

[2021-09-30 02:30] vv-monsalve commented on #2606
Even for SLOP axis? From your Slant Test Case, it seems a scenario of `2VF, Roman/Italic with a SLOP axis` is working mostly well if there are no more degree instances added (Test 5).

On the flip side, would the Test 6 case prevent us from using the SLOP axis?

[2021-09-30 04:38] rsheeter commented on #3880
Most appreciated, ty

[2021-09-30 06:54] Yash22nov commented on #3876
Hi m4c1e,
Still Open sans font looks weird in font-size: 12px; font-weight: 600.  Please solve this issue asap...

![open sans](https://user-images.githubusercontent.com/91519079/135402339-821a431f-38d3-4ed8-a039-67b9a86c9960.png)

[2021-09-30 11:56] davelab6 opened #3887 "Add Flow fonts, for UI mocking special purposes"
http://danross.co/flow/

This was requested by an internal Google team so has a high priority

[2021-09-30 12:01] davelab6 opened #3888 "Add Redacted, for UI mock special purposes"
Upstream : https://github.com/christiannaths/redacted-font

Along with #3887 and mentioned in #2187 the Redacted fonts are useful for UI mock special purposes and were never pushed to prod

@RosaWagner please could you take a look in the next week or so and request a sandbox push if there's nothing egregious

When emailing the gf eng team we'll need to note the menu subset needs to be made from Ro

[2021-09-30 12:01] davelab6 commented on #3887
@RosaWagner please could you take a look in the next week or so and request a sandbox push if there's nothing egregious

When emailing the gf eng team we'll need to note the menu subset needs to be made from Roboto

[2021-09-30 12:34] #3029 closed

[2021-09-30 14:00] RosaWagner commented on #2606
Indeed Test 6 is showing that wether we have a slnt or a SLOP axis, instances can only be weight styles in Roman and Italic.
Although, thanks to SLOP axis, we could have a full STAT table, cause we are sure it wouldn't be broken if browsers suddenly support slant axis. I think it's a loose-loose win-win meh-meh situation, and we just need to make a choice.

I wouldn't stop designers to have a slan

[2021-09-30 14:27] RosaWagner opened #3890 "Upgrade Expletus Sans"
upstream: https://github.com/googlefonts/Expletus-Sans

**Production notes:**

- [x]  Repo structure
- [x]  Fontbakery
- [x]  Visual QA
- [x]  Build
- [x]  RFN issue solved
- [x]  PR Upstream
- [x]  Package

[2021-09-30 14:36] davelab6 commented on #3874
In short, after @aaronbell reviewed, I decided that since the Latin is scaled differently to the rest, we'll wait for the next IBM release which may resolve this.

[2021-09-30 14:43] davelab6 commented on #2981
Sadly the way avar works it allows us to "bend" the space, not "fold" it.

I recommend you average it and create a flat segment.

[2021-09-30 16:12] #2945 closed

[2021-09-30 16:22] RosaWagner opened #3891 "Add Cascadia Code"
Issue with RFN that needs to be sorted out cf #2605

[2021-09-30 16:26] #3736 closed

[2021-09-30 16:35] #3396 closed

[2021-09-30 16:38] #3397 closed

[2021-09-30 16:38] #3398 closed

[2021-09-30 17:14] rsheeter opened #3892 "Mistaken CJK config?"
Family 'M PLUS 1 Code' has multiple subsets with frequency data: chinese-simplified, chinese-traditional, japanese

Guessing it should specify only one?

[2021-09-30 18:36] Lorp commented on #2981
To preserve the retrograde part of the variation, the solution is to add two masters at 1990 and 2000. This of course will add significantly to the size of the font.

[2021-09-30 19:47] davelab6 commented on #3892
Fixed in https://github.com/google/fonts/commit/b58a08eae1a7d06406e7d913bfe432e4ab0fc7e7

[2021-09-30 19:47] #3892 closed

[2021-09-30 22:22] EphraimB commented on #1607
Any update?

[2021-10-01 15:59] aaronbell commented on #3267
I believe that all fonts that needed correction have been corrected, and PRs opened for each. Given that, I'm going to go ahead and close this issue :)

[2021-10-01 16:00] aaronbell commented on #2391
I believe that all fonts that needed correction have been corrected, and PRs opened for each. Given that, I'm going to go ahead and close this issue :)

[2021-10-01 16:56] vv-monsalve commented on #2606
Agree on everything, including this one. It would be counter-intuitive for most users as it could be hard to picture what a possible 105deg would be. Hopefully, the `\` could be an option, as it would be kind of graphic at the same time.

[2021-10-01 21:46] thlinard commented on #3267
Hi @aaronbell

Can you reopen the issue? Correct me if I'm wrong but:

1. No PR for Archivo Narrow: maybe it should be delisted or fixed?
2. No PR for Fraunces (https://github.com/undercasetype/Fraunces/issues/259: the Thin Italic `fvar` instance has `<coord axis="SOFT" value="100.0"/>` while all other instances, Italic or Regular, have `<coord axis="SOFT" value="0.0"/>`).
3. No PR for League Goth

[2021-10-01 22:10] cssobral2013 opened #3897 "No variable version for Be Vietnam Pro, despite it clearly existing upstream?"

[2021-10-01 22:14] thlinard commented on #2391
Hi @aaronbell

Same question as #3267: shoulddn't the issue be closed only when the fix is released, rather than just at the PR stage?

And also, as #3267: many PRs missing (Archivo Narrow, Fraunces, all the Noto VFs — a lot !)? (or am I missing something?)

Congratulations for the job done, anyway. 😃

[2021-10-01 22:30] aaronbell commented on #3267
Sure. I mistakenly thought all of the affected fonts were either merged, or soon to be merged, and I forgot that there's a number of other fonts that still need update! Whoops.

On the others
1) Archive Narrow – As Archivo currently supports the width axis, I believe that this one can be delisted (I think that's part of the reason I passed by it). @RosaWagner Thoughts?
2) Fraunces – Am not sure wh

[2021-10-01 22:33] aaronbell commented on #3267
Actually, I'm going to close this as a dupe against #2391 so that there's only one issue tracking these. Let's continue discussion over there. 😄

[2021-10-01 22:33] #3267 closed

[2021-10-01 22:34] aaronbell commented on #2391
Sure. I mistakenly thought all of the affected fonts were either merged, or soon to be merged, and I forgot that there's a number of other fonts that still need update! Whoops.

On the various fonts:

1) Archive Narrow – As Archivo currently supports the width axis, I believe that this one can be delisted (I think that's part of the reason I passed by it). @RosaWagner Thoughts?
2) Fraunces – Am no

[2021-10-02 10:28] RosaWagner commented on #2391
1. Some fonts are used in Google docs, we can’t de-list them.
2. I don’t know. This font is fairly complicated and can’t be touched easily. Separated issue has to be opened, and we can see according to priorities.
3. To answer a question in the other linked issue: it makes the workflow less time-consuming if the issue gets closed automatically once the PR is merged. Please don’t ask to reopened, o

[2021-10-02 16:26] thlinard commented on #2391
1. If Archive Narrow is to be kept, it must be fixed (of course, it's up to you to determine the priority).
2. Indeed, an separate issue has to be opened: the present issue, #2391, is a "meta-issue", serving as a point of reference for dozens of other issues with similar flaws (hence Aaron's table: https://github.com/google/fonts/issues/2391#issuecomment-880871213). The particular issue is in fact

[2021-10-05 05:21] memeplex opened #3898 "Upgrading to latest version breaks VSCode"
After upgrading with [this brew formula](https://github.com/Homebrew/homebrew-cask-fonts/blob/master/Casks/font-source-code-pro.rb) that AFAICS fetches the latest version of the fonts using svn, VSCode rendering of Source Code Pro is broken as in https://github.com/microsoft/vscode/issues/100840. My original report to homebrew is https://github.com/Homebrew/homebrew-cask-fonts/issues/4993.

[2021-10-05 07:33] jenskutilek commented on #3425
I spent three hours last night trying to "dumb down" the fonts so they fit Google Fonts requirements, but for every reported problem I solve, I keep hitting a new roadblock. I'm slowly getting the feeling that it just isn't worth putting more work into this.

- I had to convert the outlines to cubic even though the original source was drawn with quadratic curves, because otherwise fontmake won't b

[2021-10-05 07:44] RosaWagner commented on #3425
@jenskutilek you don't have to go through this alone. Again, I am happy to have a call to explain the reasons of some requirements, how GF works and which process we apply in which case…

[2021-10-05 11:55] #2475 closed

[2021-10-05 11:57] ngmtuan opened #3899 "Add Vina Sans"
Hello,

Please find our submission "Vina Sans" to be considered for the Google Fonts Collection.
Project URL: https://github.com/nguyentype/vinasans

![03](https://user-images.githubusercontent.com/60652024/136017899-33842ec7-d020-4246-90ff-6262aa37aafe.png)

[2021-10-05 20:26] CatharsisFonts commented on #1687
Dear @RosaWagner, I believe we are ready for reingestion with the current Cormorant instance. Would you like me to make a release, or wait until you're done with it?

Cheers, Christian

[2021-10-06 07:21] RosaWagner commented on #1687
Thanks for updating us, I'll take a look first and send you pull request if I see anything :)

[2021-10-06 09:40] RosaWagner commented on #3887
So looking at flow now, the fonts are otf (obviously no source and only mention of OFL), is that cool @davelab6 ?

[2021-10-06 09:47] RosaWagner commented on #3887
Also style names are (name id 2) "Circular", "Rounded" and "Block" which seems to be why add-font is not generating a metadata.pb.

This is report for one of the font:
## Fontbakery report

Fontbakery version: 0.8.2

<details>
<summary><b>[17] Flow-Block.otf</b></summary>
<details>
<summary>🔥 <b>FAIL:</b> Checking file is named canonically.</summary>

* [com.google.fonts/check/canonical_filename](

[2021-10-06 13:27] #3647 closed

[2021-10-07 10:03] yanone opened #3918 "Upgrade Baloo Da 2 (Bengali)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:05] yanone opened #3919 "Upgrade Baloo 2 (Devanagari)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:05] yanone opened #3920 "Upgrade Baloo Bhai 2 (Gujarati)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:05] yanone opened #3921 "Upgrade Baloo Paaji 2 (Gurmukhi)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:05] yanone opened #3922 "Upgrade Baloo Tamma 2 (Kannada)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:05] yanone opened #3923 "Upgrade Baloo Chettan 2 (Malayalam)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:05] yanone opened #3924 "Upgrade Baloo Thambi 2 (Tamil)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:05] yanone opened #3925 "Upgrade Baloo Tammudu 2 (Telugu)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:06] yanone opened #3926 "Upgrade Baloo Bhaina 2 (Odia)"
https://github.com/EkType/Baloo2-Variable

- [x] Contact author
- [x] Build
- [x] FontGoggles functionality check
- [x] Fontbakery QA
- [x] Visual QA
- [x] Version bumped
- [x] Authors and Contributors info
- [x] Catalog designer info up to date
- [x] PR to upstream
- [ ] Font Images (only new or major upgrades)
- [x] PR to GF

[2021-10-07 10:06] yanone commented on #3837
Closing because I created separate issues for each family

[2021-10-07 10:06] #3837 closed

[2021-10-07 16:52] toothbrush7777777 commented on #3321
No, Google Fonts does not serve variable fonts when the user agent is Firefox. See issue #2543 for their original (outdated) reasoning.

[2021-10-08 16:50] RosaWagner commented on #1687
@CatharsisFonts we started to look it up. We noted design issues with diacritics but we'll come back to that later. Our first goal is to structure the repo according to GF spec and be have a repeatable export process using a fontmake/fonttools based script. I see 3 sources (Roman Italic Upright) for 7 families (Cormorant + Garamond, Infant, Unicase, Upright, SC), it would be helpful to have an ove

[2021-10-10 14:11] saizai opened #3935 "Right side only braille cells (dots ⊆ 4568) incorrect in Noto except Symbols 2, on mobile only"
@nathan-williams As best I can tell, all Noto fonts, except for Noto Symbols 2 (which gets it right), incorrectly display braille cells with only right side dots (4 5 6 8) as if they were left shifted (to 1 2 3 7), at least on Android.

See previously #325 reported by @sshbio and responded to by @davelab6.

Here's a full test set. The left one of each pair should be left aligned, the right one rig

[2021-10-13 03:50] davelab6 commented on #3823
@m4rc1e this came up again today with the gf eng team, who have the internal gftools code running into the same issue. Adjusting `add_font.py` to never append CJK subsets and if it detects any then prompt the user to define them manually, or, if running without user inpt, as a rough approach, then append `subset: CJK-EDIT-ME` which should cause havok as an unacceptable value, should be a quick pat

[2021-10-13 11:32] RosaWagner commented on #3271
Personal note
The font in single line with open path. Make Glyphs3 crash, so need to work with Glyphs2. Simon is working on a ufostroker filter to export the font with close contours, and Matt on a rounded corner filter.

in venv:
- gftools
- pip install git+https://github.com/simoncozens/ufo2ft@pre-filter-string
- pip install ufo2ft[compreffor]>=2.20.0;2D
- pip install git+https://github.com/simo

[2021-10-13 14:00] cheznewa opened #3937 "Variable Fonts Is Same From Medium And Semibold"
For example ReadHatText is avaliable one as variable font, the problem it's medium (500) and semibold (600) are same.

and maybe there other that this issue.

i hope is not duplicated issue.

[2021-10-13 14:03] RosaWagner commented on #3937
This is intended by the designer. The API is generated instances that the designer didn't want, so to prevent that we had to set it on the same location.

[2021-10-13 14:03] #3937 closed

[2021-10-13 17:06] HYPD opened #3938 "Add Flow typeface"
Yo! I was contacted by @davelab6 and @RosaWagner to get Flow added to this repo.

Files:
https://github.com/HYPD/flow-typeface

Website:
https://danross.co/flow

Please let me know if you need any other information.

[2021-10-13 18:18] #3938 closed, assigned to nobody

[2021-10-14 00:10] driehuis commented on #3377
DINish v2.012 comes with tabular numbers, old style numbers, and old style tabular numbers, support for Turkish and other European Latin-based languages, including special OpenType handling for Polish and Romanian. The site https://fonts.playbeing.com/dinish has the details.

[2021-10-14 09:21] #3050 closed

[2021-10-15 13:18] Aukimvisuel opened #3946 "Submission of fonts"
How to submit a typeface ?

[2021-10-18 20:15] Knorrke opened #3949 "Update IBM Plex Mono to v2.3 to include box-drawing characters"
Hello! Would be great to have the current IBM Plex Mono v2.3 available in google fonts since it added box drawing characters and block elements.

Thank you!

[2021-10-19 17:02] muhammad0saeed opened #3950 "I cant Download the whole file for font"
Hey
 I am not the developer guy but a designer, Recently I am trying to download the whole repository for the font but suddenly I cant download the whole repository, after 400mb it stops working and zip file remain corrupt whats the solution.???

[2021-10-20 08:38] EscolAssumpcio opened #3951 "Upload some handwriting academic font"
Hello! We are using Google Worskspace for Education in our school and we really need a handwriting academic font for our beginner students.

We would like to have avaiable some of these fonts: **Escolar1** (normal) or **Massallera** and also **Escolar4** (dots) if it is possible. This is the link where to get them from: [http://innoveduca.com/index.php/es/recurso/fuentes-de-letra](url)

Thank you

[2021-10-20 09:46] emmamarichal commented on #3890
Hello!
We have noticed that the old metrics are not compatible with the new ones and that there is no use typo metrics. Do we change everything, and if not which ones do we keep? Mac/windows ?

![Capture d’écran 2021-10-20 à 11 41 19](https://user-images.githubusercontent.com/64773544/138070277-f6f36ffc-7739-4c2c-ad13-fe6c54f69f80.png)

![Capture d’écran 2021-10-20 à 11 45 34](https://user-ima

[2021-10-20 11:58] kirkegaard opened #3952 "Cairo render differs on safari, firefox and chrome"
When using Cairo i see a big difference in how browsers render the font. It seems like both Safari and Firefox adds additional padding on both top and bottom. Ive even tried hardcoding the line-height but without any success.

Am i doing it wrong or is this expected? Can someone explain whats going on?

_The screenshots are using bootstrap. Not sure if that makes any difference?_

Chrome:
<img wid

[2021-10-20 15:15] RosaWagner opened #3953 "Upgrade Public Sans"
upstream https://github.com/uswds/public-sans
-> make sure STAT table is complete

Can't onboard it until upstream has merged the license thing etc.

[2021-10-21 14:39] RosaWagner commented on #3890
And we need to contact the author about the RFN

[2021-10-21 21:31] cssobral2013 opened #3954 "NO variable version for IBM Plex Sans, despite it existing upstream?"

[2021-10-22 12:37] davelab6 opened #3961 "Update Urbanist to v1.302"
A user wrote me,

Looking at [issues](https://github.com/google/fonts/issues?q=is%3Aissue+sort%3Aupdated-desc+urbanist) and [PRs](https://github.com/google/fonts/pulls?q=sort%3Aupdated-desc+urbanist) I see at the end of August ([here](https://github.com/google/fonts/pull/3765#issuecomment-907296428)) the latest release was held back due to regressions and/or other quality issues and @coreyhu kindl

[2021-10-22 21:35] cssobral2013 opened #3967 "Support ExtraBlack/Heavy weight (1000) in Axis Registry"
For example: Mulish has an ExtraBlack static weight upstream, but it doesn't appear in API, nor it's automatically generated.

[2021-10-26 15:46] LuisCCFigueira opened #3970 "Is there a ration between font-size and line-height on the roboto font family?"
I'm building a website project where I need to clip a text to a specific number of lines, maintaining the font default line-height.
To accomplish that I'm going to set the containing div height to a multiple of the line-height, but the font-size depends on the viewport height.

Is there a ration between font-size and line-height on the roboto font family?

Thanks,

[2021-10-27 03:33] moyogo opened #3971 "Noto Naskh Arabic ج missing in Medium, Semi-bold, Bold"
As reported on https://github.com/googlefonts/noto-fonts/issues/2165.
The final or isolate ج are missing from Noto Naskh Arabic Medium, Semi-bold, Bold static fonts and any weight above 400 in the variable font on https://fonts.google.com/noto/specimen/Noto+Naskh+Arabic. This does not occur with the downloaded fonts.

[2021-10-27 11:15] TL68 opened #3972 "Inter Font not working properly with Adobe Premiere Elements 2020"
Hi!
When I use the font Inter in text titles in Adobe Premiere Elements 2020 some character are not displayed properly. In some characters that are supposed to be transparent are filled and vice versa. See attached picture where Arial and Inter is compared (inter on top row)
![inter_font_premel](https://user-images.githubusercontent.com/93259282/139055357-3d6bf4d1-bb55-419c-a58e-44c68dc01f88.png)

[2021-10-27 11:59] ohbendy opened #3973 "Missing/broken Thai and Lao loopless fonts"
I notice there are some errors and omissions for these fonts on the new Noto site.

Our team created Noto Looped Thai, Noto Looped Thai UI, Noto Looped Lao and Noto Looped Lao UI. Only the [Noto Looped Thai](https://fonts.google.com/noto/specimen/Noto+Sans+Thai+Looped) is currently listed, and that build is badly broken. From the specimen on that page:

<img width="650" alt="Screenshot 2021-10-27

[2021-10-27 13:22] #3393 closed, assigned to aaronbell

[2021-10-28 09:32] RosaWagner opened #3977 "Add Murecho"
Opening this issue to close it right away with the linked PR, in order to keep data intact in milestone for project tracking.

[2021-10-28 09:33] #3977 closed, assigned to aaronbell

[2021-10-28 09:53] #3854 closed, assigned to m4rc1e

[2021-10-28 11:25] thlinard opened #3978 "Add Lato v3"
Please consider adding Lato version 3 (almost finished): https://github.com/latofonts/lato-source

[2021-10-29 13:07] #3926 closed, assigned to yanone

[2021-10-29 13:27] #3925 closed, assigned to yanone

[2021-10-29 14:04] #3922 closed, assigned to yanone

[2021-10-29 16:09] lucasmodena opened #3993 "Letter "L" on Nunito Sans (and Nunito)"
The original Nunito font shows the lower case character "L" as a straight line, and it looks consistent across versions of the font on the web (example: https://fonts.adobe.com/fonts/nunito-sans#fonts-section). But Google's version has this round leg that differs from others.

Is this supposed to look this way?

[2021-10-29 20:42] wolftune commented on #1527
Yeah, this is weird. I just tested in LibreOffice, no problems there. I see the problem in my Firefox tab name for the link posted originally. When that tab is active, it's not an issue in the window title. It *is* a problem in the hover pop-up when hovering over the tab. Whatever is going on, I dunno. Any ideas where else to report this?

[2021-11-01 09:28] kvetis commented on #3876
We're having the same issue as @Yash22nov. The issue appears in v27 and does not appear in v26. Font size 12px, font weight 600.

[2021-11-01 09:35] m4rc1e commented on #3876
@kvetis which browser and OS. Do you also have a url?

[2021-11-01 10:24] matteocontrini commented on #3876
In my case v27 fixed the issue that was originally reported.

[2021-11-01 11:54] kvetis commented on #3876
@m4rc1e Hi, thanks, I dug into it and it turns out the issue was caused by a specific font version on google fonts api - https://fonts.gstatic.com/s/opensans/v27/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2 - which was linked from a build-system-inlined css.

It does not happen with currently served google api CSS with current link: https://fonts.gstatic.com/s/opensans/v27/memvYaGs126M

[2021-11-01 11:59] m4rc1e commented on #3876
Not a problem at all. Thanks for reporting!

[2021-11-01 18:33] fitojb commented on #1527
bugzilla.mozilla.org

[2021-11-01 20:35] wolftune commented on #1527
Hrm, I found this closed issue. Linking here so things get seen if people notice this again: https://bugzilla.mozilla.org/show_bug.cgi?id=1334792

I don't know what to do next, but thanks for helping debug this.

[2021-11-01 21:57] nathan-williams opened #3994 "fsSelection issue in ofl/montaguslab"
ERROR: fsSelection bold should be 0, is 1

See [ofl/montaguslab/MontaguSlab\[opsz,wght\].ttf](https://github.com/google/fonts/blob/main/ofl/montaguslab/MontaguSlab%5Bopsz%2Cwght%5D.ttf).

[2021-11-02 09:51] m4rc1e commented on #3994
Rod brought this up previously but the current values we have seem correct to us.

The font's zero origin is the Bold weight which means the OS/2.fsSelection and head.macStyle must have their respective Bold bits enabled which is what we've done.

[code]

I think this is the first family that we've pushed that has a Zero Origin which is greater than the Regular weight.

[2021-11-02 17:07] #1726 closed

[2021-11-02 22:40] HandyMenny commented on #3876
Also in my case this issue has been fixed with V27, so this issue can be closed

[2021-11-02 22:40] #3876 closed

[2021-11-03 03:21] vv-monsalve commented on #3045
A new repository would be needed for "Luxurious Roman"

[2021-11-03 12:13] #3921 closed

[2021-11-03 12:25] RosaWagner commented on #3994
@nathan-williams this is discussed in https://github.com/google/fonts/pull/3858#issuecomment-939160803

[2021-11-03 12:41] #3045 closed

[2021-11-03 12:42] #3040 closed

[2021-11-03 13:02] RosaWagner opened #4006 "Upgrade Bevan [Summer of Type]"
upstream: https://github.com/googlefonts/BevanFont
Students added an oblique.

**Production notes:**

- [x] Repo structure
- [x] Separate roman and italic
- [x] Apply substitutions to the base glyphset
- [x] Fontbakery
- [x] Visual QA
- [x] Build
- [x] PR Upstream
- [ ] Package

[2021-11-03 13:51] RosaWagner opened #4007 "Upgrade Sigmare One [Summer of Type]"
Upstream: https://github.com/googlefonts/sigmarone

"Reviewed by Aoife Mooney. Sigmar One is originally smallcaps, during the Summer of Type lowercase characters were added. Not published yet on GF. Encoding is larger."

First step is to plan the sync up with https://github.com/aoifemooney/sigmarone and https://github.com/austynbenyak/sigmarone with googlefonts/sigmarone repo

[2021-11-03 15:20] #3888 closed

[2021-11-03 15:36] #3920 closed

[2021-11-03 16:47] kosbarts commented on #3820
@RosaWagner the source files are updated to the latest version and are ready for production.

[2021-11-03 21:42] vv-monsalve opened #4012 "American Calligraphic"
Part of Batch 5 of TypeSetIT fonts

[2021-11-03 21:46] vv-monsalve opened #4013 "Add Arizonia"
Is now part of Batch 5 of TypeSetIT fonts.

[2021-11-03 21:57] vv-monsalve opened #4014 "Add Babylonica"
Is now part of Batch 5 of TypeSetIT fonts.

[2021-11-03 21:59] vv-monsalve opened #4015 "Add Beau Rivage"
It's now part of Batch 5 of TypeSetIT fonts.

[2021-11-03 22:04] vv-monsalve opened #4016 "Add Luxurious Roman"
Part of Batch 4 of TypeSetIT fonts. Derived from Luxurious Project.

[2021-11-04 09:32] #82 closed

[2021-11-04 09:33] #3993 closed

[2021-11-04 09:34] RosaWagner commented on #3820
@kosbarts can you push the new font in the fonts directory of the repo ?

[2021-11-04 10:36] RosaWagner commented on #3455
We need to unblock #3810 by adding the right submenu subset to METADATA.pb.

[2021-11-04 11:08] yanone opened #4033 "Show font’s main script in overview on font.google.com"
I recently worked on an update of the Baloo 2 family. Since the fonts are arbitrarily named (not by their script name), there is no easy way to find the correct Baloo font for a specific script from the overview (which requires the knowledge of those fonts being for different scripts in the first place, maybe not a given for every user).

Please see this overview for reference: https://fonts.googl

[2021-11-04 11:32] kosbarts commented on #3820
@RosaWagner done. But these font files are produced with my build, not the action. Shouldn't be any issues. You can check the fontbakery report https://github.com/kosbarts/Oi/blob/main/sources/checks/checks_static.md

[2021-11-04 12:22] RosaWagner commented on #3820
The build and the action should have the same result. It's okay @emmamarichal already check and it is all good ;)

[2021-11-04 13:13] yanone commented on #4033
+1 from Mike Abbink about IBM Flex non-Latins: _"Also wondering if you still had plans on solving the cards to not display non-Latins all in Latin."_

[2021-11-04 14:18] davelab6 commented on #3740
We need to deal with the RFN,  so lets postpone this for a few months

[2021-11-04 14:20] #3961 closed

[2021-11-04 14:20] davelab6 opened #4034 "Add Anek families"
Ek Type project codename "Fluoro" will be released as "Anek"

[2021-11-04 14:22] davelab6 opened #4035 "Add Tiro Indic families"
Similar to #4034 we have some upcoming Indic families from Tiro coming.

[2021-11-04 14:23] davelab6 commented on #4035
Oops, duplicate of https://github.com/google/fonts/issues/3804

[2021-11-04 14:23] #4035 closed

[2021-11-04 15:04] RosaWagner opened #4036 "Unblock Darumadrop One"
#2864 needs to be unblock so it can be pushed to prod when times come.
As per comment in the PR, the name is wrong.

[2021-11-04 15:45] #3041 closed

[2021-11-04 15:48] #3046 closed

[2021-11-05 00:54] Chad-Baker commented on #1827
In Font Book, you can choose View > Custom (instead of Sample or Repertoire) and you should be presented with sample text in English, if that's your language. You can also substitute your own sample text or pangrams there by typing them in. I too was confused by the Devanagari display, which makes it difficult to judge the suitability of the font for Latin-based applications.
![Screen Shot 2021-11

[2021-11-05 11:09] #3055 closed

[2021-11-05 14:08] davelab6 commented on #3994
Tracking internally so closing

[2021-11-05 14:08] #3994 closed

[2021-11-05 19:34] yanone commented on #3874
@davelab6 Both Mike Abbink as well as Paul vd Laan have replied by email saying that the scaling is deliberate and there's no expectation for it to change. Interpolation issues will be fixed in the upcoming release, so I should indeed wait, but shall I otherwise onboard it as is?

[2021-11-06 07:42] 747 commented on #2392
This is not only a problem of the specific font. Every font that can originally stack accents correctly, as far as I tried, shows the same behavior via Google Fonts.

And there's a funny issue that you can quickly try on each font's specimen page: when you input preview text with problematic letters (say "ą́"), it displays the sequence correctly at the beginning, but the combination breaks as soon

[2021-11-06 20:45] usted commented on #3700
Hi there. I’ve just finished up and published a new release (https://github.com/usted/Albert-Sans/releases/tag/v1.11).
Is there anything I need to change on it or something I can do to ease the process?

[2021-11-07 09:28] AbdShullah commented on #282
Is there any way to fix the issue? I'm literally stuck here without knowing what to do. Is there a way to force browser to use local fonts instead css imported? Maybe someone can convince freetype maintainer to change his decision? Or ask web browsers developers to add feature to merge the fonts before passing to freetype? I have an existential crisis because of that issue, because nobody I asked

[2021-11-07 14:46] rafyqpro opened #4040 "Add Thaana Font "Kiyaan Regular""
The intention of developing this font was to get approval from Google to add this font in google fonts and use it in google applications such as google classroom and other applications.

[2021-11-07 15:29] rafyqpro commented on #4040
@davelab6 please guide me

[2021-11-07 16:57] tiroj commented on #4040
I’ve taken a quick look at this font, and while the impression of the Thaana shapes and proportions is good, the outlines do not conform to best practices for digital fonts. I understand the outlines were made in Illustrator, and often people with graphic design skills used to using that software are unfamiliar with the more strict outline requirements or recommendations for fonts. There are a lot

[2021-11-07 18:31] rafyqpro commented on #4040
Thank you for the feedback. @tiroj , I will work on fixing the issues

[2021-11-08 10:36] m4rc1e commented on #2392
Thanks for reporting. Let's see what's happening:

**Downloadable VF from font.google.com:**

[code]

This is behaving as expected

**Latin font from http://robinski.org/share/open-sans-error.html:**

[code]

It looks like the webfonts don't have any combining marks which I find strange.

@garretrieger could you take a look into this. I have a hunch it could be the subsetter.

[2021-11-08 11:46] kontur commented on #1555
This issue could probably be closed :)

[2021-11-08 11:49] kontur opened #4042 "Update Rasa/Yrsa binaries to version 2.003"
Hey all,

the Rasa/Yrsa fonts have just [released a minor version bump to 2.003](https://github.com/rosettatype/yrsa-rasa/releases) fixing several smaller issues, but particularly the fix for https://github.com/rosettatype/yrsa-rasa/issues/27 should go to google fonts as soon as possible (seems to have been introduced already with the 2.000-2 updates / Variable fonts).

As far as the repo goes we

[2021-11-08 12:30] RosaWagner commented on #4042
Thanks, noted. The problem is that we can't upgrade a font without italics if the current version on GF is served with them. It would create massive regression on the websites using them already. I know this is a bummer but can you re-add them?

[2021-11-08 12:31] #1555 closed

[2021-11-08 13:48] thlinard opened #4043 "Update Alice to version 2.002"
https://github.com/cyrealtype/Alice/releases/tag/v2.002

Fixes https://github.com/cyrealtype/Alice/issues/3

**Production notes**

- [x]  Repo structure
- [x]  Fontbakery
- [x]  Visual QA
- [x]  Build
- [x]  RFN issue
- [x]  PR Upstream
- [x]  Package

[2021-11-08 14:01] thlinard opened #4044 "Update Cyreal fonts"
Four year old fixes, never PR here:

1. Artifika https://github.com/cyrealtype/Artifika
2. Aubrey https://github.com/cyrealtype/Aubrey
3. Brawler https://github.com/cyrealtype/Brawler
4. Wire One https://github.com/cyrealtype/Wire-One

Partial fixes for https://github.com/google/fonts/issues/1305.

[2021-11-08 16:09] MattMayuga opened #4045 "Update Noto Sans and Noto Serif (LGC) to a variable font in Google Fonts"
With the new Noto font website, it makes things easier to get Noto fonts for use in anything you want. However, the Google Fonts versions of Noto Sans and Noto Serif, which cover Latin, Cyrillic, and Greek scripts, haven't been updated to a variable font family yet. Yes, I know Noto Sans Display and Noto Serif Display are variable. If Noto Sans and Serif were updated on Google Fonts to be variable

[2021-11-08 16:59] thlinard opened #4046 "Two versions of Vollkorn v5.000"
I looked for the source of the bad paths mentioned in https://type.today/en/journal/transitional#Vollkorn

![image-kGbzqvha2irsMTaO_H0Sw8-0cVptP6VGDw](https://user-images.githubusercontent.com/13808824/140784119-e9dee513-43ea-4cc5-818d-c0e261f5ea38.jpg)

They weren't in my version, which I got from here https://github.com/google/fonts/tree/main/ofl/vollkorn

But they're present in the version used

[2021-11-09 17:29] garretrieger commented on #2392
I just checked the latin and latin-ext subset definitions and neither includes U+0301 (the combining mark). I imagine that should be added to the latin-ext subset definition. What do you think @davelab6 ?

[2021-11-10 08:11] pierrotte commented on #24
This is still happening in the bold version in 2021.

[2021-11-10 13:14] #3820 closed

[2021-11-11 04:44] Raeskaa commented on #4043
Hi,
I'd like to work on this issue
can you assign this to me!

[2021-11-11 07:33] carnevalle opened #4055 "Barlow Condensed: Extra space after character Ø"
There are still issues with the danish character Ø when using capital letters

More on this issue: https://github.com/google/fonts/issues/1851

![136904408-451a37a0-69c2-4e65-a26c-efc86d3f88b9](https://user-images.githubusercontent.com/54747/141257007-4d459281-db4b-425f-9807-b119f75c3ce7.png)

[2021-11-11 10:13] grischka commented on #3972
Same issue here with Adobe Premiere Pro 2022 (macOS).

[2021-11-11 11:36] kontur commented on #4042
Okay, I'll take a look next week and reinstate the VF Italics to the repo, the removal was more of a "logical cosmetics" correction, because Yrsa (Latin-centric) should have them, but Rasa (Devanagari-centric) should not have them. However, I think it is preferable to keep the Italics and deploy the fixes rather than not get updates to the GF dsitribution.

You only need the variable font in place

[2021-11-11 12:12] yanone commented on #4042
Yes

[2021-11-11 15:05] Aquib100 opened #4057 "New font NotJoking"

[2021-11-11 16:52] yanone commented on #2726
Upstream PR: https://github.com/rosettatype/eczar/pull/26

[2021-11-12 00:46] eliheuer opened #4058 "Change GF Axis Registry `wdth` from `Normal` to `Medium`?"
This issue was suggested in a Fontbakery issue here: https://github.com/googlefonts/fontbakery/issues/3505

The [GF Axis Registry](https://github.com/google/fonts/blob/main/axisregistry/width.textproto#L26) has `wdth:100` set to `Normal`, but in the [OpenType docs](https://docs.microsoft.com/en-us/typography/opentype/spec/os2#uswidthclass) `Medium` is the default, and in Glyphs App `Medium` is als

[2021-11-12 02:00] cssobral2013 opened #4059 "Upgrade Cairo with slant axis"

[2021-11-12 04:14] eliheuer commented on #4058
I notice fonts like [Truculenta](https://github.com/Omnibus-Type/Truculenta) use `Medium` and I don't see any custom parameters or anything like that changing the entry to `Normal`.

[2021-11-12 09:34] ypsilon-p opened #4060 "[Crimson Text] Semi-bold 600 italic Double qoute is broke"
If you using semi bold (600) italic as font style, the double qoute  has a misrepresentation:
https://fonts.google.com/specimen/Crimson+Text?preview.text=%22&preview.text_type=custom
<img width="1431" alt="Bildschirmfoto 2021-11-12 um 10 33 48" src="https://user-images.githubusercontent.com/24660297/141444756-a0594182-944e-4161-907f-81a188423ebc.png">

[2021-11-12 10:09] RosaWagner commented on #4058
The axis registry is to build the instance names, and the STAT table has to be consistent with it.

Width Class is a parameter in the OS/2 table, it can be called Medium or in the opentype Spec in Glyphs or wherever, but at the end it just will be a value in the OS/2 table: `<usWidthClass value="5"/>`. This is not where you set up the instance name or the values in the STAT table.

"Normal" width

[2021-11-12 10:12] emmamarichal commented on #3890
We have 2 options for v-metrics.
- keep the old values
- calculate new values according to google specs
@RosaWagner

**With old values:**

![Desktop_Windows_10_chrome_71 0_](https://user-images.githubusercontent.com/64773544/141449485-aad26258-e1dd-493c-9199-a374cca91f9a.gif)

**With new values**

![Desktop_Windows_10_chrome_71 0_](https://user-images.githubusercontent.com/64773544/141449710-73408

[2021-11-12 11:27] RosaWagner commented on #3890
As additional info:
We noted that v-metrics from the version in API were not the same as the version in this repo which were not the same as version upstream. The one from API's version were actually not so bad but lacking cross-platform consistency and centred caps.

Option 1 is resolving that while keeping former linespacing.

Option 2 is resolving that while having linespacing = 120% UPM

So I

[2021-11-12 13:02] RosaWagner opened #4061 "Zen Maru Gothic: Missing Japanese translation for description"
https://fonts.google.com/specimen/Zen+Maru+Gothic

Min wrote:
I wrote "Zen Maru Gothic" instead of Japanese since this is the official name used on GF,
but if it's better to write it in Japanese, please replace it with "Zen丸ゴシック" 🙏

Zen Maru Gothicは、角の深い丸みによってソフトでナチュラルな印象を与える丸ゴシック体です。この特有のソフトな印象により、細いウエイトはどのようなシーンにも似合います。キュートでオシャレなこのフォントは、様々な場面で柔らかくふんわりとしたコミュニケーションに活用できます。

このプロジェクトに参加するには、こちらのリンク

[2021-11-12 13:18] RosaWagner commented on #4060
Please use Crimson Pro instead: https://fonts.google.com/specimen/Crimson+Pro

[2021-11-12 13:28] yanone commented on #3827
Upstream PR: https://github.com/erinmclaughlin/Hubballi/pull/10

[2021-11-12 13:54] RosaWagner opened #4062 "Update link in description of Scheherazade New"
I lost an email requesting that: "The link under "About" still says scripts.sil.org/Scheherazade. I should have requested that link be changed to https://software.sil.org/scheherazade/"

[2021-11-12 14:05] RosaWagner commented on #4046
Thanks @thlinard
So we need to bump up version number and re-push.

[2021-11-12 15:17] marr opened #4065 "Using material-icons-outlined classname fails to render icon"
Using the instructions found [<here>](https://fonts.google.com/icons?selected=Material+Icons&icon.query=info), the outlined variant of the info icon does not render. Using the `material-icons` class works fine, it just seems that the `material-icons-outlined` class is not working as advertised.

There is a repro case here https://codesandbox.io/s/material-icons-issue-m3dxo

Thanks for looking into

[2021-11-12 19:47] kenmcd commented on #3972
@TL68 @grischka
This was caused by overlaps accidentally remaining in the static fonts.
And this appears to cause issues in certain Mac apps (mostly)
This was fixed in the original repository months ago, but for some reason that fix has still not made it into GF.
Get the current release from the repository here: https://github.com/rsms/inter
And the issue will go away.

[2021-11-13 16:41] Kacper-Kondracki commented on #282
@davelab6 @m4rc1e @RosaWagner is there anything that can be done without disabling hinting?

[2021-11-15 06:51] szyth opened #4066 "Terminal Icon not working: Material Angular"

[2021-11-15 19:13] fitojb commented on #1851
@carnevalle The font’s source was updated, but the change still hasn’t reached the Google Fonts CDN. Please test with an updated build from https://github.com/jpt/barlow/tree/1.5/fonts as that version has a number of spacing and kerning improvements.

[2021-11-15 19:28] fitojb commented on #4059
Arabic fonts usually don’t have italics.

[2021-11-16 09:52] kontur commented on #4042
Rasa VF italics are back in [v2.004](https://github.com/rosettatype/yrsa-rasa/releases/tag/v2.004), sorry for the back and forth, a bit of miscommunication on my side.

Would be great to get the fixes from 2.003 live 👍

[2021-11-16 21:05] Lorp opened #4069 "[Merriweather] /question and /exclam glyphs seem too tall"
The question mark and exclamation glyphs appear to be too tall (taller than UC, lc, parentheses etc.) Is this intentional? The following table shows the heights of glyphs in the [current version of Merriweather Regular](https://fonts.google.com/specimen/Merriweather) on Google Fonts.

| Glyph | Max y |
| --- | --- |
| H | 743 |
| O | 751 |
| zero.lf | 752 |
| l (ell) | 819 |
| f | 828 |
| parenlef

[2021-11-17 00:28] davelab6 commented on #2459
No better way, but your idea is great!

You can also cache the developer API response on the server and paginate it there

[2021-11-17 07:18] johnoseni1 opened #4070 "Not all fonts are available on google fonts"
like i was told to use a calibri font by a client of mine, just to get to know that google fonts doesn't have that, that could be resolved right?

[2021-11-17 10:26] fitojb commented on #4070
Calibri’s license is proprietary, so it is of course not available on Google Fonts.

[2021-11-17 10:28] fitojb commented on #4069
It isn’t a real bug. It’s not the first time I’ve seen typefaces with these marks stylized so that they overshoot the cap-height line.

[2021-11-17 15:19] mathewlewis opened #4071 "Roboto v29 build size issue"
@nyshadhr9

There is a significant size difference between v28 (52KB) and 29 (11KB).
https://fonts.gstatic.com/s/roboto/v28/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2
https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2

This is similar to https://github.com/google/fonts/issues/3648#issuecomment-892998108

It is causing font display issues in Firefox again.

[2021-11-17 16:05] pakke86 opened #4074 "Icon for sign language?"
Hello
I saw there is icons for wheelchair, subtitles etc. But by my surprise, there isn't icon for sign language!
So I had to use the icon from another third package as Font Awesome.
But I would wish it should be in the Dart/flutter SDK instead.

Can anyone add this to Google Icon?
It would be awesome, Thanks for me reaching out!

[2021-11-17 16:16] m4rc1e opened #4075 "Tenor family: acute collides with base glyph in Eacute"
It only happens at certain sizes.

![image](https://user-images.githubusercontent.com/7525512/142238352-691c5efe-096a-4011-b181-e2c98014c6d9.png)

[2021-11-17 16:16] m4rc1e commented on #4075
The hinting doesn't look too good either. It may be best to dehint this family or rerun it through ttfa.

[2021-11-18 01:52] jnc0614 opened #4076 "Lexend Deca not printing correctly - lowercase e, w, y, h, n and uppercase M, W, Y."
I created a project using the Lexend Deca Font on Google Docs and had it printed through Kindle Direct Publishing (a print-on-demand service). When I received the printed material, the Lexend font didn't print correctly. I contacted Kindle Direct Publishing and they told me that the font through Google Docs is corrupt. If the font is printed in a large font size (about 50 and above) the lower case

[2021-11-18 02:24] kenmcd commented on #4076
It appears the overlaps were not removed from the static fonts.
Some applications/printers will have a problem with this.
I just checked and the fonts currently available for download from Google Fonts still have this problem.
And these are the fonts you are using on Google Docs.

I also just checked the repository and the static fonts there look OK.
Here: https://github.com/googlefonts/lexend
You

[2021-11-18 11:06] yanone commented on #4042
@kontur Upstream PR: https://github.com/rosettatype/yrsa-rasa/pull/30

[2021-11-18 13:13] #4042 closed

[2021-11-18 14:30] jnc0614 commented on #4076
kenmcd, thank you - this is very helpful information.

When you suggest "download your document so you can edit it locally", does that mean I can use Google Docs offline to edit it locally, or will I need to use another platform like Word, Pages or InDesign to accomplish this?

[2021-11-19 13:33] yanone commented on #4036
Upstream PR: https://github.com/ManiackersDesign/darumadrop/pull/4

[2021-11-19 14:46] davelab6 commented on #4070
I wish I knew how to solve this, but I don't, so I'm closing the issue :)

[2021-11-19 14:46] #4070 closed

[2021-11-19 15:59] Alpha-tiret opened #4092 "Inter — Numbers, ponctuation and operators in squares and circles are offset on Google suite"
I've experience a major bug with numbers, ponctuation and operators in squares on Google suite.
Some of them now display all offset from their boxes - squares and circles.

It was fine 2 weeks ago. I guess it's a bug from Google, maybe a problematic font unicode update
I've copy paste from indesign to get the rigth glyphs, but now it seems not to work anymore.

I've many Google doc designed with t

[2021-11-19 20:26] kenmcd commented on #4076
Yes.
I am not very familiar with Google Docs, but it is my understanding that you can download your documents in editable formats such as Word .docx, or LibreOffice .odt, etc.
Then you can edit the doc in Word or LibreOffice, and then export it to PDF locally which will use the better fonts that you installed locally.

[2021-11-19 22:21] tphinney commented on #4070
Just in case the original poster doesn’t understand…
Google Fonts is not a search engine for fonts. It is not all the world’s fonts. It is instead a curated collection of libre-licensed fonts.

In order to be available through Google fonts, a font needs to be available under a libre license, and to pass certain quality checks. And there are still other considerations!

So, “not all fonts are avail

[2021-11-22 03:04] jnc0614 commented on #4076
Can anyone give an idea of when this issue might be fixed for the Lexend Deca font in Google Docs Fonts?
Depending on what the approximate timeline is, it would help me choose from a few options for completing my project.
Thank you!

[2021-11-22 10:21] #3068 closed

[2021-11-22 10:22] #3074 closed

[2021-11-22 10:25] #3062 closed

[2021-11-22 16:34] Colin-Fredericks opened #4094 "Rendering issues of variable fonts in Affinity Publisher"
Hello!
I ran into an issue with Newsreader recently. I'm not sure what the issue _is_, precisely, but I can show you what the effects are.

https://pbs.twimg.com/media/FEz4-0QWYAgG4bQ?format=png&name=small

That's a set of screenshots from Word, TextEdit, and Affinity Publisher, overlaid with some transparency. It's literally the text:

Newsreader
Times

in those fonts, 72-point, with one carriage

[2021-11-23 14:56] JanisE commented on #113
@davelab6

Not true (at least, not anymore).

https://fonts.googleapis.com/css2?family=Noto+Serif returns references only for Latin, Cyrillic, Greek and Vietnamese subsets, even though "Noto Serif" contains more characters.

Without enforcing subsets I cannot get, say, Latin and Cyrillic subsets _and_ character `∞` (U+221E), which is not included in any of the subsets automatically selected by Goo

[2021-11-23 14:58] productiontype commented on #4094
Hi!
This is due to varying settings of vertical metrics across the various optical sizes. Unlike Times New Roman, Newsreader has different designs gathered as sub-families. Normalizing those values is not possible atm, and possibly counter-effective.

[2021-11-23 14:59] JanisE commented on #2480
The developer API still has `subset` parameter listed. Apparently, it's available if you use JSON API requests with the access key.

https://developers.google.com/fonts/docs/developer_api#details

[2021-11-23 21:32] Colin-Fredericks commented on #4094
I get what you're saying, but counter-effective is not how I'd put it.

Here's a [side-by-side comparison](https://pbs.twimg.com/media/FE6JuEOWYA0Jsz9?format=png&name=900x900) of how Newsreader looks when it's displayed in-app, and how it looks when you render to PDF. The way it look in-app is so bad that I would consider it unusable as a font. I find it difficult to even work with on-screen.

The

[2021-11-24 08:42] productiontype commented on #4094
Interesting. The app is apparently displaying the outlines of a given optical size with the metrics of another size. Not sure this can be fixed at the font level though, looks like an app support issue to me. Have you considered reporting there?

[2021-11-24 13:16] emmamarichal commented on #4006
@RosaWagner can you look at it ? I'm not sure what are the problems I can fix/ I can't fix.

## Fontbakery report

Fontbakery version: 0.8.3

<details>
<summary><b>[14] Bevan-Italic.ttf</b></summary>
<details>
<summary>💔 <b>ERROR:</b> Check samples can be rendered.</summary>

* [com.google.fonts/check/metadata/can_render_samples](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/goo

[2021-11-24 13:29] RosaWagner commented on #4006
I think you can change the v-metrics to what FB is recommending, and check the version. I would find it weird that Fontmake doesn't build the version number consistently across table (check there is not a second entry as custom parameter somewhere).

+ update fontbakery and re-run

[2021-11-24 21:01] cssobral2013 opened #4100 "How to view the fonts past the first 1,000 entries (without using any programs)?"

[2021-11-25 08:57] attuvashisht opened #4101 "Google Font Questrial doesn't display bold on IOS safari"
Hi Team

My issue is that i have used Questrial font and on safari desktop it is displaying bold when i used <strong> tag but not displaying bold on Iphone safari. Please check the desktop and mobile view in the attached screenshot.

Thanks
Attu Vashisht

<img width="1394" alt="Screen Shot 2021-11-22 at 8 43 15 PM" src="https://user-images.githubusercontent.com/95020936/143410333-8302ec00-f833-47b

[2021-11-25 10:03] #3919 closed

[2021-11-25 10:21] #3890 closed

[2021-11-25 10:31] #3073 closed

[2021-11-25 10:32] #3064 closed

[2021-11-25 10:41] #3060 closed

[2021-11-25 11:47] RosaWagner commented on #1851
I reopened this issue since the font still has be be upgraded on GF

[2021-11-25 11:50] RosaWagner commented on #4060
Crimson text is now deprecated. Websites using this version are still served with it, but they won't get any updates.

[2021-11-25 11:50] #4060 closed

[2021-11-25 14:45] #3918 closed

[2021-11-25 14:48] #3923 closed

[2021-11-25 14:55] #4062 closed

[2021-11-25 15:31] #3047 closed

[2021-11-25 15:32] #3056 closed

[2021-11-25 15:38] #4058 closed

[2021-11-25 15:43] RosaWagner commented on #4055
Thanks for reporting. I close this in favour if the more detailed issue.

[2021-11-25 15:43] #4055 closed

[2021-11-25 15:53] #3879 closed

[2021-11-25 15:58] #3137 closed

[2021-11-25 16:07] #2886 closed

[2021-11-25 16:21] #2932 closed

[2021-11-25 16:24] RosaWagner commented on #2829
IBM Plex fonts got updated this year, check it out :)

[2021-11-25 16:24] #2829 closed

[2021-11-26 09:33] #2171 closed

[2021-11-26 09:36] #3924 closed

[2021-11-26 12:26] #4016 closed

[2021-11-26 13:54] RosaWagner commented on #3773
Stix Two Math got de-listed.

[2021-11-26 13:54] #3773 closed

[2021-11-26 13:57] RosaWagner opened #4103 "Update description of Stix two text"
Now that Stix Two Math is de-listed because of API subset issue, description of StixTwoText should be updated to direct users toward upstream repo to get Math version

[2021-11-26 17:50] federicomazza1976 commented on #2848
Hi there, we have a problem with a particular letter in Work Sans when We print from Word. In the screen all looks fine, but when we print the end low quotation marks ( this "»" ) it looks very strange with a wrong alignment from the baseline. Any suggestion?

[2021-11-26 17:52] federicomazza1976 commented on #2848
![Schermata 2021-11-26 alle 18 48 29](https://user-images.githubusercontent.com/93648891/143617110-01b5ac40-7870-4dce-952e-2ab158cac85c.jpg)
As you can see the opened low quotation marks are fine, but the closed not! :(

[2021-11-26 20:24] Glenwing opened #4109 "Inconsolata: Superscript minus and n aren't superscript"
For Inconsolata, U+207B (superscript minus) and U+207F (superscript latin small letter n) aren't superscript, they are just copies of the standard minus sign and lower case n.

[2021-11-26 20:29] verdy-p opened #4110 "Duplicate Noto Tifininagh fonts for script variants in the main package containing all fontss"
The current "main" package containing all Noto (also Cousine, Arimo and Tinos) fonts is duplicating "Noto Tifinagh" fonts for script variants with suffixes (Adrar, AgrawImazighen, Ahaggar, Air, APT, Azawagh, Ghat, Hawad, RhissakaIxa, SIL, and Tawellemmet):

![image](https://user-images.githubusercontent.com/1387035/143626838-7c1bee95-a091-4e7b-aa8e-2228e415925f.png)

This occurs in the coillection

[2021-11-26 21:49] verdy-p commented on #4094
The line-spacing may depend on other styles rather than being a font issue: a carriage return alone may add a visual paragraph container with extra margins, instead of being a line-break. For proper settings, you should better enable automatic linewrap, not use any carriage return or linefeed, and then set the two horitontal margins for the actual display width (as well beware of optional features

[2021-11-27 03:45] vv-monsalve opened #4116 "Update Alumni Sans to GF Plus"
Sibling families of Alumni are part of Batch 4 of TypeSetIt projects. While working on it the designer is also going to include the GF encoding to the main VFAlumni Sans family, which then needs to be updated.

[2021-11-27 18:08] kenmcd commented on #2848
This is probably an issue with your printer driver.
Some printer drivers do not handle nested components, or transformed components properly.
The closing guillemet is a transformed version of the opening guillemet - it is just a copy (a component) which is rotated 180 degrees.
OpenType-TT (TTF) fonts can have components.
OpenType-PS (OTF) fonts do not have components.

So one workaround is to use

[2021-11-27 18:41] kenmcd commented on #4094
This can be closed.
The issue was resolved in the Affinity forum.
User was using the variable fonts.
Affinity applications do not yet support variable fonts.
The issue was resolved by using the static fonts instead.

[2021-11-28 20:41] verdy-p commented on #4094
Note however that if you have ever installed any "variable" fonts from Noto in Windows, you may have issues with these variable fonts being used to replace static fonts. When you uninstall these varaible fonts, Windows still maintains a cache with the mapping from the static font names, and it won't use the static fonts even if they are installed. This is a bug inside Windows (including latest ver

[2021-11-29 05:37] mintoming opened #4117 "Update Mplus1Code and MplusCodeLatin to GF"
There was an error on cedilla glyph and the designer fixed it & updated the source file on his GitHub.
We need to check & fontmake this and then update on GF :)
https://github.com/coz-m/MPLUS_FONTS/issues/26

[2021-11-29 23:39] aaronbell commented on #4117
Looks like there’s a little more budget so I can assist on this :)

Will take care of it tomorrow @RosaWagner.

[2021-11-30 02:27] rsheeter commented on #4100
I think the best answer we have is use fonts.google.com; if you specifically don't want to do that then I fear you need to at minimum clone the repository. The simplest way I'm aware of is to go to https://github.com/google/fonts, click Code, and then choose to Download Zip (links to https://github.com/google/fonts/archive/refs/heads/main.zip at time of writing)

[2021-11-30 02:27] #4100 closed

[2021-11-30 13:59] thlinard opened #4119 "Update Belleza (Eduardo Tunni)"
Version here & in the API: version 1.002 ([hotfix](https://github.com/google/fonts/pull/852)), Western Europe languages support only.

Version [upstream](https://github.com/etunni/belleza/): version 1.001, 8 years old. BUT: with [Adobe Latin 3](https://adobe-type-tools.github.io/adobe-latin-charsets/adobe-latin-3.html) support.

[2021-11-30 20:06] Mwalters75 opened #4120 "Can you add my font "Imperfect" to Google Fonts?"
Hi, I made an font called "Imperfect", and I wanted to know if I can have my font on Google Fonts, the repository is here: [https://github.com/Mwalters75/imperfect](https://github.com/Mwalters75/imperfect). If you can get it on there that would be great!

[2021-12-01 09:43] #3100 closed

[2021-12-01 10:34] RosaWagner opened #4123 "Update Baskervville"
upstream: https://github.com/anrt-type/ANRT-Baskervville
Current version has multiple nested and transformed components, which messes up with post-script printers. Last version in the upstream repo has all of that decomposed.

[2021-12-01 11:14] #1763 closed

[2021-12-01 11:15] #1666 closed

[2021-12-01 14:11] #4046 closed

[2021-12-01 14:18] RELeyland opened #4125 "Crimson Text no longer available"
HEllo - i'm using crimson text in an app and it appears it is no longer available https://fonts.google.com/specimen/Crimson+Text?family=PT+Sans

Are you able to say if this is permanent or just a temporary issue?

Thank you!

[2021-12-01 14:23] #3051 closed

[2021-12-01 14:25] #3072 closed

[2021-12-01 14:29] #3070 closed

[2021-12-01 14:30] #3067 closed

[2021-12-01 15:18] emmamarichal commented on #1851
We are working on it (cc @RosaWagner), but the font file is quite complex (because of intermediate layers, filters, etc.), and it's difficult to build the font with fontmake.

[2021-12-01 15:54] #1232 closed

[2021-12-01 15:57] RosaWagner commented on #1851
The last update is still in a branch and there is not a release yet, I suggest we let @jpt work on it. Please @jpt ping us when the upgrade is ready :)

[2021-12-01 16:28] #1352 closed

[2021-12-01 16:30] Aramithran commented on #3094
I have the exact same problem @MiriamHaga, **I managed to solve it by self-hosting the font instead of using CDN**.
For some reason the CDN version is bugged but if you download the files and host locally (through google fonts helper https://google-webfonts-helper.herokuapp.com/fonts).
This worked for me with the 'Noto Sans JP', I hope it works with your font as well.

[2021-12-01 16:47] #4123 closed

[2021-12-01 17:38] RosaWagner commented on #4125
You can use Crimson Pro :)

[2021-12-01 18:20] RELeyland commented on #4125
thank you for the quick response. We had seen crimson pro as an option. Can I check though, is there a risk at this font, or any other suddenly being removed from the googlefonts database? Is there ever a way of knowing when fonts might stop being available so that we are able to plan around this kind of thing happening again?

[2021-12-01 18:38] RosaWagner commented on #4125
The font is hidden from the platform because it has a lot of bugs that are fixed in the "Pro" version. Websites that are using it through the API are still served with it (so no existing websites are broken, trust is intact). So the font is not completely removed, it is hidden to push users to use a version with less bugs and of better quality (technically speaking). Moreover, if one really needs

[2021-12-01 19:02] RELeyland commented on #4125
Hi,

We are happy to use pro - it makes sense. I'm mainly asking as we use google fonts a lot on our platform. Text that is styled with Crimson Text is still showing however if we make any edits this is lost, I'll update this particular app to make sure everything uses pro now. I'm really asking as the platform I work for is a CMS that helps organizations create and publish web apps. Content is ed

[2021-12-01 19:03] RELeyland commented on #4125
and sorry I should say - we use google fonts a lot!

[2021-12-01 19:50] davelab6 commented on #4125
@RELeyland you should be able to hard code it to be always present in your family list, so it keeps working for you

[2021-12-01 20:01] jpt commented on #1851
indeed, I am actively working on a large number of issues in barlow, including the ø - although I changed it years back at this point to not substitute the alternate shape at heavier weights because a number of norwegian readers complained initially and who was I to disagree 😅 but if that kind of design change is controversial given the google cdn's reach, happy to talk about it.

in case it's hel

[2021-12-01 22:04] davelab6 opened #4127 "Add Joan"
https://github.com/PaoloBiagini/Joan

@paolobiagini requested this

[2021-12-02 08:44] #1603 closed

[2021-12-02 08:45] #73 closed

[2021-12-02 09:00] #2335 closed

[2021-12-02 09:09] #1847 closed

[2021-12-02 09:17] #2599 closed

[2021-12-02 09:28] #3061 closed

[2021-12-02 10:07] RosaWagner commented on #4076
Google Fonts is keeping overlapping contours for static fonts instantiated from a variable fonts, so it won't be fixed.

What you are experiencing is a PostScript printer that is not handling this kind of outlines (that are proper to true type fonts). If you plan to print with this kind of machine (which happens quite often with external printing services), it is recommended to use a version with

[2021-12-02 10:40] #89 closed

[2021-12-02 10:45] #115 closed

[2021-12-02 10:47] #133 closed

[2021-12-02 11:03] yanone commented on #3455
Upstream PR: https://github.com/agoodfeelingco/bakbak/pull/4

[2021-12-02 12:53] #3063 closed

[2021-12-02 13:11] davelab6 commented on #107
I'll keep this around in my project board as there's work to do here mining the far reaches of GitHub for individual issues 🤣

[2021-12-02 13:25] thlinard opened #4133 "Update Average (Eduardo Tunni)"
Same as #4119

Version here & in the API: version 1.002 ([hotfix](https://github.com/google/fonts/pull/834)), Western Europe languages support only.

Version [upstream](https://github.com/etunni/average): version 1.001, 8 years old. BUT: with [Adobe Latin 3](https://adobe-type-tools.github.io/adobe-latin-charsets/adobe-latin-3.html) support.

[2021-12-02 13:30] yanone commented on #3828
Upstream PR: https://github.com/erinmclaughlin/BhuTuka-Extended-One/pull/3

[2021-12-02 13:34] thlinard opened #4134 "Update Graduate (Eduardo Tunni)"
Same as #4119

Version here & in the API: version 1.001, Western Europe languages support only.

Version [upstream](https://github.com/etunni/graduate): version 1.001, 8 years old. BUT: with [Adobe Latin 3](https://adobe-type-tools.github.io/adobe-latin-charsets/adobe-latin-3.html) support.

[2021-12-02 13:44] thlinard opened #4137 "Update Paprika (Eduardo Tunni)"
Same as #4119

Version here & in the API: version 1.001, Western Europe languages support only.

Version [upstream](https://github.com/etunni/paprika): version 1.001, 8 years old. BUT: with [Adobe Latin 3](https://adobe-type-tools.github.io/adobe-latin-charsets/adobe-latin-3.html) support.

**Production notes**

- [x]  Build fonts
- [x]  Fontbakery
- [x]  Visual QA
- [x]  Build
- [x]  PR Upstream

[2021-12-02 13:54] thlinard opened #4138 "Add Pathway Extreme (Eduardo Tunni)"
Same as #4119

Version here & in the API: version 1.002 ([hotfix](https://github.com/google/fonts/pull/913)), Western Europe languages support only.

Version [upstream](https://github.com/etunni/pathway-gothic): version 1.001, 8 years old. BUT: with [Adobe Latin 3](https://adobe-type-tools.github.io/adobe-latin-charsets/adobe-latin-3.html) support.

[2021-12-02 13:55] davelab6 commented on #78
Roozbeh left Google in the middle of this effort and no one picked it up since. Let's assign it to me and eventually we will deal with it

[2021-12-02 13:58] davelab6 commented on #78
Actually @RosaWagner says she can take the next steps on this so reassigning

[2021-12-02 14:05] thlinard commented on #4138
Another possibility:  [Pathway VF](https://github.com/etunni/Pathway-Variable-Font).

[2021-12-02 14:07] thlinard commented on #4134
Another possibility:  [Graduate VF](https://github.com/etunni/Graduate-Variable-Font).

[2021-12-02 14:11] thlinard opened #4139 "Update Arapey (Eduardo Tunni)"
VF version here: https://github.com/etunni/arapey

[2021-12-02 14:25] davelab6 commented on #78
Haha after looking further, this is already fixed

https://fonts.googleapis.com/css?family=Open+Sans has

[code]

So u+2212 there means it will be provided by default when it exists in the font

Thanks @RosaWagner for looking closer at this :)

[2021-12-02 14:25] #78 closed

[2021-12-02 16:16] vv-monsalve commented on #3121
The available version from the latest source files was [considerably different](https://github.com/rfuenzalida/FrancoisOne-Font/issues/3) from the [published one](https://fonts.google.com/specimen/Francois+One?query=franco).

In a meeting, @davelab6 said it could be turned into a VF with an optical axis. However, after DB revision to the new VF, he said it wouldn't be an actual opsz. The process w

[2021-12-02 21:51] piersonjon opened #4143 "Issue with Inter font in Adobe Illustrator"
Our graphic designer is reporting an issue using the Inter font within Adobe Illustrator.
When automatic hyphenation is on, the hyphen symbol becomes an A with diacritical breve. (Ă)

Technical info:
filename: Inter-regular.ttf
machine model: MacBookPro18,1
CPU: Apple M1 Pro
Adobe Illustrator 26.0.1
Creative Cloud 5.6.0.788

Please let us know if we can improve any diagnostics with additional info

[2021-12-02 23:18] eliheuer commented on #3363
I'm back working on this again.

[2021-12-03 07:58] ktkm opened #4144 "Familjen Grotesk"
Hello!

Familjen STHLM AB would like to contribute to Google Fonts with our new font project, “Familjen Grotesk”.
Here’s a link to our project repository:
https://github.com/Familjen-Sthlm/Familjen-Grotesk

Sincerely,
Kristian Möller

[2021-12-03 14:02] #1380 closed

[2021-12-03 14:03] emmamarichal commented on #1380
Fixes in https://github.com/google/fonts/pull/1924

[2021-12-03 15:02] davelab6 commented on #3121
Ah yes right. In this case, let's publish the project under a new name,
Freeman.

[2021-12-03 15:29] tonsky commented on #2264
This page has been redesigned, it appears to be fixed now

[2021-12-03 15:29] #2264 closed

[2021-12-03 17:32] joeisdead opened #4147 "command to only install ttf files"
Hi
I need a dataset of ttf files for StyleGAN ML. Is there a git command I can use that will install the ttf files into one folder without any directories?

[2021-12-03 17:36] m4rc1e commented on #4147
A bit of bash could do this.

[code]

[2021-12-03 17:36] #4147 closed

[2021-12-03 17:52] RosaWagner opened #4148 "Issue template to do"
- [x] Add template that would cover Feature request, API issues etc ("anything else" not specific to one font)
- [x] rename template with 1 2 3 to sort the buttons out
- [x] Add template links into contributing.md

[2021-12-03 19:47] nicklefors commented on #2976
Bump!

[2021-12-04 07:52] yanone commented on #3200
Posting the Windows screenshot directly in here, in case it gets lost on the original URL:

<img width="377" alt="Screenshot-2021-10-28-151929" src="https://user-images.githubusercontent.com/175386/144702123-112aa330-ae14-4175-b93c-ef024433ed98.png">

[2021-12-06 10:12] jnc0614 commented on #4076
Thanks very much for this information - it is really helpful.

On Thu, Dec 2, 2021 at 3:07 AM Rosalie Wagner ***@***.***>
wrote:

[2021-12-06 10:59] thlinard opened #4150 "Noto Sans Math: math rendering is broken"
Specify the font name in title with a short description of the bug

**Describe the bug**
Similar to #3773

**To Reproduce**
Test fonts for rendering formulas in MathML format.

**Expected behavior**
Consistent rendering accross browsers and embedding (local or API-served) scenarios.

**Screenshots**
Firefox 94.0.2, macOS 11.6.1
<img width="722" alt="Firefox, Mac" src="https://user-images.githubuse

[2021-12-06 14:11] Mwalters75 commented on #4120
Sorry if I'm bothering anyone, but there was no response for almost a week. If my font didn't get accepted, that's fine.

[2021-12-06 17:37] Mwalters75 commented on #4120
No, because, well, I don't know how to make a font binary.

[2021-12-07 12:24] yanone opened #4153 "Fix glyph definition issue in Danh Hong’s Khmer fonts"
Posting this issue here for DB completeness, linking PR.

[2021-12-07 13:18] #1725 closed

[2021-12-07 14:19] #4153 closed

[2021-12-08 10:41] emmamarichal commented on #337
Fixed:
Italianno: #3379
Great Vibes: #3528

cc @RosaWagner: Should I update the list? There are new ones with the same problem.

[2021-12-08 11:19] #4043 closed

[2021-12-08 11:23] #3066 closed

[2021-12-08 11:25] #3065 closed

[2021-12-08 11:33] #4117 closed

[2021-12-08 11:52] RosaWagner commented on #3883
@dberlow give us some news in this issue for when the font is ready for review :)

[2021-12-08 11:59] #3069 closed

[2021-12-08 13:11] #4006 closed

[2021-12-08 14:23] RosaWagner opened #4156 "Check subsets of Baloo Fonts and update Baijaan"
@yanone, can you check the matadata.pb of the Baloo fonts to see if they contain the proper subsets? Otherwise the font will be served without. Baloo Baijaan is missing arabic subset and therefore we need in metadata.pb: `subsets: "arabic"` (sorted in alphabetical order with the other subsets).

I think only Baijaan has this problem but better to check them all to be sure.

[2021-12-08 15:11] emmamarichal commented on #1417
Fixed in #8
@RosaWagner

[2021-12-08 15:42] RosaWagner commented on #1417
Thanks @emmamarichal :)

[2021-12-08 15:42] #1417 closed

[2021-12-08 16:10] martinbean commented on #221
@slk333 And Google Fonts _isn’t_ a “third party provider”…?

[2021-12-09 11:09] #4156 closed

[2021-12-09 13:02] RosaWagner commented on #4148
Done in https://github.com/google/fonts/commit/7a36f8c039f0c30c3671e678f8a6ece499bbb1ce

[2021-12-09 13:02] #4148 closed

[2021-12-09 13:55] #4061 closed

[2021-12-09 15:31] davelab6 commented on #2899
That's fine. I would prefer opsz but since its all caps, makes sense.

[2021-12-09 15:54] davelab6 commented on #2943
Will be fixed soon in #4077

[2021-12-09 17:45] kopmanis opened #4161 "Add "Bell Bottom Laser""
**Font Project Git Repo URL:**
https://www.dafont.com/bell-bottom-laser.font

**Super short description of the Font Family:**
70's hippie style font

**Requirements:**

I can confirm the project meets these requirements:

- [ ] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL)
- [x] Family name is unique according to namecheck.fon

[2021-12-09 17:54] RosaWagner commented on #4161
Thanks for your submission @kopmanis, you have to tick the cases to show that you respect the requirements  :)

[2021-12-10 10:58] timtorres commented on #398
Hello, any updates on this? We're having to use a weird Frankenstein of Google web fonts for Noto Sans regular + bold which loads appropriate resources based on browser support, and then a static web font version for the light weight that I scraped from one of our client's internal pages that somehow has that weight.

[2021-12-10 12:29] #1212 closed

[2021-12-10 12:40] RosaWagner commented on #2977
repo hasn't been touched for 7 years, should this project be reassigned anyway?

[2021-12-10 12:43] m4rc1e commented on #2977
I took a look a year back and around 150+ glyphs were missing.

[2021-12-10 13:12] RosaWagner commented on #4143
Thanks for your issue report. I couldn't reproduce using Apple M1 / Illustrator 25.4.1. I installed version 26.0.1 and can't reproduce either. Did Adobe brought a fix in the past week and can I close this issue, or is still happening on your side?

[2021-12-10 13:20] #4094 closed

[2021-12-10 13:29] RosaWagner commented on #3946
You can follow the steps in [CONTRIBUTNG.md](https://github.com/google/fonts/blob/main/CONTRIBUTING.md)

[2021-12-10 13:29] #3946 closed

[2021-12-10 13:35] RosaWagner commented on #3898
If I follow the issue you linked, this issue was due to the change of Source Code Pro file name and it has been resolved by Homebrew.

[2021-12-10 13:35] #3898 closed

[2021-12-10 16:14] emmamarichal commented on #3450
There are 3 source files in .ufo and .vfb.
I opened one of them thanks to ufo2glyphs (the others were empty), here is the current glyphset, for one style:

<img width="189" alt="Capture d’écran 2021-12-10 à 17 06 27" src="https://user-images.githubusercontent.com/64773544/145605514-f5b9d503-1465-4424-9e88-9bfeae19b310.png">

<img width="1048" alt="Capture d’écran 2021-12-10 à 17 10 22" src="ht

[2021-12-10 16:57] tiroj commented on #2899
All-caps and proportionally not interpolable with the text caps, i.e. a variable opsz axis between the text and titling caps would produce intermediate results that were neither one thing nor the other.

As a general practice, Tiro doesn’t treat text and display as optical size variants of a single design, but rather as distinct ‘cuts’ that could have their own optical size variation ranges.

[2021-12-11 20:34] autang111 opened #4162 "Add [Font Name]"
**Font Project Git Repo URL:**

**Super short description of the Font Family:**

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases):

- [x] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL)
- [ ] Family name is uni

[2021-12-11 21:24] langlukas commented on #322
+1

[2021-12-11 23:57] #4162 closed

[2021-12-12 00:53] fitojb commented on #4120
Fonts are drawn as vectors, not bitmaps, and are usually in the OpenType format, either as TTF or OTF files. You can research font-making software, like Glyphs, FontLab, Robofont and Highlogic Font Creator, among others.

[2021-12-12 01:16] fitojb opened #4163 "Asset: acute and grave diacritics are reversed in uppercase letters"
![imatge](https://user-images.githubusercontent.com/554953/145696855-ee8685fb-f8aa-4bde-ad3e-00162f5d4cab.png)

[2021-12-12 04:20] Mwalters75 commented on #4120
Okay, but, what should I do if I'm using a Chromebook?

[2021-12-13 01:49] fitojb commented on #4120
Emulate, I guess?

[2021-12-13 11:34] RosaWagner opened #4165 "Unblock Darumadrop One from sandbox"
Current font is called "Daruma Drop One" when it should be "Darumadrop One", #2864 is therefore blocked in sandbox.

I assign @aaronbell for now to be able to track it, but we'll see that next quarter.

[2021-12-13 12:09] elirangolan opened #4167 "Noto Sans Hebrew missing glyphs and numbers"
There is missing glyphs and numbers in the hebrew version of noto sans,
instead of numbers it shows empty square.
also doesn't show the english letters.
<img width="1469" alt="Screen Shot 2021-12-13 at 14 09 32" src="https://user-images.githubusercontent.com/96057798/145809770-09e00693-e8ca-4bb1-8517-42e70210f99d.png">

[2021-12-13 14:41] Mwalters75 commented on #4120
I don't understand.

[2021-12-13 14:49] Mwalters75 commented on #4120
...Or I can use web ones, or ones that support Android devices?

[2021-12-13 16:57] jaikishanpatel opened #4168 "Add [Raigarh]"
**Font Project Git Repo URL:**
https://github.com/magictype/Raigarh

**Super short description of the Font Family:**
Raigarh — Old-style serif display type for vintage storytelling.

Currently, available in Latin, the font family consists of 5 weights; light, regular, medium, bold and black. It features over 690 precisely crafted glyphs. Includes standard and discretionary ligatures, mathematical

[2021-12-13 19:03] kenmcd commented on #4168
Where are the fonts?
The fonts are not in the upstream repository.
The fonts are not in the source .glyphs file.
The fonts are not available from your website link.
Perhaps this submission is a bit premature.

[2021-12-13 19:16] Jbhair opened #4169 "Add [oswald]"
**Font Project Git Repo URL: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&family=Readex+Pro:wght@500;700&display=swap" rel="stylesheet">**

**Super short description of the Font Family:oswald**

**Requirements:**

I understand that

[2021-12-13 21:53] canbi commented on #2087
File > Make a copy > Entire presentation.
Then you will see printed PDF version of your presentation. Fix all padding or font issues. Then save as pdf.

 I am not sure it is a fix for different view of the same font but it worked for padding issue.

[2021-12-14 08:21] jaikishanpatel commented on #4168
Hey, @kenmcd thanks. Yes, the exported files were not pushed yesterday. now the .ttf and .otf files are in the fonts folder and the source file .glyphs is in the sources folder.

[2021-12-14 20:36] kenmcd commented on #4168
Thanks. Love the font. Lots of character.

[2021-12-15 10:05] fitojb commented on #4169
Did you submit this bug as a test? Please don’t.

[2021-12-15 11:21] thlinard commented on #3953
The license thing seems merged and the VFs seem good.

[2021-12-15 11:22] RosaWagner commented on #4169
Doesn't look like a real submission, so I'm closing this

[2021-12-15 11:22] #4169 closed

[2021-12-15 15:15] thlinard opened #4171 "Update Fraunces"
**Font Project Git Repo URL: https://github.com/undercasetype/Fraunces/**

**Current version: 1.000;[b76b70a41]**

**New available version: 1.001;[d6d385783]**

**Super short description of the upgrade: fix https://github.com/undercasetype/Fraunces/issues/259**

**Bugs reported in this repo which this upgrade would fix: Partial fix for #2391**

[2021-12-15 20:09] nermink99 opened #4172 "Add Bodeg"
**Font Project Git Repo URL:**
https://github.com/nermink99/Bodeg

**Super short description of the Font Family:**
Bodeg is a modern font using both sharp and curved edges to stand out from the crowd while maintaining a clean design which makes it adaptable to many situations.

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confir

[2021-12-15 20:15] nermink99 opened #4173 "New 'Designer' Description"
#This issue also works for requesting features.

**Describe the issue**
Please could you update my 'Designer' Description

**New Description**
Nermin Kahrimanovic is a London based digital designer. His skills range from brand & website design to font development, HTML/CSS, 3D rendering, illustrations and video editing. Always looking to expand his skills further with a keen eye on current and upc

[2021-12-16 00:30] RobotRoss commented on #1274
I'd also like to see this added - the existing CDN for this font is pretty slow.

[2021-12-16 14:37] #3827 closed

[2021-12-16 15:45] davelab6 commented on #3450
Ah, right. So, I'll close this issue, and keep in mind a commission to flesh out the glyph set in the future.

[2021-12-16 15:45] #3450 closed

[2021-12-16 15:51] RosaWagner opened #4178 "Add PangMenZhengDao Heading"
Check out PR #4164

[2021-12-17 15:18] #4103 closed

[2021-12-17 15:29] vv-monsalve opened #4179 "Update Alumni Sans to GF Plus"
**Font Project Git Repo URL:**
https://github.com/googlefonts/alumni

**Current version:**
1.015

**New available version:**
1.018

**Super short description of the upgrade:**

- Latin Plus added.
- Accents created for Small Caps.
- Spacing and kerning fixes
- Ligatures fixes

**Bugs reported in this repo which this upgrade woul fix:**

This is part of `Level 2` of development expected for TypeSet

[2021-12-17 15:53] vv-monsalve commented on #4116
Following this in #4179

[2021-12-17 15:53] #4116 closed

[2021-12-17 17:17] ASH-Anthony opened #4182 "Log4J Vulnerability Question"
I know this is probably a silly question for this repo, but we need to assess our entire toolchain for any potential Log4J vulnerabilities related to [CVE-2021-44228]((https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228)). Including dependency chains. Could Google Fonts be vulnerable to this vulnerability?

[2021-12-17 17:43] rsheeter commented on #4182
Thank you for asking. Our current assessment is we are not.

[2021-12-17 17:43] #4182 closed

[2021-12-17 20:37] arturschmal opened #4184 "Update Kufam description"
There's an updated version of [DESCRIPTION.en_us.html](https://github.com/originaltype/kufam/blob/master/DESCRIPTION.en_us.html) on the Kufam repo.
Can this be updated on the Google Fonts site as well?
Cheers!

[2021-12-19 02:12] davelab6 opened #4187 "Rosario VF Light isn't light"
**Describe the bug**
Rosario VF Light isn't light.

**To Reproduce**
Compare the current Light style to the previous one.

**Expected behavior**

The light weight should be lighter than the regular.

**Screenshots**

Here's a specimen from the foundry:

<img width="1440" alt="Captura de pantalla 2021-09-09 a la(s) 13 02 56" src="https://user-images.githubusercontent.com/261579/146661108-554613fb-4

[2021-12-19 02:21] chrisg2 commented on #3522
On Oct 8, 2021 @rsms commented on [Include slashed zero in the Inter font available through Google Fonts](https://github.com/rsms/inter/issues/403):

From testing today it appears this hasn't been done yet, but hopefully sometime soon!

[2021-12-20 11:31] sovichet commented on #2388
Not sure if Google Fonts is using fonttools for subsetting. Anyway, I just posted a fonttools issue here. https://github.com/fonttools/fonttools/issues/2482

[2021-12-21 09:44] yonatanelm opened #4188 "DM sans don't support NIS New Sheqel currency symbol"
We are facing problem with ew Sheqel currency symbol, Kindly give some idea how to add this unicode in DM-sans ttf file.
unicode is:  &#8362;

When used it looks distorted and out of font guidelines.

[2021-12-23 09:22] thlinard opened #4189 "Update Marmelad"
**Font Project Git Repo URL: [GF repo](https://github.com/google/fonts/tree/main/ofl/marmelad)**

**Current version: 1.000 in the API**

**New available version: 1.100 (#445 never went into production)**

**Super short description of the upgrade: bug fix**

**Bugs reported in this repo which this upgrade woul fix: https://github.com/cyrealtype/Marmelad-Cyrillic/issues/3**

[2021-12-25 10:40] refparo opened #4190 "Allow selecting unicode ranges"
This is especially useful for CJK websites that need different fonts for latin and CJK text, but the latin font contain some punctuations that are also used in CJK, so the CJK punctuations are always overriden.

[2021-12-25 10:57] refparo commented on #4190
![图片](https://user-images.githubusercontent.com/13145126/147383428-09d75c8d-9be7-4340-9c02-3c1c7e10dd0f.png)
![图片](https://user-images.githubusercontent.com/13145126/147383495-8346d70b-d795-47dd-aa6f-32500ac20a8a.png)

[2021-12-28 17:16] tiagorangel2011 commented on #559
Nothing, after almost 6 years!

[2021-12-28 19:42] Lorp commented on #4069
Any thoughts @EbenSorkin?

[2021-12-28 20:41] EbenSorkin commented on #4069
In display faces where you want a nice tight fit for a headline you might want shorter ones but in running text of a paragraph these marks need to fight to be noticed far more and are correspondingly taller. But now that there is display Merriweather it might make sense to adjust their height in the larger optical size.

-e.

[2021-12-29 21:54] sjad81 opened #4191 "Add [Font Name]"
**Font Project Git Repo URL:**

**Super short description of the Font Family:**

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [ ] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts

[2021-12-29 21:54] sjad81 commented on #4191
Hjvf

[2021-12-30 10:39] Maia-Everett commented on #6
The Lato font seen on Google Fonts is still missing Cyrillic. Was v2 really added?

[2021-12-30 18:41] davelab6 opened #4192 "Add Nanum Barun Gothic"
**Font Project Git Repo URL:**

https://github.com/hiun/NanumBarunGothic - although this is a 3rd party repo, I doubt the original has a repo.

**Super short description of the Font Family:**

The famous Nanum fonts were a set of OFL fonts released by Naver (a Korean tech company) in the early days of web fonts. Turns out I didn't add `Barun Gothic` to Early Access for reasons unknown (possibly it

[2021-12-31 23:29] peterflynn commented on #1137
For anyone who needs a workaround on Win 7/8 for a website where all the text is invisible due to this bug... (in Chrome):

* First resort: if the font is inherited from somewhere global like a CSS rule for `body`, just uncheck the `font-family` in the Elements tab > Styles sidebar and you should be good to go.
* If it's defined all over the place in many different CSS rules, you can force the web

[2022-01-01 06:53] masud563 opened #4193 "Class name mismatch between developer guide and font's HTML code."
For example, in the material icons guide, we are instructed that the font's HTML a .material-icon class will be there inside the tag. But when we copy the HTML code from the icon page, it gives .material-icon-outlined class inside the tag. Hence, only the text inside the tag is rendered rather than the actual icon. Screenshots have been included for further clarification.

Describe the bug
Class n

[2022-01-04 03:57] BrokenStiletto opened #4195 "Add [Font Name]"
**Font Project Git Repo URL:**

**Super short description of the Font Family:**

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [ ] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts

[2022-01-04 03:58] BrokenStiletto opened #4196 "Add [add fonts]"
**Font Project Git Repo URL:**

**Super short description of the Font Family:**

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [ ] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts

[2022-01-04 04:01] BrokenStiletto commented on #4195
I'm just trying to add new Google fonts to my page but have no clue what I'm doing 😭

[2022-01-04 11:04] carnevalle commented on #1851
@jpt @RosaWagner

Bad news. The Ø fix found in https://github.com/jpt/barlow/archive/refs/heads/1.5.zip has introduced a bug with percentage sign %. See attached screenshot.

![barlow](https://user-images.githubusercontent.com/54747/148049720-fa049a14-2fa4-41db-9fd4-de2b6ab99047.png)

[2022-01-04 14:05] ktkm commented on #4144
What is the status of our new font submission?

[2022-01-04 15:50] jpt commented on #1851
Hi @carnevalle, the 1.5 branch is under active development and has more significant bugs than just the percentage sign right now; I wouldn't recommend using it until it's merged into the main branch. If you notice any other bugs, feel free to open an issue in the [Barlow repo](https://github.com/jpt/barlow/issues) along with the others so I can track it.

[2022-01-04 22:54] Djon79ua opened #4197 "Add [Font Name]"
**Font Project Git Repo URL:**

**Super short description of the Font Family:**

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [ ] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts

[2022-01-04 23:41] aaronbell commented on #4192
@davelab6 Could you want to create a googlefonts fork and add me to it?

[2022-01-05 07:54] carnevalle commented on #1851
@jpt

I'll do that. Do you want me to create an issue with this bug or is it already created somewhere?

[2022-01-05 08:18] jpt commented on #1851
oh, no, sorry I wasn;t more clear — I mean if you notice anything beyond the percentage sign, that one is done (though it's not yet in the font binaries it should be fixed in the Glyphs file)

[2022-01-05 10:50] RosaWagner commented on #4187
I just checked the fonts from GF and upstream and I don't see an issue, Light does seem lighter than Regular. Also the values in the AVAR, STAT etc all seems correct.

<img width="1132" alt="Capture d’écran 2022-01-05 à 11 45 47" src="https://user-images.githubusercontent.com/12222436/148205116-833be92c-db86-4185-b553-25f3b3a05958.png">

[2022-01-05 12:22] #3071 closed

[2022-01-05 13:04] #3866 closed

[2022-01-07 10:21] yanone opened #4201 "Add Anek"
https://github.com/EkType/Anek

[2022-01-07 11:29] yanone commented on #3839
@davelab6 Going through my assignments. Any news on this?

[2022-01-07 11:29] RosaWagner commented on #4195
Hi, these issue are meant to suggest open-source fonts to add in the Google Fonts catalog. You can't add new fonts to the catalog directly yourself.

GF doesn't distribute all the existing fonts, but there are a lot already available, and you can download them directly from https://fonts.google.com, or use the API to have them on a web page without downloading any files: https://developers.google.

[2022-01-07 11:29] #4195 closed

[2022-01-07 11:29] #4196 closed

[2022-01-07 11:30] #4197 closed

[2022-01-07 11:34] yanone commented on #3885
Shall I contact the authors to please merge the PR and then review it again, or shall I just make another fork? What do you think? The PR is open since a year and a half now.

[2022-01-07 12:42] yanone opened #4202 "Update Artifika"
https://github.com/cyrealtype/Artifika
Partial fix for https://github.com/google/fonts/issues/1305

[2022-01-07 12:43] yanone opened #4203 "Update Aubrey"
https://github.com/cyrealtype/Aubrey
Partial fix for https://github.com/google/fonts/issues/1305

[2022-01-07 12:44] yanone opened #4204 "Update Brawler"
https://github.com/cyrealtype/Brawler
Partial fix for https://github.com/google/fonts/issues/1305

[2022-01-07 12:45] yanone opened #4205 "Update Wire One"
https://github.com/cyrealtype/Wire-One
Partial fix for https://github.com/google/fonts/issues/1305

[2022-01-07 12:46] yanone commented on #4044
Close this issue as I have split it into four separate issues to comply with our current workflow. Thank you.

[2022-01-07 12:46] #4044 closed

[2022-01-07 12:49] RosaWagner commented on #3885
I don't trust the features in my PR, but it fixes several building issues + integrated some corrections from the authors, so I wouldn't re-do the work from the beginning. Option one sounds good, so I just replied to the email from December about this and hope it will unblock the situation.

[2022-01-07 13:16] yanone commented on #4202
Upstream PR: https://github.com/cyrealtype/Artifika/pull/2

[2022-01-09 05:03] davelab6 commented on #3839
No, won't be until March

[2022-01-09 16:17] Sbu-05-exe commented on #243
I have replicated this issue on firefox

[2022-01-10 16:17] michaelfrick111 opened #4207 "EB Garamond Typographer's quotes not displayed / printed in PDF files using Adobe Indesign"
Specify the font name in title with a short description of the bug

**Describe the bug**
When Typographer's quotes are active they are correctly displayed in the UI (opening low and closing high one)  but incorrectly printed in the resulting PDF output. Size 12pt EB Garamond regular font.

**To Reproduce**
Steps to reproduce the behavior.
Following quotes used to test:  “ “    „ „ „  „ „ „ „ ““““

[2022-01-11 01:29] brettdonald commented on #221
Not from a consumer point of view, it isn't. Noto Sans is published by Google, so Google Fonts ought to include it, all of it. From a Google internal point of view, it looks like the folk who produce Noto Sans are in a completely different silo from those who produce Google Fonts.

[2022-01-11 01:42] brettdonald commented on #221
@RosaWagner I see you've made some changes to labels and milestones. Can you give us an update on the status of this issue, please.

[2022-01-11 09:03] Vahidpro commented on #2975
Farsi community need this standard font, plese add it.

[2022-01-11 15:39] fadedshewrote opened #4208 "Kobo reader default font called "kobo tsukushi mincho""
Can anyone please share default ttf font by kobo called "kobo tsukushi mincho"

Thanks

[2022-01-11 16:44] #4036 closed

[2022-01-12 12:48] m4rc1e commented on #1677
Fixed in #4170. Will be in prod in a couple of weeks.

[2022-01-12 12:48] #1677 closed

[2022-01-12 13:13] andersson09 opened #4212 "Montserrat and -webkit-text-stroke overlapping"
You can see the issue by running https://www.html-code-generator.com/css/text-stroke-generator for Montserrat (a pretty popular font).

[2022-01-12 15:03] nstepien commented on #2170
Is this issue still relevant?

[2022-01-12 20:35] BigPxl-Caleb commented on #4212
Yup. This was working just fine three days ago and now a site that we use the font on is all goofy

[2022-01-12 23:10] vtucker commented on #4212
Same here on the main title: https://clearmortgage.com/meet-the-team

[2022-01-12 23:11] amgdevelopers commented on #4212
Yes this just happened to a client's website. All primary headings were using -webkit-text-stroke and now they are rendering this weird bug.

[2022-01-13 07:27] Lafontype opened #4213 "Add Gantari"
**Font Project Git Repo URL:**
https://github.com/Lafontype/Gantari

**Super short description of the Font Family:**
Gantari is a geometric sans serif family designed by Anugrah Pasau.

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in t

[2022-01-13 10:30] juandelperal commented on #3213
Thanks @StefanPeev
As we discussed on https://github.com/huertatipografica/piazzolla/issues/20 this is already fixed

[2022-01-13 10:31] #3213 closed

[2022-01-13 10:35] RosaWagner commented on #4212
Ah this is not a bug from the font, very much sorry.

We just onboarded an upgraded version of font that is now `variable` and it therefore keeps overlapping contours.
You can workaround this by downloading a static version of the font with merged contours and self host it: https://github.com/googlefonts/Montserrat/tree/master/fonts/ttf

You will find more answers in this issue: https://github.com

[2022-01-13 12:44] RosaWagner commented on #2857
@yellow-type-foundry you have been teasing this update for a year now :) Is it ready in your repo ?

[2022-01-13 14:37] thlinard commented on #4212
A substitution would be to use `text-shadow`, like this:
https://codepen.io/thlinard/pen/ZEXVQyM

[2022-01-13 18:48] brightgirl commented on #2602
I'm seeing this issue with Montserrat and Comfortaa fonts on MacOS 10.14.6 Mojave in Chrome 97.0.4692.71, Safari 12.1.2, and Firefox 96.0. Also observed on another Mac running Catalina with the latest version of Chrome.

[2022-01-14 01:19] poposnail61 opened #4216 "Add Min Sans"
Font Project Git Repo URL:
https://github.com/poposnail61/MinSans

Super short description of the Font Family:
Min Sans were created to configure the product design easily and quickly without any special settings.

Requirements:

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between

[2022-01-14 09:41] yanone commented on #4203
Upstream PR: https://github.com/cyrealtype/Aubrey/pull/2

[2022-01-14 09:52] yanone commented on #4204
Upstream PR: https://github.com/cyrealtype/Brawler/pull/1

[2022-01-14 09:58] yanone commented on #4205
Upstream PR: https://github.com/cyrealtype/Wire-One/pull/2

[2022-01-14 13:02] #4179 closed

[2022-01-15 01:25] #3139 closed

[2022-01-16 23:51] itsTyrion opened #4218 "Incorrect cyrillic characters in Comfortaa"
Specify the font name in title with a short description of the bug

**Describe the bug**
The cyrillic characters г, д, и, й, п, т, ѝ, ӥ, ӷ are rendered incorrectly. The upper case variants don't seem to be affected.
(u0433, u0434, u0438, u0439, u043F, u0442, u045D, u04E5, u04F7)

**To Reproduce**
Use Comfortaa with mentioned cyrillic characters.

**Expected behavior**
Characters being rendered cor

[2022-01-17 15:31] KarenFarias2022 opened #4219 "WaffleFieldStudio Sans Ex"
**Font Project Git Repo URL:**

**Super short description of the Font Family:**

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [ ] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts

[2022-01-17 15:31] KarenFarias2022 commented on #4219
Yes

[2022-01-17 23:15] cannobbio commented on #4212
This worked for me:

Instead of loading it like this (the variable size way):
`https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,700&display=swap`

Load it like this (static sizes):
`https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;400i;600;700;700i;800;900&display=swap`

[2022-01-18 00:02] tiroj commented on #4218
Comfortaa uses cursive lowercase forms for these letters. These forms are common in italic style for most languages, but are usually associated with upright styles only in Bulgaria. Some other letters that often have a distinctive form in Bulgarian do no in Comfortaa, so the typeface is an odd hybrid.

[2022-01-18 12:57] kwcooper commented on #2602
Adding another datapoint if it somehow helps with debugging...
MacOS Catalina 10.15.6
Chrome 97.0.4692.71

![Screen Shot 2022-01-18 at 4 48 48 AM](https://user-images.githubusercontent.com/17441478/149941286-96b5b8e6-f3e9-456a-adf8-489e4731729f.png)

[2022-01-18 17:19] enogael commented on #4212
This is not working : "400: Invalid selector". You can't get the italics only with the weight axis range specified.

Even the old syntax https://fonts.googleapis.com/css?family=Montserrat:400;400i;700;700i;&display=swap is not working either, still getting overlapping strokes, so it means it also loads the variable font ?

So our only option here is to use a self-hosted static version ?

[2022-01-18 23:49] davelab6 commented on #2602
10.14.6 was released September 2018; since this is a problem with the way
the OS' font rendering system renders valid variable fonts, I think
its unlikely to ever be fixed.

[2022-01-19 10:34] RosaWagner commented on #4208
Unless proved otherwise, it sounds like a proprietary font from Kobo, and therefore not open source.
More explanation here: https://github.com/google/fonts/blob/main/CONTRIBUTING.md

[2022-01-19 10:34] #4208 closed

[2022-01-19 10:57] RosaWagner commented on #4207
I can reproduce, but only with `quote double base`. There is no nested components in this glyph, I don't see outline issues in the sources. Seems specific to this font.

This is a screenshot from the output pdf (using variable font):

<img width="809" alt="Capture d’écran 2022-01-19 à 11 45 39" src="https://user-images.githubusercontent.com/12222436/150115200-fe140ee7-3a38-429c-b3a5-a4680e6ab25e

[2022-01-19 11:03] RosaWagner commented on #3978
friendly ping to @twardoch for updating us about the state of project :)

[2022-01-19 11:19] RosaWagner commented on #4034
duplicate of #4201

[2022-01-19 11:19] #4034 closed

[2022-01-19 11:25] RosaWagner commented on #2581
@CatharsisFonts please give us updates in this issue to know when we can onboard the font :)

Although I see that we will have the same issue as with Cormorant, ie. tool limitation.
cc @m4rc1e cause maybe the only way here for the 2 families would be to use the fix-family script on the ttf, instead of trying to build all the families with the builder?

[2022-01-19 11:47] CatharsisFonts commented on #2581
Hi Rosa,
as far as I'm concerned, the weights up to Bold are in a usable state of readiness. However, note that both the Greek and Cyrillic reviews are still far from finished. I'm not sure whether you prefer (1) waiting for those to conclude or (2) onboarding an imperfect version and ironing out the crinks in a later update. The latter would run the danger of getting bad reviews that might set th

[2022-01-19 12:45] RosaWagner commented on #2581
I would go for option 1 (for the reason you mentioned + to avoid eventual regression with an update). Can, you see with the reviewers if we can have the font ready for end of March ?

[2022-01-19 13:15] CatharsisFonts commented on #2581
One other option would be to ask the reviewers whether the current version is good enough for a first release, and otherwise perhaps leave the Greek and/or Cyrillic away from the release?

[2022-01-19 16:06] RokasSkeivys opened #4220 "Rubik webfont displays character differently from desktop font"
Hey.

I am having this issue that letter Ø is displayed differently on web vs desktop applications like inDesign, Sketch, Word or PowerPoint.

I attached examples. How can this be fixed?

![Rubik](https://user-images.githubusercontent.com/6932484/150168643-7a809b28-1ca7-4fac-ac0d-2015ed207e25.jpg)

[2022-01-19 22:58] davelab6 commented on #2975
We can't add it as-is due to licensing issues (the dejavu part isn't OFL and needs to be removed)

[2022-01-19 23:01] davelab6 commented on #1997
Sadly the license can not be changed without removing the 3rd party parts like the dejavu project data, which is where the original license was correctly added. Changing the license on the original parts needs confirmation from every contributor, too.

So, this is a bit messy and unusual and we will eventually add it but we will prioritize other more straightforward projects.

[2022-01-19 23:43] kenmcd commented on #4207
This appears to be a bug in InDesign introduced in v17.0.
It appears that with components one of the elements appears as the .notdef symbol (the box).
See list of ID bug reports here: https://github.com/huertatipografica/piazzolla/issues/24#issuecomment-1013700747

[2022-01-20 00:52] davelab6 opened #4221 "Add Padyakke"
**Font Project Git Repo URL:**

https://github.com/DunwichType/Padyakke_Libre

**Super short description of the Font Family:**

Kannada project

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [x] The entire font project

[2022-01-20 03:38] mgoszcz2 commented on #1226
This is actually no longer an issue in Chrome (at least as of 97, image attached), but still an issue in Safari. It looks like a webkit bug.
<img width="617" alt="image" src="https://user-images.githubusercontent.com/2553960/150267590-d677c3a4-7c07-4b53-acda-9a996f3486a3.png">

[2022-01-20 10:30] CatharsisFonts commented on #2581
Dear @RosaWagner, both reviewers responded to my question and are confident that we can finish by March. Let's do that, then. Cheers, Christian

[2022-01-20 12:50] RosaWagner commented on #4220
Your desktop version is showing the previous version of the font. Did you download the font before and is this version still installed on your computer?

Make sure to remove all versions of the font before installing a new one, clean font cashes and restart your computer (and the app) before installing a new one.

[2022-01-20 12:53] RosaWagner commented on #2581
Great, thanks :)

[2022-01-20 13:01] CatharsisFonts commented on #2581
Do you think it might be worthwhile to release a Latin-only Ysabeau until then? It's probably not worth the extra effort?

[2022-01-20 13:25] RosaWagner commented on #3844
Hi @clauseggers, just to let you know that you can update us in this issue about the progress of the font :) you can ping me here when it is ready to onboard or if you need help.

[2022-01-20 16:09] diefl commented on #4212
The following setup is working for me now:

[2022-01-20 16:23] clauseggers commented on #3844
Hello https://github.com/RosaWagner
The project is near completion. There is still some work ahead with implementing design features in regards to VF. About a month I’d say. I’ll holler here when it’s done.

[2022-01-21 01:30] redbush2504 commented on #2329
I run into the same issue. Interesting: in my grafic program (Xara) everything looks fine. In my  standard pdf viewer everything looks fine. Job for the printer (a flyer) - oops: problem like foguetes mentioned.

So I did some tests:
First I thought, Xara has a problem.

What I found: depending on the viewer, I do see the damaged letters or don't see them...
In FOXIT Reader everything looks great,

[2022-01-21 08:10] RokasSkeivys commented on #4220
Thank you for your reply Rosa, in hindsight it seems obvious that I should have just removed and downloaded the font again, but I haven't experienced it before that fonts get updated like that before.

Thank you once again, have a great day!

[2022-01-21 08:10] #4220 closed

[2022-01-21 11:07] RosaWagner commented on #2581
Better to go through the process just once, also I need time to see how to make it match gf-spec knowing that our tools can't build all the fonts of this family.

[2022-01-21 12:07] RosaWagner opened #4227 "Update AbeeZee"
upstream: https://github.com/googlefonts/abeezee

AbeeZee is the first family dir in this repo and referenced multiple times in our documentation. People probably go there first to have an example of family directories. It would better then if it matches the spec (which is not the case right now in term of copyright string etc.)

Would also like to approve the removal of the RFN --> @davelab6

**P

[2022-01-21 21:22] CatharsisFonts commented on #2581
Well, there will certainly have to be one more ingestion after this one for the heavy weights...  Shouldn't the GF infrastructure stay in place once it's there, though?

[2022-01-22 05:29] Krish-bhardwaj commented on #4193
Hi i am a fresher looking for some opensource contribution can u help me out i want to contribute to your project and can u assign me this issue:)

[2022-01-23 00:56] bateni opened #4233 "Add Farsi fonts"
This is for multiple fonts. There has been many discussions on adding Farsi fonts here. Most of the discussion has revolved around Vazir, which has a weak point @davelab6 identified in google/fonts#1997 and google/fonts#2975: DejaVu Sans is not released as OFL but is the basis of Latin glyphs in Vazir. I believe we can/should fix this problem and include Vazir in google-fonts but before that, it m

[2022-01-23 01:53] cssobral2013 opened #4234 "The lower end of Readex Pro wght axis is neither a multiple of 100, nor 1. Is this intentional?"
As per Google Fonts' standard, it is recommended that wght axes' extremes be multiples of 100 (or be 1). But that's not the case with Readex Pro.

**Describe the bug**
The lower axis of Readex Pro is the non-standard value of 160

**To Reproduce**
- Go to https://fonts.google.com/specimen/Readex+Pro , then Variable Axes -> Weight
-  You will see that the lower end of wght axis is 160, as per scree

[2022-01-23 04:14] ouroborus opened #4235 "CDN doesn't serve certain characters included in some fonts"
**Describe the issue**
The Google Fonts CDN doesn't serve all characters available in some fonts. This is especially noticeable with fonts that support the box drawing unicode range, U+7500-757F.

**To Reproduce**
Produce the CSS and HTML such that they render box drawing characters (best done with `<pre>` and a monospace font) and use a font from the Google fonts CDN that supports those character

[2022-01-24 05:48] PaoloBiagini commented on #4127
Hi Rosalie, I should finish by the end of February, thanks.

[2022-01-24 08:46] RichiH commented on #288
@davelab6, @RosaWagner : Taking both https://github.com/google/fonts/pull/1129#issuecomment-954257796 and the tag changes by into account, it does seem likely that we will not be getting CMU within 2022. Is this correct?

[2022-01-24 09:06] ghaznavipc commented on #2975
Also please add **Sahel** & **Shabnam**! They are awesome!
please please please please 🙏

[2022-01-24 09:49] ghaznavipc commented on #2975
### Author answer/information about this problem (mentioned in the issue part of his github page for this font):
Vazir font has no problem. Of course, they have rights to be strict and I appreciate this myself. The first version of Vazir started with the DejaVu font because at that time I needed a platform. The part where I used the DejaVu font was public domain. There is no longer any connection

[2022-01-25 10:41] RosaWagner opened #4237 "Update Lexend with Italics"
**Font Project Git Repo URL:**
https://github.com/googlefonts/lexend

**Super short description of the upgrade:**
Add Italic

cc @otaviopardo

[2022-01-25 13:03] Brunojsza opened #4238 "Why there is no more "Pairing" option on menu?"
Hello!

In the past, there used to be the "Pairing" option on the website, which helped a lot. Why is this option no longer available? See the attachment:
![Screenshot_10](https://user-images.githubusercontent.com/77538122/150981904-eee72d78-a0c8-4f72-b771-ee012f71f318.jpg)

[2022-01-25 15:51] anuplohade opened #4239 "Add Marathi Saral"
**Font Project Git Repo URL:**

**Super short description of the Font Family:**

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [ ] The entire font project is licensed under the [OFL](https://scripts.sil.org/cms/scripts

[2022-01-25 16:24] RosaWagner commented on #4234
The range of Readex Pro is a bit wider than the instances, nothing is wrong with that. The extreme master was design lighter than a Light instance but too thick to be a thin instance, that's it. GF Spec requires instances to be multiple of 100, not the extremes.

[2022-01-25 16:24] #4234 closed

[2022-01-25 17:17] RosaWagner commented on #2581
Adding styles is less annoying than correcting stuff already published. It's okay if the heavy weights come later :)

[2022-01-25 23:58] tobestobs opened #4241 "Add Finlandica"
**Font Project Git Repo URL:**
https://github.com/HelsinkiTypeStudio/Finlandica

**Super short description of the Font Family:**
THE FONT FROM FINLAND
On a trajectory informed by Finnish natural and industrial history.
Its strong and compressed shapes embody a traditional virtue in Finnish culture: honest and resilient determination – “Sisu”. Ink traps like cuts from a blunt ax, makes the typeface

[2022-01-26 15:57] emmamarichal commented on #4227
## Fontbakery report

Fontbakery version: 0.8.4

<details>
<summary><b>[1] Family checks</b></summary>
<details>
<summary>🔥 <b>FAIL:</b> Does font file include unacceptable control character glyphs?</summary>

* [com.google.fonts/check/family/control_chars](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/googlefonts.html#com.google.fonts/check/family/control_chars)
<pre>--- Ration

[2022-01-26 16:18] davelab6 commented on #2543
I'll ask our engineering team to review this again, as the decision made a
few years ago might not be the same in 2022.

[2022-01-26 16:24] toothbrush7777777 commented on #2543
@leodeslf No, it was caused by [DirectX DirectWrite](https://docs.microsoft.com/en-us/windows/win32/directwrite/direct-write-portal), the Windows API for measuring and drawing text.

[2022-01-26 18:15] SaiCorporation opened #4242 "Add Sai Sans ttf font"
**Font Project Git Repo: [Over here!](https://github.com/SaiCorporation/Sai-Sans-S-font)**

**Super short description of the Font Family: A simple and unique font based on real handriting**

**Requirements:ttf**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brack

[2022-01-26 19:57] leodeslf commented on #2543
@toothbrush7777777, I didn't express myself correctly, I meant:

Between the Fonts team and the Firefox team, the one that actually has an issue is Firefox (Firefox with DirectWrite as you said). Therefore it's understandable that it doesn't depend 100% on Fonts to solve it. Anyway, I still asked here because it's one of the only threads I found.

---

And @davelab6, I'll really appreciate that.

[2022-01-27 09:52] TsiresyMDG commented on #4212
I have same problem to my website about the Montserrat stroke, how can I resolve it ?

[2022-01-27 12:05] RosaWagner commented on #4227
@emmamarichal tu peux ajouter/dessiner les caractères manquants (sauf divisionslash, deprecated), et je vais ajouter le nom de famille à Fontbakery. Il faudrait aussi renommer les .cap en .case et mettre à jour les features ;)

[2022-01-27 14:35] RosaWagner commented on #4241
@tobestobs The fonts need to be fixed a bit (to match GF spec) before onbaording, are you already in contact with the designers? Otherwise I just send a message to their studio email to ask for the sources hoping they accept.

[2022-01-27 15:12] emmamarichal commented on #4227
## Fontbakery report

Fontbakery version: 0.8.4

<details>
<summary><b>[10] ABeeZee-Italic.ttf</b></summary>
<details>
<summary>💔 <b>ERROR:</b> Check for font-v versioning.</summary>

* [com.google.fonts/check/fontv](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/googlefonts.html#com.google.fonts/check/fontv)
<pre>--- Rationale ---
The git sha1 tagging and dev/release features of

[2022-01-27 15:54] mikemccarron opened #4249 "New Montserrat rendering issue when using -webkit-text-stroke"
A recent change to the file that is served up for Montserrat has created an issue when using `-webkit-text-stroke`. The shape crisscrosses in some places or is a separate shape in others. Below is an example:

https://share.getcloudapp.com/wbuYzJRN

The expected result is clean outlines for each character. (This had been the case up until recently)

[2022-01-27 15:58] m4rc1e commented on #4249
Duplicate of #4212

[2022-01-27 15:58] #4249 closed

[2022-01-27 17:26] philipminev opened #4250 "Montserrat font breaks at 9px size"
Montserrat font seems to have issues displaing correctly at 9px size. The top line of the font is blurry/cut.

CSS to reproduce the issue:

body {
  font-size: 9px;
  font-family: Montserrat, sans-serif;
  background: white;
  background: white;
  color: black;
}

Screenshot:
![image](https://user-images.githubusercontent.com/43341453/151411373-cf462a8a-3f46-4f12-8b8d-d6e6bb2fb6f1.png)

![image](h

[2022-01-27 18:27] m4rc1e commented on #4250
Thanks for the report. I'll see if I can improve the rendering at low sizes next week.

[2022-01-27 19:12] tobestobs commented on #4241
I haven't made contact yet. I came across it and asked Dave if we could onboard it. He suggest I file the request here to get more familiar with our process :)

[2022-01-28 12:41] RosaWagner commented on #4241
And you did well :) Okay then, I contact them directly by email to see if they want to share their sources so we see if we can make it happen.

[2022-01-28 13:15] #4205 closed

[2022-01-28 13:39] #4204 closed

[2022-01-28 13:40] #4203 closed

[2022-01-28 14:22] #3828 closed

[2022-01-28 16:54] WONDARUK commented on #2602
I had the same issue on a website project. This is gonna work. Use one of these for each font-weight:

/* cyrillic-ext 300*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69

[2022-01-28 19:38] tseringn commented on #2219
Any update?
I am seeing bolded text dispersed in larger screen

[2022-01-28 20:25] demonDragon12 opened #4257 "Add [Bauhaus 93]"
**Font Project Git Repo URL:

[bauhaus-93.zip](https://github.com/google/fonts/files/7961649/bauhaus-93.zip)

**Super short description of the Font Family:**
**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [x] The entire

[2022-01-28 20:32] #4257 closed

[2022-01-28 22:22] kenmcd commented on #2219
Avenir seems to be listed - but there are no styles listed for it.
Like it is just an error that it is listed at all.
Same with Arial, Times New Roman, etc. - they are in the list, but no styles listed.
All three of these fonts are not going to be a part of Google Docs.
Looks like a bug.

[2022-01-29 15:39] demonDragon12 opened #4258 "Add [Bodo Amat]"
@google-admin: Thanks alot
@**Font Project Git Repo URL:**
https://github.com/google/fonts/files/7964014/bodo_amat.zip

**Super short description of the Font Family:*
Great font for representing kid handwriting,

**Requirements:**
??
I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x bet

[2022-01-29 16:17] mitradranirban opened #4259 "Add Uniol unicode compliant Olchiki font"
the Uniol  font with source is available at https://github.com/mitradranirban/font-uniol/releases/tag/1
It supports OlChiki or Ol Cemet script used to write Santhali language

[2022-01-29 16:22] mitradranirban opened #4260 "Add [Uniol]"
**Font Project Git Repo URL:**

https://github.com/mitradranirban/font-uniol/
**Super short description of the Font Family:**
Unicode compliant Olchiki font

**Requirements:**
none
I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

- [x] The en

[2022-01-29 16:23] mitradranirban commented on #4259
official add request added #4260

[2022-01-29 16:23] #4259 closed

[2022-01-29 23:01] drewmcdowell commented on #3993
The alternative style set would be a solution, but it doesn't appear to work. `font-feature-settings: "ss02";` has no effect.

You can see my attempt to enable it here: https://codepen.io/drewmcdowell/pen/oNojpZQ

[2022-01-30 00:12] kenmcd commented on #3993
The discussion above is about the desktop fonts.
The web fonts served by Google Fonts do not have all the OpenType features.
What is and is not supported is not made clear anywhere.
But they do say this [here](https://fonts.google.com/knowledge/introducing_type/open_type_features_in_practice):
"At the time of writing, non-essential OpenType features aren’t included in web fonts served via Google F

[2022-01-30 02:55] davelab6 commented on #4260
@mitradranirban thanks for proposing this. Your repo is looking good as a start but there'll be some additional work needed on this project to meet all the gf requirements :) I'm not working full time at the moment and I'll need to look closer at this, which may take some time, but I'm pleased to see you're using fontforge and working on olchiki! Keep going!! :)

[2022-01-30 23:33] #2645 closed

[2022-01-31 15:23] yanone commented on #4221
The font uses Glyphs smart component which are currently not supported in fontmake. I asked Simon to look into supporting them

[2022-01-31 21:18] #4258 closed

[2022-02-01 02:29] rsheeter opened #4262 "Ascii filenames"
Please add validation to CI to block non-ascii filenames. For reference see https://github.com/google/fonts/commit/bcf4263eb6aff96b0608d10e363d00186c3434a7 which corrects one that snuck in. String fields inside protos can use unicode, just not the names of files themselves.

[2022-02-01 06:17] jalpadoshi commented on #4074
Icon now available on : https://fonts.google.com/icons

[2022-02-01 07:26] hubertlepicki commented on #1495
Should we like, reopen this?

https://www.zylstra.org/blog/2022/01/using-google-fonts-breaches-gdpr/

[2022-02-01 09:46] #4262 closed

[2022-02-01 15:30] NightFurySL2001 opened #4264 "Add WD-XL Lubrifont SC/TC"
**Font Project Git Repo URL:**

https://github.com/NightFurySL2001/WD-XL-font

Note: Please only add *Simplified Chinese (SC)* and *Traditional Chinese (TC)* version only; Japanese (JPS/JPN) version is a recent contribution and requires further testing.

**Super short description of the Font Family:**

WD-XL Lubrifont is a Chinese display font that emphasize on a compat yet welcoming experience, e

[2022-02-01 15:34] NightFurySL2001 commented on #2390
Please note that this font is highly suspicious of editing from [方正综艺](https://www.foundertype.com/index.php/FontInfo/index/id/178).

![image](https://user-images.githubusercontent.com/33471049/151998953-9c4dd57a-cff8-434b-923d-7219c2d11de2.png)

[2022-02-01 19:25] bublinec commented on #6
I am also experiencing issues with this.

[2022-02-02 01:09] digitaltim-de commented on #2357
UP please!

[2022-02-02 09:22] emmamarichal commented on #4227
The update of fontbakery brought a lot of normally non required missing glyphs.

## Fontbakery report

Fontbakery version: 0.8.6

<details>
<summary><b>[11] ABeeZee-Italic.ttf</b></summary>
<details>
<summary>💔 <b>ERROR:</b> Check for font-v versioning.</summary>

* [com.google.fonts/check/fontv](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/googlefonts.html#com.google.fonts/che

[2022-02-02 10:20] RosaWagner commented on #4227
I opened an issue to see with Felipe if the glyphs coverage is a mistake or…
https://github.com/googlefonts/fontbakery/issues/3583
I also forgot to report an error:
https://github.com/googlefonts/fontbakery/issues/3582

Also, I added ABeeZee to the camelcase allow-list in [that PR](https://github.com/googlefonts/fontbakery/pull/3569), so I don't know why there is still the fail. I'll check the fon

[2022-02-02 12:48] Wouter0100 commented on #1637
Honest question, why would you want to proxy it? I would just recommend to download the fonts (as they're free to use, if I'm not mistaken?) and host them yourself.

When you proxy it, the whole benefit of hosting it on a Google CDN is lost either way?

[2022-02-02 15:32] #2014 closed

[2022-02-02 23:18] trajano commented on #1637
Reason why you should proxy it ... you can be sued https://www.theregister.com/2022/01/31/website_fine_google_fonts_gdpr/

[2022-02-02 23:35] Wouter0100 commented on #1637
But.. then you would be better off downloading them and hosting them yourself?

[2022-02-03 01:43] trajano commented on #1637
That's one option, but that would entail a lot of code changes.  Remember there's two places you need to update

1. the CSS that gets generated from the `LINK` element
2. the actual TTF files.

What @nohn  provides is a less annoying way of changing the code base so that ideally it just changes the host name needed for Google fonts.

I took his idea and extended it to be a [docker image](https://g

[2022-02-03 09:08] SirRedrick opened #4266 "Open Sans, letter 'J' gets clipped"
**Description**
When using the font on the web, if overflow is set to hidden, some letters get clipped at the edge, the ones that I've noticed are italic 'y', 'p' 'A', 'J', 'j' 'x', and normal 'J' and 'j'

**To Reproduce**
You can see it on [Google Fonts](https://fonts.google.com/specimen/Open+Sans?preview.text=JJ&preview.text_type=custom) or if you use this font on the web page with the following

[2022-02-03 11:53] yanone commented on #4172
Hi @nermink99
We’ve evaluated your submission and have concluded that it’s too crude of a design to be publishable on Google Fonts. Below you’ll find just a few letters I’ve picket that illustrate problems with legibility and design consistency.

<img width="720" alt="Bildschirmfoto 2022-02-03 um 12 47 04" src="https://user-images.githubusercontent.com/175386/152337449-86e6925e-bc00-4b5e-9cff-665d

[2022-02-03 11:53] #4172 closed

[2022-02-03 11:54] #4165 closed

[2022-02-03 12:25] RosaWagner commented on #4264
Thanks for your submission. It looks promissing :) Would you consider exporting TTF files?
These is a page that can help you further to match GF expectations: https://googlefonts.github.io/gf-docs/Spec/

[2022-02-03 12:33] RosaWagner commented on #4242
Hi, the font and the repo don't respect some of the necessary requirements (I untick some of the cases accordingly). Your project is still not ready for publication on google fonts due to missing glyphs and license file (among other design issues). But continue your work and re-open this issue when your project is ready :)

-> Make sure you read all the linked documents above and comply to the req

[2022-02-03 12:33] #4242 closed

[2022-02-03 15:28] NightFurySL2001 commented on #4264
Thank you. I am not considering to export TTF files since AFDKO `makeotf` directly generates the `CFF ` table for OTFs, but if required I can add a conversion step using AFDKO `otf2ttf`.

I have read the GF Specs and I believe the font has fit most of the requirements, the few problems so far I see includes:

1. it is built using AFDKO not `fontmake` (but I believe that should not be a problem)
2.

[2022-02-03 16:37] RosaWagner commented on #4264
Yes, TTF files are required :) If you manage to have UFO files out of your source, you could compile them using `ufo2ft`

That is the correct way.

hhea.ascender and hhea.descender is not the same as the example value (but I think it is a good value for now)

Did you look into the guideline for CJK font? https://googlefonts.github.io/gf-docs/Spec/#cjk-vertical-metrics. In any case, since it's an e

[2022-02-04 02:59] NightFurySL2001 commented on #4264
![image](https://user-images.githubusercontent.com/33471049/152459722-84cc62e3-4189-4991-9932-f6fbf259dabd.png)

The specs sheet said to not set `OS/2.fsSelection` bit 7 (USE_TYPO_METRICS), and 0 line gap. Also, the font check failed for this too.

(P/S: Dr. should be capitalized)

That is written so I believe it is not a problem.

---

For family name, the name "WD-XL" was a RFN but removed in v2

[2022-02-04 08:11] michaelfrick111 commented on #4207
I can confirm that since last update received from ID the problem has disappeared. ID Version 17.1.
thank you,
rgds Michael Frick

[2022-02-04 08:11] #4207 closed

[2022-02-04 08:11] michaelfrick111 commented on #4207
See last remark.

[2022-02-04 10:14] RosaWagner commented on #4264
Yes, sorry I got confused with v-metric spec for non-CJK fonts :) you are right for the use_typo_metric flag. We usually prefer `typoLineGap = 0` to ensure same line spacing between web and desktop environment. Exceptions can be made for vertical metrics, that will have to be discussed with the person who grants exceptions (@davelab6).

The problem is linked to our toolchain, I don't know if we ca

[2022-02-04 14:00] NightFurySL2001 commented on #4264
No problem, I will wait for Dave for further suggestion and modification. `use_typo_metric` and `typoLineGap = 0` have been changed in my build tools, and I will wait for further suggestion for the `name` table.

Out of 8 fails, 6 have been related to `name` entries:

[code]

Two have been fixed.

[2022-02-04 15:45] #4227 closed

[2022-02-04 17:59] cssobral2013 commented on #2386
@M4RC1E - Could you reopen this issue? As of today, the API is not still displaying the italics.

[2022-02-04 18:57] #3319 closed

[2022-02-04 20:27] JayHoltslander commented on #2602
Subscribing as I am also having this issue.
Fonts in question: Jost and Montserrat on two different sites.
One site, local hosted font files, the other site, Google hosted.

[2022-02-05 08:17] J-Qs-archive opened #4269 "Some cyrillic characters aren't displayed in Comfortaa Regular"
**Describe the bug**
The cyrillic characters л, б aren't displayed in Fedora Linux 35. The upper case variants don't seem to be affected.

**To Reproduce**
Use Comfortaa Regular with mentioned cyrillic characters in Fedora 35.

**Expected behavior**
Correctly displayed characters

**Screenshots**
Comfortaa Regular:
![Screenshot-20220205115831-229x89](https://user-images.githubusercontent.com/85643

[2022-02-05 12:45] poposnail61 commented on #4216
Variable font has been updated

[2022-02-05 14:16] kenmcd commented on #4269
This appears to have been fixed in the fonts in the repository
https://github.com/googlefonts/comfortaa
And in the fonts available on Google Fonts
https://fonts.google.com/specimen/Comfortaa
The current version is 3.105.
You have version 3.101 and I can see this issue with those fonts.
So give the current fonts a try.
That should fix your issue.

[2022-02-05 19:37] J-Qs-archive commented on #4269
Thank you. After installing from Google Fonts and restarting GNOME-Shell, all characters begin to be displayed

[2022-02-05 19:37] #4269 closed

[2022-02-06 03:49] EmpAhmadK opened #4270 "Fix appearance of U+06BD (ڽ) in Noto Kufi Arabic"
The character ARABIC LETTER NOON WITH THREE DOTS ABOVE (U+06BD / ڽ, also known as ARABIC LETTER NYA) currently lacks its initial and medial form.

Currently, when the text "مڽلامتکن ڽاواڽ" is written, it would appear with the first and second U+06BD character not connecting to the other letters. This is contrary to what happens in other fonts such as Noto Naskh Arabic which displays the character

[2022-02-06 08:55] TsheRigs opened #4271 "Issue with Noto Sans Tibetan"
**Font name**
Noto Sans Tibetan

**Screenshots**
![Noto Sans Tibetan Issue](https://user-images.githubusercontent.com/99116487/152673742-ad1a9935-a3d4-48bb-a749-bdf166da317a.PNG)

[2022-02-06 14:20] EmpAhmadK opened #4272 "Add support for 4 Jawi characters to Noto Nastaliq Urdu"
Four (4) characters used in Jawi (Malay in Arabic script) are currently missing in the latest version of Noto Nastaliq Urdu. Although the font is specifically made for Urdu text, Jawi also often uses the Nastaliq script, thus it would be appropriate to add the support for all Jawi letters.

Jawi adds six (6) characters to the Arabic alphabet as listed below, in alphabetical order:

- Ca (چ ARABIC

[2022-02-06 15:40] CatharsisFonts commented on #2581
BTW, are you planning to add a variable font export? Wouldn't be a big deal with Glyphs, as far as I can tell.

[2022-02-06 19:44] wesleymaximum opened #4273 "Add [Showcard Gothic]"
**Font Project Git Repo URL:**
https://github.com/google/fonts/files/8011089/Showcard.Gothic.zip

**Super short description of the Font Family:**
Good for recommendations

**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x between the square brackets in text mode):

-

[2022-02-06 22:57] rsheeter commented on #4272
Attn @marekjez86

[2022-02-07 00:08] marekjez86 commented on #4272
we are tracking Noto issues in https://github.com/googlefonts/noto-fonts/issues . Created duplicate issue https://github.com/googlefonts/noto-fonts/issues/2244 because couldn't transfer this one

[2022-02-07 00:13] marekjez86 commented on #4271
@TsheRigs : thank you for the feedback; please also see https://github.com/googlefonts/noto-fonts/issues/1528 and https://github.com/googlefonts/noto-fonts/issues/2218 ; we'll try to fix these and more issues no later than April

[2022-02-07 21:30] davelab6 commented on #4233
Minisites

* https://aminabedi68.github.io/Estedad/
* https://aminabedi68.github.io/Mikhak/

[2022-02-08 15:39] forusak commented on #1564
funny, it's 2022, 4 years later and it's still not fixed

[2022-02-08 16:22] steve-perkins commented on #3757
Oh, this would be fantastic to see included.

You never got a response to your question, @twardoch, but yes there are options with Charis SIL.  A notorious issue with this font is that its line spacing is extremely wide compared to Charter and Georgia or other similar fonts.  The [FAQ](https://software.sil.org/lcgfonts/faq/) calls for adjusting your line height at the per-application level to comp

[2022-02-09 17:52] cssobral2013 opened #4286 "Update Nunito Sans to VF format"
**Font Project Git Repo URL:** https://github.com/googlefonts/NunitoSans/

**Current version:** 3.501 (static weights only, and no ExtraBlack nor Medium)

**New available version:** 3.501 (variable with all axes)

**Super short description of the upgrade:**
- Variable font with a x-height, slant, optical size, width, weight axes.
- Font is already onbaorded with italics, so VF needs to be separate

[2022-02-09 21:32] UVLabs opened #4287 "Moving from Google Fonts v1 to v2"
**Describe the issue**
I'm trying update(?) code from google fonts V1 to V2: https://developers.google.com/fonts/docs/css2 most of the implementation has been done and altering of the previous V1 URLs have taken place so they reflect the V2 changes.

Users in the application are given a dropdown where they can choose the font they'd like to use for display on their website.
The names of the google

[2022-02-10 07:41] shaminderossan opened #4288 "Issues with Catamaran font in Firefox (MacOS)"
The issue was checked in MacOS(Monterey) in Firefox v96. I am unable to replicate it in windows

I have made a codepen of the font where you can see the issue, https://codepen.io/sonuossan/pen/BampGvz
I am trying to load the font weight of 700 and that seems to be giving an issue
When you check in Firefox in Mac, you will see several discard errors related to loading of the font.
I am adding a scr

[2022-02-10 12:16] #4201 closed

[2022-02-10 12:39] RosaWagner opened #4289 "Update Syne with Grk set"
**Font Project Git Repo URL:**
https://gitlab.com/bonjour-monde/fonderie/syne-typeface

**Current version:**
2.000

**New available version:**
will be 2.001

**Super short description of the upgrade:**
Added Greek Script

**Bugs reported in this repo which this upgrade woul fix:**
STAT table thingy

- [x] QA repo
- [x] QA fonts
- [x] PR upstream https://gitlab.com/bonjour-monde/fonderie/syne-typef

[2022-02-10 20:42] RagaeGhaly commented on #3325
It’s obvious that the current Unicode for Coptic is useless in sorting characters, as the last seven characters (ϣ-ϯ) have lower Unicode values that the remaining characters (ⲁ-ⲱ). I am wondering for the large number of Coptologists and Egyptologists didn’t raise this issue. I hope this should be taking care of by the next version, and producing one complete block that contain all the Coptic chara

[2022-02-11 02:26] TimeSheepY opened #4292 "Add Chinese Font ‘JingNanFont’"
**Font Project Git Repo URL:**
https://github.com/Mike1490/JingNanYuanMo
https://github.com/Mike1490/JingNanMaiYuan

**Super short description of the Font Family:**
Bold black advertising font designed for headlines
**Requirements:**

I understand that Google Fonts will publish only fonts that matches its requirements, and I can confirm the project meets them (by ticking the cases, or putting x be

[2022-02-11 10:24] hogash commented on #4212
Issue still happening with v23 .

[2022-02-11 10:33] m4rc1e commented on #4212
Alright, I've finally bothered to make a test case, https://jsbin.com/movowohesu/edit?html,output.

I'll open up an issue with webkit.

[2022-02-11 11:32] RosaWagner commented on #2581
The idea is to export using our tool gftools builder (wrapper of fontmake and other post-process script), cause we have a (strict) policy of export in one click (which is necessary if any external user wants to export the font, then they would have a very clear way to do it).

Exporting with Glyphs would mean to:
1) export with Glyphs one time for each format with different export parameters accor

[2022-02-11 11:43] m4rc1e commented on #4212
No problem!

I understand this stuff is incredibly frustrating.

[2022-02-11 15:22] hlohrenz opened #4293 "[icon] DEF Level Icon Request"
#This issue also works for requesting features.

**Describe the issue**
Under a project for my company that I work for, we are in need of a DEF Level icon to be added to the material icon library since this is the standard we use throughout our application.

An icon that looks like the following, but in the style of the existing icons in the library:

![73bb8110-2631-4c0a-9592-a39dc826cf84](https:

[2022-02-11 15:38] CatharsisFonts commented on #2581
Hi Rosalie!

In principle, it's possible to export all formats of all instances of both Regular and Italic with one click if that click is used to activate a Python script in Glyphs. I have, in fact, written such a script (it's in the repo), but it inexplicably leaves out a few instances when exporting. Maybe fixing that script would be the easiest solution? (Unfortunately my Python skills are bas

[2022-02-11 16:29] RosaWagner opened #4294 "Correct Typo in Mirko's name"
Mirko has had his profile registered as Mirko Velimirović, but several metadata.pb of fonts have Velimirovi**c**. We need to correct that by correcting the credits the metadata.pb.

[2022-02-11 22:00] mikebmcl commented on #3413
The website appears to be updated however most of the fonts for Noto Sans and Noto Serif (NotoSans-Regular.ttf, NotoSerif-Regular.ttf... all of the eight except for NotoSans-Italic.ttf) still have Apache License, Version 2.0 in their Name table data. This is concerning because it raises legal issues as to whether the license documented on the website or the one specified in the table data of the f

[2022-02-14 16:27] hiddensea opened #4297 "Font zip does not work"
#This issue also works for requesting features.

**Describe the issue**
I try to open/extract the main.zip but file explorer says it is invalid

**To Reproduce**
Download and open/ extract the fonts-main.zip file at /archive

**Expected behavior**
to be able to install the fonts

**Additional context**
Using Firefox beta, Windows 11 home (insider)

**Screenshots**
![When I try to open it](https://

[2022-02-15 06:05] vovkab opened #4298 "Still serving old version of the Lato font"
**Describe the bug**
Even though Lato have been updated to 2.015 in https://github.com/google/fonts/pull/479, service still serving version 1.104.

**To Reproduce**
1. Navigate to https://fonts.google.com/specimen/Lato,
2. Click "Download Family"
3. Open any font and verify font version

**Expected behavior**
Should show version 2.015

**Actual behavior**
Downloaded fonts still using version 1.104

[2022-02-15 08:59] sudmar commented on #3600
Sorry for the bump, but maybe someone has any ideas how to fix this?

[2022-02-15 09:23] #4294 closed

[2022-02-15 12:04] DonaldDi opened #4299 "Ubuntu font doesn`t have symbol Russian Ruble ₽"
**Describe the bug**
We need to use russian ruble symbol, Ubuntu font dosent have it now.

**To Reproduce**
Just check list of glyphs here https://fonts.google.com/specimen/Ubuntu#glyphs

**Expected behavior**
Need to add russian ruble glyph unicode U+20BD

**Additional context**
We will be very appreciated for this little approve.

[2022-02-15 12:14] m4rc1e opened #4300 "Do we support the GRAD axis yet?"
We've soft launched a family which does have a GRAD axis yet it isn't visible in the GF UI.

[2022-02-15 16:02] tiroj commented on #3600
This looks like a possible hinting inconsistency being differently interpreted on Windows and Linux.

[2022-02-15 17:08] fitojb commented on #4299
I reported this one back in 2014: https://bugs.launchpad.net/ubuntu-font-family/+bug/1345591

[2022-02-15 19:38] frederik-jimdo opened #4301 "Update Halant"
**Font Project Git Repo URL:**
https://github.com/google/fonts/tree/main/ofl/halant

**Current version:**
v1.101

**New available version:**
v1.102

**Super short description of the upgrade:**
bug fix for misalignment of Latin diacritic glyphs

**Bugs reported in this repo which this upgrade would fix:**
https://github.com/google/fonts/issues/1068

[Halant-v1.102.zip](https://github.com/google/fon

[2022-02-15 19:40] frederik-jimdo commented on #1068
@RosaWagner I fixed the Latin Diacritic Glyphs in Halant and filed #4301

[2022-02-15 20:18] thlinard commented on #4301
This would probably be better:

**Font Project Git Repo URL:**
https://github.com/itfoundry/halant

**Current version:**
v1.101

**New available version:**
v2.000

**Super short description of the upgrade:**
Many improvements.

**Bugs reported in this repo which this upgrade would fix:**
#1068
#105 (partially)

[2022-02-15 20:24] frederik-jimdo commented on #4301
@thlinard I agree. The new version does have some stylistic changes to some glyphs, e.g. the upper case Q, but probably better to go with the latest upstream.

[2022-02-16 01:25] z01font opened #4302 "Add ZoomlaMengyas-A080"
Font Project Git Repo URL:
https://github.com/z01font/ZoomlaMengyas

Super short description of the Font Family:
A good Chinese character library，by Jiangxi ZoomlaCMS Soft Co. LTD,Belong to the z01 family.
Chinese fonts follow GB2312 standard,English and Latin characters conform to GoogleFonts standards.

Requirements:

I understand that Google Fonts will publish only fonts that matches its requir

[2022-02-16 09:19] RosaWagner commented on #4137
please @thlinard don't add stuff like label names into the titles, we get it from the content of the issue.

[2022-02-16 09:24] thlinard commented on #4137
These labels were missing from the issues: you just added them, so it was not useless.

[2022-02-16 09:31] thlinard commented on #4137
https://stackoverflow.com/questions/13829466/how-to-put-a-label-on-an-issue-in-github-if-you-are-not-a-contributor-owner

[2022-02-16 09:37] RosaWagner commented on #4298
The upgrade is already planned in #3978

[2022-02-16 09:37] #4298 closed

[2022-02-16 10:08] RosaWagner commented on #4297
Can't replicate with Edge / Windows 11. Check out your environment or try another browser :) Closing this since we can't do much on our side.

[2022-02-16 10:08] #4297 closed

[2022-02-16 10:11] RosaWagner commented on #4292
We can't add fonts if the source files are not available.
Please re-read te contributing requirements and the upstream repo structure, and feel free to re-open this issue when all requirements are completed :)

[2022-02-16 10:11] #4292 closed

[2022-02-16 10:11] RosaWagner commented on #4302
We can't add fonts if the source files are not available (in the linked repo).
Please re-read te contributing requirements and the upstream repo structure, and feel free to re-open this issue when all requirements are completed :)

[2022-02-16 10:11] #4302 closed

[2022-02-16 10:21] RosaWagner commented on #4286
Need axis registration for `slant` and `xheight` axes

[2022-02-16 10:27] RosaWagner commented on #4273
Thanks for the recommendation. This font is actually not open source and shouldn't be used for free (https://store.typenetwork.com/foundry/fontbureau/fonts/showcard-gothic), so I'll also remove the download link from this issue. Please make sure all requirements are respected before making a submission :)

[2022-02-16 10:27] #4273 closed

[2022-02-16 10:29] RosaWagner commented on #4272
thanks @marekjez86 for transferring the issue :) Feel free to close all the Noto Fonts related issues from this repo if they are already transferred/duplicated.

[2022-02-16 10:29] #4272 closed

[2022-02-16 10:30] #4271 closed

[2022-02-16 11:25] RosaWagner commented on #4137
I didn't say it was useless, I said I can get it from the issue content, so I don't have to rename the issues on top of other stuff :)

If you want to be super explicit about the labels to use, please be my guest and add it in the issue content. I would ignore for other users but since you have your habits here, I prefer to let you know :)

[2022-02-16 11:31] thlinard commented on #4137
Oh, OK, no problem, if you prefer that I put the suggested labels in the body of the text rather than in the subject, I'll do so. 😀

[2022-02-16 13:51] jhansche commented on #4298
@RosaWagner that PR is for Lato v3. This issue is about v1 vs V2. I don't think v3 is the solution here?

[2022-02-16 14:17] RosaWagner opened #4310 "Display bug with Nunito"
<img width="1201" alt="Capture d’écran 2022-02-16 à 11 35 01" src="https://user-images.githubusercontent.com/12222436/154282709-8a8d6b71-4ce2-48fd-96f8-fc0dea6276c8.png">

Could be an API issue, but noticed issues with instances and general VF set up. Fixed in #4309, see if it resolves the display issue in GF.

[2022-02-16 14:52] jvgaultney commented on #3755
Gentium Plus has been updated to v6.101. It would be very good to get this updated as planned.

Gentium Plus 7 (2023?) will be axis-based, following the [Google spec for static fonts](https://github.com/googlefonts/gf-docs/tree/main/Spec#static-fonts), but that is still a long way off.

[2022-02-16 14:52] jvgaultney commented on #3756
Andika has been updated to v6.101. It would be very good to get this updated as planned.

[2022-02-16 14:52] jvgaultney commented on #3757
Charis SIL has been updated to v6.101, which supports TypeTuner Web as Steve mentioned. We recommend that the normal (wide line spacing) version be hosted on Google as it is the primary version we maintain. It also meets the Google [vertical metrics guidelines](https://github.com/googlefonts/gf-docs/tree/main/VerticalMetrics). The 'Compact' version is available through TypeTuner Web, but we no lon

[2022-02-16 18:29] vv-monsalve opened #4311 "Add Geologica"
**Font Project Git Repo URL:**
https://github.com/monokromskriftforlag/geologisk

**Super short description of the Font Family:**
Geologica is grounded in the humanist genre, but leans assertively into geometric. Geologica a serious text typeface. The stylistic “Terminal Shape” axis adds a rational interpretation of calligraphic pen strokes – a modernist echo of the roots of writing.

[2022-02-16 22:57] davelab6 commented on #4207
I also ran into this on a project with Roboto Serif, and confirmed 17.1 fixed it!

[2022-02-16 23:54] davelab6 commented on #3830
We can by exception publish font families without Latin; this is a good candidate for this. We simply don't include a `subset: latin` in the METADATA and then ask the GF eng team to set the font 'menu' subset to be made with another family (typically Roboto), which we have to do for unreadable fonts like Barcode and Flow fonts.

I propose we do so in this case, as the typeface is historically spec

[2022-02-17 01:47] z01font commented on #4302
We updated the Repositories,requested re open this issue,thanks!

[2022-02-17 01:55] z01font opened #4312 "Add ZoomlaMengyas-A080 逐浪萌芽字"
Font Project Git Repo URL:
https://github.com/z01font/ZoomlaMengyas-A080

Super short description of the Font Family:
A good Chinese character library，by Jiangxi ZoomlaCMS Soft Co. LTD,Belong to the z01 family.
Chinese fonts follow GB2312 standard,English and Latin characters conform to GoogleFonts standards.

Requirements:

I understand that Google Fonts will publish only fonts that matches its r

[2022-02-17 10:35] philipminev commented on #4250
Hi Marc, any luck with this issue?

[2022-02-17 11:19] fitojb commented on #4250
The main issue is that the Regular style is too thin, of course, causing the family to need aggressive gridfitting/hinting.

[2022-02-17 12:16] elnath78 opened #4315 "Roboto Serif Missing?"
Cannot find this font in the archive, probably it is under a different name? Also why name it Roboto Serif when it is a Sans Serif font?

[2022-02-17 12:24] m4rc1e commented on #4315
See #4303. Hasn't been merged yet.

[2022-02-17 13:02] elnath78 commented on #4315
@m4rc1e why call it Serif while the font is under Sans Serif category in Google Fonts?

[2022-02-17 13:34] philipminev commented on #4250
I can only confirm that that font was fine with the above CSS. Something must have change along the way. We are also not sure if this is a Google Fonts issue or Windows, because there are not issue with the  CSS on Linux and Mac.

[2022-02-17 16:41] davelab6 commented on #4187
odd. I now also can't reproduce this. no idea what was going on. Closing :)

[2022-02-17 16:41] #4187 closed

[2022-02-17 16:54] #4260 closed

[2022-02-17 17:13] davelab6 commented on #4264
@NightFurySL2001 thanks for submitting this  :) It will take us some time to work through this, but I am keen to add this to the GF library - as you surely know, we need to add many TC fonts :)

[2022-02-17 17:23] RosaWagner commented on #329
@emmamarichal this is the new repo so we can move forward on this projects: [googlefonts/Libre-Bodoni](https://github.com/googlefonts/Libre-Bodoni/)

[2022-02-17 17:23] davelab6 commented on #4144
@ktkm thanks for this submission and apologies for my lack of communication recently, I had to take some time off work in recent months but I'm now ramping back up :)

This is great work and so I expect it will go on smoothly, so assigning to @emmamarichal :)

[2022-02-17 17:26] davelab6 commented on #4218
Thanks @tiroj for the analysis!

I would love to commission @alexeiva to work on this "raisin" this year and sort this out :)

[2022-02-17 17:39] davelab6 commented on #2386
Sadly while the PR was merged, this hasn't been pushed through to the API, and needs further (internal) discussion.

[2022-02-17 18:03] RosaWagner commented on #4312
It looks like you took the sources from another font and add it to the repo. I am sorry your repo is not respecting the requirements and the font could also need more work. We can't accept this submission but we encourage you to continue improving your design.

[2022-02-17 18:03] #4312 closed

[2022-02-17 20:14] alexeiva commented on #4218
<img width="962" alt="Screenshot 2022-02-17 at 22 58 03" src="https://user-images.githubusercontent.com/16634089/154561000-b9c3dcd3-8833-401c-baec-df92f52b1539.png">

Comfortaa is a hybrid-Bulgarian style, similar to [Sputnik Display](https://mariadoreuli.wordpress.com/2015/03/10/886/)
For me a Russian reader this style is okay as a display font, but not as a text font.

[Parangon](https://www.par

[2022-02-17 21:41] ktkm commented on #4144
Thank you @RosaWagner and @davelab6!

[2022-02-18 00:17] NightFurySL2001 commented on #4264
No problem, thank you for accepting the submission too. I would like to ask for some suggestions to the `name` table for my font as most issues from FontBakery is related to the copyright string format and font name (ref above discussion, the metrics issue is fixed on my local dev branch)

Also, can you add the CJK tag the same as the Nanum font issue?
________________________________
From: Dave C

[2022-02-18 00:47] z01font commented on #4312
Dear, this is not from another font added to our works, but from the handwritten font of a magazine more than 100 years ago, digital creation and artistic innovation have been carried out to create a new open source font. This new open source font has been praised in China and hopes to be added to Google fonts.
We have complete copyright, no plagiarism, no decompilation, no infringement.

亲爱的，这不是从

[2022-02-18 03:10] eliheuer opened #4325 "Add Solitreo"
**Font Project Git Repo URL:** https://github.com/ladinoprojects/solitreo

**Super short description of the Font Family:**

This font was developed by the [Documenting Judeo-Spanish Project](https://documentingjudeospanish.com/).

Solitreo refers to the Hebrew-based cursive script once used by Sephardim; it is the cursive variety of the Rashi alphabet. Solitreo, or Soletreo, is derived from Galici

[2022-02-18 03:20] Lafontype commented on #4213
I don't know how to get a response. At least give an opinion if this is not worth including in google font library, so I can make an update.

[2022-02-18 09:32] RosaWagner commented on #4310
FYI the display bug is an API issue, somehow when you type a glyph that was not in the sample, you need to refresh the page so it doesn't display missing glyphs. Although this was the opportunity to add missing instances in Nunito.

[2022-02-18 09:36] m4rc1e commented on #4310
cc @garretrieger

[2022-02-18 16:37] sonphung90 opened #4327 "Roboto Serif error with utf-8"
Some styles not work as expected. Please help fix this. Thank you

![image](https://user-images.githubusercontent.com/13192845/154724193-32f0bd3a-edf3-43f1-baec-ca6da677f2ca.png)
![image](https://user-images.githubusercontent.com/13192845/154724268-5d9ac40f-23b4-4def-9a19-7ebce0cfb0e1.png)

[2022-02-18 16:50] RosaWagner commented on #4327
What happens if you refresh the page?

[2022-02-18 17:09] RosaWagner opened #4328 "Roboto Serif needs better vertical metrics"
typoAscender is way too low and cause clipping in some instances on the specimen page.
Also caps should be centered (cf https://twitter.com/evowizz/status/1494328326139174915?s=28)

<img width="252" alt="Capture d’écran 2022-02-18 à 18 08 29" src="https://user-images.githubusercontent.com/12222436/154729651-42527c95-4732-473b-9144-14728e7c1222.png">

<img width="352" alt="Capture d’écran 2022-0

[2022-02-18 18:00] #4178 closed, assigned to aaronbell

[2022-02-18 18:05] RosaWagner commented on #4239
Thanks for your recommendation. Unfortunately w can't onboard a font that is not licensed under OFL, and also without a repository with available fonts.

[2022-02-18 18:05] #4239 closed

[2022-02-18 18:10] RosaWagner commented on #4168
Thanks, we'll review the submission. In the meanwhile, @jaikishanpatel can you fill up [this form](https://docs.google.com/forms/d/e/1FAIpQLSeMwHN8J213ZaxHrr5lHCrX56HY_NjGrWB8o604g98YxuMrdA/viewform) so we can add your profile for the other fonts already onboarded?

[2022-02-18 18:13] RosaWagner commented on #4219
Thanks for the recommendation :) Unfortunately, it looks like the font is not licensed under the OFL license (https://fontstruct.com/fontstructions/show/2045306/wafflefieldstudio-sans-ex-1). Therefore we can't onboard it.

[2022-02-18 18:13] #4219 closed

[2022-02-18 18:14] m4rc1e commented on #4328
Vertical metrics are based on Roboto, https://github.com/CommercialType/RobotoSerif/issues/3#issuecomment-623671347